<legend>Publication information</legend>
<% if @article.publication.empty? %>
  <% @article.publication.build %>
<% end %>
<% @article.publication.each do |p| %>
  <% if p.hasDocument.empty? %>
    <% p.hasDocument.build %>
  <% end %>
  <% if p.publisher.empty? %>
    <% p.publisher.build %>
  <% end %>
  <div class="field">
    <%= label_tag "article[publication][][publicationStatus]", "Publication status", :class=>"control-label" %>
    <%= select_tag "article[publication][][publicationStatus]", options_for_select(Sufia.config.publication_status, :selected=>p.publicationStatus.first) %>
  </div>
  <div class="field">
    <%= label_tag "article[publication][][reviewStatus]", "Review status", :class=>"control-label" %>
    <%= select_tag "article[publication][][reviewStatus]", options_for_select(Sufia.config.review_status, :selected=>p.reviewStatus.first) %>
  </div>
  <% p.publisher.each do |p2| %>
    <div class="field">
      <%= label_tag "article[publication][][publisher][][name]", "Publisher name", :class=>"control-label" %>
      <%= text_field_tag "article[publication][][publisher][][name]", p2.name.first %>
    </div>
    <div class="field">
      <%= label_tag "article[publication][][publisher][][website]", "Publisher website", :class=>"control-label" %>
      <%= text_field_tag "article[publication][][publisher][][website]", p2.website.first %>
    </div>
  <% end %> 
  <div class="field">
    <%= label_tag "article[publication][][dateAccepted]", "Date of acceptance", :class=>"control-label" %>
    <%= date_field_tag "article[publication][][dateAccepted]", p.dateAccepted.first %>
  </div>
  <div class="field">
    <%= label_tag "article[publication][][datePublished]", "Date published", :class=>"control-label" %>
    <%= date_field_tag "article[publication][][datePublished]", p.datePublished.first %>
  </div>
  <div class="field">
    <%= label_tag "article[publication][][location]", "Place of publication", :class=>"control-label" %>
    <%= text_field_tag "article[publication][][location]", p.location.first %>
  </div>
  <% p.hasDocument.each do |p2| %>
    <% if p2.journal.empty? %>
      <% p2.journal.build %>
    <% end %>
    <% if p2.series.empty? %>
      <% p2.series.build %>
    <% end %>
    <div class="field">
      <%= label_tag "article[publication][][hasDocument][][doi]", "DOI", :class=>"control-label" %>
      <%= text_field_tag "article[publication][][hasDocument][][doi]", p2.doi.first %>
    </div>
    <div class="field">
      <%= label_tag "article[publication][][hasDocument][][uri]", "URL for publisher copy of the document", :class=>"control-label" %>
      <%= text_field_tag "article[publication][][hasDocument][][uri]", p2.uri.first %>
    </div>
    <div class="field">
      <%= label_tag "article[publication][][hasDocument][][identifier]", "Article number", :class=>"control-label" %>
      <%= text_field_tag "article[publication][][hasDocument][][identifier]", p2.identifier.first %>
    </div>
    <% p2.series.each do |p4| %>
      <div class="field">
        <%= label_tag "article[publication][][hasDocument][][series][][title]", "Name of series" %>
        <%= text_field_tag "article[publication][][hasDocument][][series][][title]", p4.title.first %>      
      </div>
    <% end %>
    <% p2.journal.each do |p3| %>
      <div class="field">
        <%= label_tag "article[publication][][hasDocument][][journal][][title]", "Journal title", :class=>"control-label" %>
        <%= text_field_tag "article[publication][][hasDocument][][journal][][title]", p3.title.first %>
      </div>
      <div class="field">
        <%= label_tag "article[publication][][hasDocument][][journal][][issn]", "Journal ISSN", :class=>"control-label" %>
        <%= text_field_tag "article[publication][][hasDocument][][journal][][issn]", p3.issn.first %>
      </div>
      <div class="field">
        <%= label_tag "article[publication][][hasDocument][][journal][][eissn]", "Journal eISSN", :class=>"control-label" %>
        <%= text_field_tag "article[publication][][hasDocument][][journal][][eissn]", p3.eissn.first %>
      </div>
      <div class="field">
        <%= label_tag "article[publication][][hasDocument][][journal][][volume]", "Journal volume", :class=>"control-label" %>
        <%= text_field_tag "article[publication][][hasDocument][][journal][][volume]", p3.volume.first %>
      </div>
      <div class="field">
        <%= label_tag "article[publication][][hasDocument][][journal][][issue]", "Journal issue", :class=>"control-label" %>
        <%= text_field_tag "article[publication][][hasDocument][][journal][][issue]", p3.issue.first %>
      </div>
      <div class="field">
        <%= label_tag "article[publication][][hasDocument][][journal][][pages]", "Page range", :class=>"control-label" %>
        <%= text_field_tag "article[publication][][hasDocument][][journal][][pages]", p3.pages.first %>
      </div>
    <% end %>
  <% end %>
<% end %>

