<h4 class="padding-side-25">Publication information</h4>

<% if publication.empty? %>
  <% publication.build %>
<% end %>

<% publication.each do |p| %>
  <%= f.fields_for :publication, p do |f_p| %>
    <% if p.hasDocument.empty? %>
      <% p.hasDocument.build %>
    <% end %>
    <% if p.publisher.empty? %>
      <% p.publisher.build %>
    <% end %>

    <div class="fieldset">
      <p class="small">Publication status</p>
      <%= f_p.select :publicationStatus, options_for_select(Sufia.config.publication_status, :selected=>p.publicationStatus.first), { :include_blank => 'Select status' }, data: {"progress" => "discoverability"} %>
      <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability" , :tipTitle => "Publication status" , :tipDescription => "What is the status of your publication, with respect to it being published?" } %>
    </div>

    <div class="fieldset">
      <p class="small">Review status</p>
      <%= f_p.select :reviewStatus, options_for_select(Sufia.config.review_status, :selected=>p.reviewStatus.first), { :include_blank => 'Select status' }, data: {"progress" => "discoverability"} %>
      <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability" , :tipTitle => "Review status" , :tipDescription => "Has your publication been through a reviewed process and if yes, what is the status?" } %>
    </div>

    <div class="bottom-border padding-side-25"></div>

    <% p.publisher.each do |p2| %>
      <%= f_p.fields_for :publisher, p2 do |f_p2| %>
        <% if p2.agent.empty? %>
          <% p2.agent.build %>
        <% end %>

        <% p2.agent.each do |p3| %>
          <%= f_p2.fields_for :agent, p3 do |f_p3| %>
            <% nameVal = p3.name.first || p2.name.first #TODO: Remove once old model is deprecated %>
            <% websiteVal = p3.website.first || p2.website.first #TODO: Remove once old model is deprecated %>

            <div class="fieldset">
              <p class="small">Publisher name</p>
              <%= f_p3.text_field :name, :value => nameVal, data: {"progress" => "citation"} %>
              <%= render partial: '/shared/tooltip', :locals => {:tipType => "citation" , :tipTitle => "Publisher name" , :tipDescription => "Enter the name of the body making the data publicly available. 
              For data produced at Oxford, this will usually be the University of Oxford." } %>
            </div>

            <div class="fieldset">
              <p class="small">Publisher website</p>
              <%= f_p3.text_field :website, :value => websiteVal, data: {"progress" => "documentation"} %>
              <%= render partial: '/shared/tooltip', :locals => {:tipType => "documentation" , :tipTitle => "Publisher website" , :tipDescription => "If you know your publisher's website, add it here." } %>
            </div>
          <% end %>
        <% end %>
      <% end %> 
    <% end %> 

    <div class="bottom-border padding-side-25"></div>

    <div class="fieldset">
      <p class="small">Date of acceptance</p>
      <%= f_p.date_field :dateAccepted, :value => p.dateAccepted.first, data: {"progress" => "funder"} %>
      <%= render partial: '/shared/tooltip', :locals => {:tipType => "funder" , :tipTitle => "Date of acceptance" , :tipDescription => "What is the date your publication was accepted for publication" } %>
    </div>

    <div class="fieldset">
      <p class="small">Date published</p>
      <%= f_p.date_field :datePublished, :value => p.datePublished.first, data: {"progress" => "citation"} %>
      <%= render partial: '/shared/tooltip', :locals => {:tipType => "citation" , :tipTitle => "Date published" , :tipDescription => "What is the date your publication was published" } %>
    </div>

    <div class="fieldset">
      <p class="small">Place of publication</p>
      <%= f_p.text_field :location, :value => p.location.first, data: {"progress" => "documentation"} %>
      <%= render partial: '/shared/tooltip', :locals => {:tipType => "documentation" , :tipTitle => "Place of publication" , :tipDescription => "If your publisher is a large multi-national with multiple locations, where was your publication published?" } %>
    </div>

    <div class="bottom-border padding-side-25"></div>

    <% p.hasDocument.each do |p2| %>
      <% if p2.journal.empty? %>
        <% p2.journal.build %>
      <% end %>
      <% if p2.series.empty? %>
        <% p2.series.build %>
      <% end %>

      <%= f_p.fields_for :hasDocument, p2 do |f_p2| %>
        <div class="fieldset">
          <p class="small">DOI</p>
          <%= f_p2.text_field :doi, :value => p2.doi.first, :style => "width: 150px;", data: {"progress" => "citation"} %>
          <%= render partial: '/shared/tooltip', :locals => {:tipType => "citation" , :tipTitle => "DOI" , :tipDescription => "What is the DOI of your publication?" } %>
        </div>

        <div class="fieldset">
          <p class="small">URL for publisher copy of the document</p>
          <%= f_p2.text_field :uri, :value => p2.uri.first, data: {"progress" => "discoverability"} %>
          <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability" , :tipTitle => "URL of publisher copy" , :tipDescription => "If the DOI is not available for your publication, do you know the URL where the publisher's version of the publication is available online?" } %>
        </div>

        <div class="fieldset">
          <p class="small">Article number</p>
          <%= f_p2.text_field :identifier, :value => p2.identifier.first, :style => "width: 150px;", data: {"progress" => "discoverability"} %>
          <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability" , :tipTitle => "Article number" , :tipDescription => "If your publication is an online only publication, do you know it's article number given by the publisher?" } %>
        </div>

        <div class="bottom-border padding-side-25"></div>

        <% p2.series.each do |p3| %>
          <%= f_p2.fields_for :series, p3 do |f_p3| %>
            <div class="fieldset">
              <p class="small">Title of series</p>
              <%= f_p3.text_field :title, :value => p3.title.first, data: {"progress" => "discoverability"} %>
              <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability" , :tipTitle => "Series" , :tipDescription => "If your publication is published as a part of a series, add the title of the series here" } %>
            </div>
          <% end #fields for each series %>
        <% end #each series %>

        <div class="bottom-border padding-side-25"></div>

        <% p2.journal.each do |p3| %>
          <%= f_p2.fields_for :journal, p3 do |f_p3| %>

            <div class="fieldset">
              <p class="small">Journal title</p>
              <%= f_p3.text_field :title, :value => p3.title.first, data: {"progress" => "citation"} %>
              <%= render partial: '/shared/tooltip', :locals => {:tipType => "citation" , :tipTitle => "Journal title" , :tipDescription => "If your publication is published in a journal, add the name of the journal here" } %>
            </div>

            <div class="fieldset">
              <p class="small">Journal ISSN</p>
              <%= f_p3.text_field :issn, :value => p3.issn.first, data: {"progress" => "discoverability"} %>
              <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability" , :tipTitle => "Journal ISSN" , :tipDescription => "If your publication is published in a journal, add the ISSN fo the journal here" } %>
            </div>

            <div class="fieldset">
              <p class="small">Journal eISSN</p>
              <%= f_p3.text_field :eissn, :value => p3.eissn.first, data: {"progress" => "discoverability"} %>
              <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability" , :tipTitle => "Journal eISSN" , :tipDescription => "If your publication is published in an online journal, add the eISSN fo the journal here" } %>
            </div>

            <div class="fieldset">
              <p class="small">Journal volume</p>
              <%= f_p3.text_field :volume, :value => p3.volume.first, data: {"progress" => "citation"} %>
              <%= render partial: '/shared/tooltip', :locals => {:tipType => "citation" , :tipTitle => "Journal volume" , :tipDescription => "If your publication is published in a journal, add the volume number or name here" } %>
            </div>

            <div class="fieldset">
              <p class="small">Journal issue</p>
              <%= f_p3.text_field :issue, :value => p3.issue.first, data: {"progress" => "citation"} %>
              <%= render partial: '/shared/tooltip', :locals => {:tipType => "citation" , :tipTitle => "Journal issue" , :tipDescription => "If your publication is published in a journal, add the issue number or name here" } %>
            </div>

            <div class="fieldset">
              <p class="small">Page range</p>
              <%= f_p3.text_field :pages, :value => p3.pages.first, data: {"progress" => "citation"} %>
              <%= render partial: '/shared/tooltip', :locals => {:tipType => "citation" , :tipTitle => "Page range" , :tipDescription => "If your publication is published in a journal, add the page number or range within the issue in whihc it is published" } %>
            </div>

          <% end #fields for each journal %>
        <% end #each journal %>
      <% end #fields for each document %>
    <% end #each document %>
  <% end #fields for each publication %>
<% end #each publication %>

