<% hasData = false %>
<% if !article.publication.nil? && !article.publication[0].nil? %>
  <% if !article.publication[0].publicationStatus.empty? && !article.publication[0].publicationStatus[0].empty? %>
    <% hasData = true %>
  <% end %>
  <% if !article.publication[0].reviewStatus.empty? && !article.publication[0].reviewStatus[0].empty? %>
    <% hasData = true %>
  <% end %>
  <% if !article.publication[0].datePublished.empty? && !article.publication[0].datePublished[0].empty? %>
    <% hasData = true %>
  <% end %>
  <% if !article.publication[0].location.empty? && !article.publication[0].location[0].empty? %>
    <% hasData = true %>
  <% end %>
  <% if !article.publication[0].dateAccepted.empty? && !article.publication[0].dateAccepted[0].empty? %>
    <% hasData = true %>
  <% end %>
  <% if !article.publication[0].hasDocument.nil? && !article.publication[0].hasDocument[0].nil? %>
    <% if !article.publication[0].hasDocument[0].identifier.empty? && !article.publication[0].hasDocument[0].identifier[0].empty? %>
      <% hasData = true %>
    <% end %>
    <% if !article.publication[0].hasDocument[0].doi.empty? && !article.publication[0].hasDocument[0].doi[0].empty? %>
      <% hasData = true %>
    <% end %>
    <% if !article.publication[0].hasDocument[0].uri.empty? && !article.publication[0].hasDocument[0].uri[0].empty? %>
      <% hasData = true %>
    <% end %>
    <% if !article.publication[0].hasDocument[0].journal.nil? && !article.publication[0].hasDocument[0].journal[0].nil? %>
      <% if !article.publication[0].hasDocument[0].journal[0].title.empty? && !article.publication[0].hasDocument[0].journal[0].title[0].empty? %>
        <% hasData = true %>
      <% end %>
      <% if !article.publication[0].hasDocument[0].journal[0].issn.empty? && !article.publication[0].hasDocument[0].journal[0].issn[0].empty? %>
        <% hasData = true %>
      <% end %>
      <% if !article.publication[0].hasDocument[0].journal[0].eissn.empty? && !article.publication[0].hasDocument[0].journal[0].eissn[0].empty? %>
        <% hasData = true %>
      <% end %>
      <% if !article.publication[0].hasDocument[0].journal[0].volume.empty? && !article.publication[0].hasDocument[0].journal[0].volume[0].empty? %>
        <% hasData = true %>
      <% end %>
      <% if !article.publication[0].hasDocument[0].journal[0].issue.empty? && !article.publication[0].hasDocument[0].journal[0].issue[0].empty? %>
        <% hasData = true %>
      <% end %>
      <% if !article.publication[0].hasDocument[0].journal[0].pages.empty? && !article.publication[0].hasDocument[0].journal[0].pages[0].empty? %>
        <% hasData = true %>
      <% end %>
    <% end %>
    <% if !article.publication[0].hasDocument[0].series.nil? && !article.publication[0].hasDocument[0].series[0].nil? && !article.publication[0].hasDocument[0].series[0].title.empty? && !article.publication[0].hasDocument[0].series[0].title[0].empty? %>
      <% hasData = true %>
    <% end %>
  <% end %>
  <% if !article.publication[0].publisher.nil? && !article.publication[0].publisher[0].nil? && !article.publication[0].publisher[0].agent.nil? && !article.publication[0].publisher[0].agent[0].nil? %>
    <% if !article.publication[0].publisher[0].agent[0].name.empty? && !article.publication[0].publisher[0].agent[0].name[0].empty? %>
      <% hasData = true %>
    <% end %>
  <% end %>
<% end %>  
<% if hasData %>
  <% article.publication.each do |p| %>
    <% if !p.publicationStatus.empty? && !p.publicationStatus[0].empty? %>
      <p><span class="h6">Publication status:</span> <%= p.publicationStatus.first %></p>
    <% end %>
    <% if !p.reviewStatus.empty? && !p.reviewStatus[0].empty? %>
      <p><span class="h6">Review status:</span> <%= p.reviewStatus.first %></p>
    <% end %>
    <% if !p.datePublished.empty? && !p.datePublished[0].empty? %>
      <p><span class="h6">Date published:</span> <%= p.datePublished.first %></p>
    <% end %>
    <% if !p.location.empty? && !p.location[0].empty? %>
      <p><span class="h6">Place of publication:</span> <%= p.location.first %></p>
    <% end %>
    <% if !p.dateAccepted.empty? && !p.dateAccepted[0].empty? %>
      <p><span class="h6">Date of acceptance:</span> <%= p.dateAccepted.first %></p>
    <% end %>
    <% if !p.hasDocument.nil? %>
      <% p.hasDocument.each do |p2| %>
        <% if !p2.identifier.empty? && !p2.identifier[0].empty? %>
          <p><span class="h6">Article number:</span> <%= p2.identifier.first %></p>
        <% end %>
        <% if !p2.doi.empty? && !p2.doi[0].empty? %>
          <p><span class="h6">DOI:</span><%=link_to p2.doi.first, article.remote_uri_for(p2.doi.first).to_s %></p>
        <% end %>
        <% if !p2.uri.empty? && !p2.uri[0].empty? %>
         <p><span class="h6">URI:</span> <%= p2.uri.first %></p>
        <% end %>
        <% if !p2.journal.nil? %>
          <% p2.journal.each do |p3| %>
            <% if !p3.title.nil? && !p3.title.empty? && !p3.title[0].nil? && !p3.title[0].empty? %>
              <p><span class="h6">Journal title:</span> <%= p3.title.first %></p>
            <% end %>
            <% if !p3.issn.nil? && !p3.issn.empty? && !p3.issn[0].nil? && !p3.issn[0].empty? %>
              <p><span class="h6">Journal ISSN:</span> <%= p3.issn.first %></p>
            <% end %>
            <% if !p3.eissn.nil? && !p3.eissn.empty? & !p3.eissn[0].nil? && !p3.eissn[0].empty? %>
              <p><span class="h6">Journal eISSN:</span> <%= p3.eissn.first %></p>
            <% end %>
            <% if !p3.volume.nil? && !p3.volume.empty? & !p3.volume[0].nil? && !p3.volume[0].empty? %>
              <p><span class="h6">Journal volume:</span> <%= p3.volume.first %></p>
            <% end %>
            <% if !p3.issue.nil? && !p3.issue.empty? & !p3.issue[0].nil? && !p3.issue[0].empty? %>
              <p><span class="h6">Journal issue:</span> <%= p3.issue.first %></p>
            <% end %>
            <% if !p3.pages.nil? && !p3.pages.empty? & !p3.pages[0].nil? && !p3.pages[0].empty? %>
              <p><span class="h6">Page range:</span> <%= p3.pages.first %></p>
            <% end %>
          <% end #each journal %>
        <% end #journal %>
        <% if !p2.series.nil? %>
          <% p2.series.each do |p3| %>
            <% if !p3.title.empty? && !p3.title[0].empty? %>
              <p><span class="h6">Series:</span> <%= p3.title.first %></p>
            <% end %>
          <% end #each series %>
        <% end #series %>
      <% end #each document %>
    <% end #hasDocument %> 
    <% if !p.publisher.nil? %>
      <% p.publisher.each do |p2| %>
        <% p2.agent.each do |p3| %>
          <% if !p3.name.empty? && !p3.website.empty? && !p3.name[0].empty? && !p3.website[0].empty? %>
            <p><span class="h6">Publisher:</span> <%=link_to p3.name.first, p3.website.first %></p>
          <% elsif !p3.name.empty? && !p3.name[0].empty? %>
            <p><span class="h6">Publisher:</span> <%= p3.name.first %></p>
          <% end %>
        <% end #each agent %>
        <% if !p2.name.empty? && !p2.website.empty? && !p2.name[0].empty? && !p2.website[0].empty? #TODO: Remove once old model is deprecated %>
          <p><span class="h6">Publisher:</span> <%=link_to p2.name.first, p2.website.first %></p>
        <% elsif !p2.name.empty? && !p2.name[0].empty? #TODO: Remove once old model is deprecated %>
          <p><span class="h6">Publisher:</span> <%= p2.name.first %></p>
        <% end %>
      <% end #each publisher %>
    <% end #publisher %>
  <% end #each publication %>
<% end #if publication %>
