<% if !article.publication.empty? %>
  <% if (!article.publication[0].publisher.empty? || !article.publication[0].datePublished.empty? || \
    !article.publication[0].dateAccepted.empty? || \
    article.publication[0]["hasDocument"][0].except("journal", "series").any? {|k,v| !v.nil? && !v.empty?} || \
    article.publication[0]["hasDocument"][0]["journal"][0].any? {|k,v| !v.nil? && !v.empty?} || \
    article.publication[0]["hasDocument"][0]["series"][0].any? {|k,v| !v.nil? && !v.empty?}) %>
    <div class="well">
      <div class="row">
        <div class="control-group">
          <div id="publication">
            <div><strong>Publication details</strong></div>
              <% article.publication.each do |p| %>
                <div>
                <% if !p.publicationStatus.empty? %>
                  <p>Publication status: <%= p.publicationStatus.first %></p>
                <% end %>
                <% if !p.reviewStatus.empty? %>
                  <p>reviewStatus: <%= p.reviewStatus.first %></p>
                <% end %>
                <% if !p.datePublished.empty? %>
                  <p>Date published: <%= p.datePublished.first %></p>
                <% end %>
                <% if !p.location.empty? %>
                  <p> Place of publication: <%= p.location.first %></p>
                <% end %>
                <% if !p.dateAccepted.empty? %>
                  <p>Date of acceptance: <%= p.dateAccepted.first %></p>
                <% end %>
                <% if !p.hasDocument.empty? %>
                  <% p.hasDocument.each do |p2| %>
                    <% if !p2.identifier.empty? %>
                      <p>Article number:<%= p2.identifier.first %></p>
                    <% end %>
                    <% if !p2.doi.empty? %>
                      <p>DOI: <%= p2.doi.first %></p>
                    <% end %>
                    <% if !p2.uri.empty? %>
                     <p>URI: <%= p2.uri.first %>
                    <% end %>
                    <% if !p2.journal.empty? %>
                      <% p2.journal.each do |p3| %>
                        <% if !p3.title.empty? %>
                          <p>Journal title: <%= p3.title.first %></p>
                        <% end %>
                        <% if !p3.issn.empty? %>
                          <p>Journal ISSN: <%= p3.issn.first %></p>
                        <% end %>
                        <% if !p3.eissn.empty? %>
                          <p>Journal eISSN: <%= p3.eissn.first %></p>
                        <% end %>
                        <% if !p3.volume.empty? %>
                          <p>Journal volume: <%= p3.volume.first %></p>
                        <% end %>
                        <% if !p3.issue.empty? %>
                          <p>Journal issue: <%= p3.issue.first %></p>
                        <% end %>
                        <% if !p3.pages.empty? %>
                          <p>Page range: <%= p3.pages.first %></p>
                        <% end %>
                      <% end #each journal %>
                    <% end #journal %>
                    <% if !p2.series.empty? %>
                      <% p2.series.each do |p3| %>
                        <% if !p3.title.empty? %>
                          <p>Series: <%= p3.title.first %></p>
                        <% end %>
                      <% end #each series %>
                    <% end #series %>
                  <% end #each document %>
                <% end #hasDocument %> 
                <% if !p.publisher.empty? %>
                  <% p.publisher.each do |p2| %>
                    <% if !p2.name.empty? and !p2.website.empty? %>
                      <p>Publisher: <%=link_to p2.name.first, p2.website.first %></p>
                    <% elsif !p2.name.empty? %>
                      <p>Publisher: <%= p2.name.first %></p>
                    <% end %>
                  <% end #each publisher %>
                <% end #publisher %>
                </div>
              <% end #each publication %>
          </div>
        </div><!-- /.control-group -->
      </div> <!-- /.row -->
    </div> <!-- /.well -->
  <% end #if information %>
<% end #if publication %>
