<h4 class="padding-side-25">Publication information</h4>

<% if publication.empty? %>
  <% publication.build %>
<% end %>

<% publication.each do |p| %>
  <%= f.fields_for :publication, p do |f_p| %>
    <% if p.hasDocument.empty? %>
      <% p.hasDocument.build %>
    <% end %>
    <% if p.publisher.empty? %>
      <% p.publisher.build %>
    <% end %>
    <% p.publisher.each do |p2| %>
      <%= f_p.fields_for :publisher, p2 do |f_p2| %>
       <% if p2.agent.empty? %>
          <% p2.agent.build %>
        <% end %>
        <% p2.agent.each do |p3| %>
          <%= f_p2.fields_for :agent, p3 do |f_p3| %>
            <% nameVal = p3.name.first || p2.name.first || "University of Oxford" #TODO: Remove once old model is deprecated %>
            <% websiteVal = p3.website.first || p2.website.first #TODO: Remove once old model is deprecated %>
            <div class="fieldset">
              <p class="small reqlabel">Publisher name</p>
              <%= f_p3.text_field :name, :required => true, :value => nameVal, data: {"progress" => "citation"} %>
              <%= render partial: '/shared/tooltip', :locals => {:tipType => "citation" , :tipTitle => "Publisher name" , :tipDescription => "Enter the name of the body making the data publicly available. For data produced at Oxford, this will usually be the University of Oxford." } %>
            </div>
            <!--
            <div class="fieldset">
              <p class="small">Publisher website</p>
              <%#= f_p3.text_field :website, :value => websiteVal, data: {"progress" => "documentation"} %>
              <%#= render partial: '/shared/tooltip', :locals => {:tipType => "documentation" , :tipTitle => "Publisher website" , :tipDescription => "If you know the publisher's website, add it here." } %>
            </div>
            -->
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <div class="fieldset">
      <p class="small reqlabel">Year published</p>
      <%= f_p.text_field :datePublished, :required => true, :value => p.datePublished.first || Time.now.year, data: {"progress" => "citation" } %>
      <%= render partial: '/shared/tooltip', :locals => {:tipType => "citation" , :tipTitle => "Year published" , :tipDescription => "Enter the year the data have been or will be published, i.e. made publicly available." } %>
    </div>
    
    <%= f.fields_for :workflows, wf do |f_wf| %>
      <% unless doi_registered %>
        <h4 class="padding-side-25">Register a DOI</h4>
        <div class="fieldset small">
          <%= hidden_field_tag(:doiShouder, Sufia.config.doi_credentials["shoulder"], :disabled=>true, :id=>"doiShoulder") %>
          <% if wf.involves.first && wf.involves.first.start_with?('Register a DOI') %>
            <% chval = wf.involves.first %>
          <% else %>
            <% chval = 'Register doi' %>
          <% end %>
          <label><%= f_wf.check_box :involves, {:value => wf.involves.first, :id => "workflow_submit_involves", data: {"progress" => "citation"}, :onchange => "displayDoi()" }, checked_value=chval, unchecked_value=nil %>
          <span></span>Yes, I would like a DOI registered for this dataset</label>
         <% desc = "Please select this option if you would like a <a href=\"https://www.datacite.org/\" target=\"_blank\">DOI (Digital Object Identifier)</a> registered for your dataset. <br/><br/>
            You will be notified of your DOI by the ORA review team after you have submitted your record. <br/><br/>
            You can use it to cite your data once the ORA-Data team have reviewed your deposit and published the catalogue record for your data online in ORA" %>
          <%= render partial: '/shared/tooltip', :locals => {:tipType => "citation" , :tipTitle => "Register DOI" , :tipDescription => desc } %>
        </div>
      <% end %>
    <% end #fields for workflows %>

    <% p.hasDocument.each do |p2| %>
      <%= f_p.fields_for :hasDocument, p2 do |f_p2| %>
        <div class="fieldset" id="dataset_doi_fieldset">
          <p class="small">DOI</p>
          <% if doi_registered %>
            <%= f_p2.text_field :doi, :value => p2.doi.first, :id => "dataset_doi", :readonly => true, data: {"progress" => "citation"} %>
          <% else %>
            <%= f_p2.text_field :doi, :value => p2.doi.first, :id => "dataset_doi", data: {"progress" => "citation"} %>
          <% end %>
          <%= render partial: '/shared/tooltip', :locals => {:tipType => "citation" , :tipTitle => "DOI" , :tipDescription => "What is the DOI of your dataset?" } %>
        </div>
      <% end #fields for each document %>
    <% end #each document %>

  <% end #fields for each publication %>
<% end #each publication %>
