<h4>Publication information</h4>

<% if publication.empty? %>
  <% publication.build %>
<% end %>

<% publication.each do |p| %>
  <%= f.fields_for :publication, p do |f_p| %>
    <% if p.hasDocument.empty? %>
      <% p.hasDocument.build %>
    <% end %>
    <% if p.publisher.empty? %>
      <% p.publisher.build %>
    <% end %>
    <% p.publisher.each do |p2| %>
      <%= f_p.fields_for :publisher, p2 do |f_p2| %>

        <p class="small">Publisher name</p>
        <%= f_p2.text_field :name, :value => p2.name.first %>

        <p class="small">Publisher website</p>
        <%= f_p2.text_field :website, :value => p2.website.first %>

      <% end %> 
    <% end %> 

    <p class="small">Date published</p>
    <%= f_p.date_field :datePublished, :value => p.datePublished.first %>

    <% p.hasDocument.each do |p2| %>
      <%= f_p.fields_for :hasDocument, p2 do |f_p2| %>
        <p class="small">DOI</p>
        <%= f_p2.text_field :doi, :value => p2.doi.first %>
      <% end #fields for each document %>
    <% end #each document %>
  <% end #fields for each publication %>
<% end #each publication %>

