<legend>Publication information</legend>
<% if @article.publication.empty? %>
  <% @article.publication.build %>
<% end %>
<% @article.publication.each do |p| %>
  <% if p.hasDocument.empty? %>
    <% p.hasDocument.build %>
  <% end %>
  <% if p.publisher.empty? %>
    <% p.publisher.build %>
  <% end %>
  <% p.publisher.each do |p2| %>
    <div class="field">
      <%= label_tag "article[publication][][publisher][][name]", "Publisher name", :class=>"control-label" %>
      <%= text_field_tag "article[publication][][publisher][][name]", p2.name.first %>
    </div>
  <% end %> 
  <div class="field">
    <%= label_tag "article[publication][][datePublished]", "Date published", :class=>"control-label" %>
    <%= date_field_tag "article[publication][][datePublished]", p.datePublished.first %>
  </div>
  <% p.hasDocument.each do |p2| %>
    <div class="field">
      <%= label_tag "article[publication][][hasDocument][][doi]", "DOI", :class=>"control-label" %>
      <%= text_field_tag "article[publication][][hasDocument][][doi]", p2.doi.first %>
    </div>
  <% end %>
<% end %>

