<h4 class="padding-side-25">Publication information</h4>

<% if publication.empty? %>
  <% publication.build %>
<% end %>

<% publication.each do |p| %>
  <%= f.fields_for :publication, p do |f_p| %>
    <% if p.hasDocument.empty? %>
      <% p.hasDocument.build %>
    <% end %>
    <% if p.publisher.empty? %>
      <% p.publisher.build %>
    <% end %>
    <% p.publisher.each do |p2| %>
      <%= f_p.fields_for :publisher, p2 do |f_p2| %>
        <div class="fieldset">
          <p class="small reqlabel">Publisher name</p>
          <%= f_p2.text_field :name, :required => true, :value => p2.name.first || "University of Oxford", data: {"progress" => "citation", "default-value" => "University of Oxford"} %>
          <%= render partial: '/shared/tooltip', :locals => {:tipType => "citation" , :tipTitle => "Publisher name" , :tipDescription => "Enter the name of the body making the data publicly available. For data produced at Oxford, this will usually be the University of Oxford." } %>
        </div>
        <!--
        <div class="fieldset">
          <p class="small">Publisher website</p>
          <%#= f_p2.text_field :website, :value => p2.website.first, data: {"progress" => "documentation"} %>
          <%#= render partial: '/shared/tooltip', :locals => {:tipType => "documentation" , :tipTitle => "Publisher website" , :tipDescription => "If you know the publisher's website, add it here." } %>
        </div>
        -->
      <% end %>
    <% end %>
    <div class="fieldset">
      <p class="small reqlabel">Year published</p>
      <%= f_p.text_field :datePublished, :required => true, :value => p.datePublished.first || Time.now.year, data: {"progress" => "citation", "default-value" => Time.now.year } %>
      <%= render partial: '/shared/tooltip', :locals => {:tipType => "citation" , :tipTitle => "Year published" , :tipDescription => "Enter the year the data have been or will be published, i.e. made publicly available." } %>
    </div>

  <% end #fields for each publication %>
<% end #each publication %>

