</div>
<div class="small-container">
	<h3>Alternative registration form</h3>

	<div class="content-box padding-30">
		<h3>Sign up</h3>
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

		  <label>
				<%= f.label :email %>
				<%= f.email_field :email, :autofocus => true %>
			</label>

			<label>
				<%= f.label :password %>
				<%= f.password_field :password %>
			</label>

			<label>
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation %>
			</label>

		  <%= f.button "Sign up", :type=>"submit", :class=>"button" %>
		  
		<% end %>

		<%= render "devise/shared/links" %>