<h4>Select files to upload</h4>
<%= render partial: 'shared/upload/tos_checkbox' %>
<%= render partial: 'shared/upload/alerts', :locals => { :editpath => editpath } %>
<%= form_for(record, :html => {:multipart => true, :id => 'fileupload'}) do |f| %>
    <%= render partial: 'shared/upload/file_upload_fields' %>
<% end %>
<%= render partial: 'shared/upload/script_templates', :locals => { :editpath => editpath } %>
<%= render partial: 'shared/upload/agreement' %>
