<!-- The file upload form used as target for the file upload widget -->
<%= hidden_field_tag(:total_upload_size, 0) %>
<%= hidden_field_tag(:relative_path) %>
<%= hidden_field_tag(:pid, @pid) %>
<%= hidden_field_tag "file_coming_from", "local" %>
<%= hidden_field_tag :terms_of_service, params[:terms_of_service] %>

  <table id="file-table" class="table table-striped">
    <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
    </tbody>

  <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->

    <tfoot>
      <tr>
        <td colspan="5">
          <input type="file" name="files[]" multiple />
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <p>A maximum of 2GB per file and a total of 5GB can be uploaded at once via this form. To deposit files over 2GB in size, please
              <a href="mailto:ora@bodleian.ox.ac.uk">contact us</a> for details of an alternative file transfer process.</p>
        </td>
      </tr>
    </tfoot>
  </table>

<div class="fileupload-buttonbar">
  <span id="main_upload_start_span" class="activate-container" data-toggle="tooltip" data-title="<%= t('sufia.upload_tooltip') %>">
    <button type="submit" class="activate-submit btn btn-primary start" id="main_import_start" disabled="disabled">
      <i class="icon-upload icon-white"></i>
      <span>Start upload</span>
  </button>
  </span>
  <button type="reset" class="btn btn-warning cancel">
      <i class="icon-ban-circle icon-white"></i>
      <span>Cancel upload</span>
  </button>
</div>
  <!-- The loading indicator is shown during image processing -->
  <div class="fileupload-loading"></div>

