<div>
<% @files.each do |file| %>
    <tr class="template-download fade">
        <td class="preview">
           <%= if file.thumbnail_url %>
             <span class="label label-success"><img src="<%= "#{file.thumbnail_url}" %>", alt: "View file") %></span>
            <% end %>
          </td>
          <td class="name"><span><a href="<%= "#{file.url}" %>" title="<%= "#{file.name%}" %>" rel= "<%="%s gallery"% file.thumbnail_url %>" download= "<% "#{file.name}" %>" target="_blank"><%= file.name %></a> </span></td>
          <td class="size"><span><%= formatFileSize(file.size) %></span></td>
          <td class="Delete"><span><%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
    </tr>
<%= end %>
</div>
