<% hasData = false %>
<% if !article.accessRights.nil? && !article.accessRights[0].nil? %>
  <% if !article.accessRights[0].embargoStatus.empty? %>
    <% hasData = true %>
  <% end %>
  <% if !article.accessRights[0].embargoDate.nil? && !article.accessRights[0].embargoDate[0].nil? %>
    <% dateEnd = nil %>
    <% dateDuration = nil %>
    <% dateStart = nil %>
    <% if !article.accessRights[0].embargoDate[0].end.nil? && !article.accessRights[0].embargoDate[0].end[0].nil? && (!article.accessRights[0].embargoDate[0].end[0].label.empty? || !article.accessRights[0].embargoDate[0].end[0].date.empty?) %>
      <% dateEnd = article.accessRights[0].embargoDate[0].end[0] %>
      <% hasData = true %>
    <% end %>
    <% if !article.accessRights[0].embargoDate[0].duration.nil? && !article.accessRights[0].embargoDate[0].duration[0].nil? && (!article.accessRights[0].embargoDate[0].duration[0].years.empty? || !article.accessRights[0].embargoDate[0].duration[0].months.empty?) %>
      <% dateDuration = article.accessRights[0].embargoDate[0].duration[0] %>
      <% hasData = true %>
    <% end %>
    <% if !article.accessRights[0].embargoDate[0].start.nil? && !article.accessRights[0].embargoDate[0].start[0].nil? && (!article.accessRights[0].embargoDate[0].start[0].label.empty? || !article.accessRights[0].embargoDate[0].start[0].date.empty?) %>
      <% dateStart = article.accessRights[0].embargoDate[0].start[0] %>
      <% hasData = true %>
    <% end %>
  <% end %>
  <% if !article.accessRights[0].embargoReason.empty? && !article.accessRights[0].embargoReason.first.empty? %>
    <% hasData = true %>
  <% end %>
  <% if !article.accessRights[0].embargoRelease.empty? && !article.accessRights[0].embargoRelease.first.empty? %>
    <% hasData = true %>
  <% end %>
<% end %>
<% if hasData %>
  <div class="well">
    <div class="row">
      <div class="control-group">
        <legend>Access rights for article</legend>
        <% if !article.accessRights[0].embargoStatus.empty? && !article.accessRights[0].embargoStatus.first.empty? %>
          <div>Embargo status: <%= article.accessRights[0].embargoStatus.first %></div>
        <% end %>
        <% if !article.accessRights[0].embargoDate.nil? && !article.accessRights[0].embargoDate[0].nil? %>
          <div>Embargo end date: 
          <% if dateEnd %>
            <% if !dateEnd.date.empty? && !dateEnd.date.first.empty? %>
              <%= dateEnd.date.first %>
            <% end %>
            <% if !dateEnd.label.empty? && !dateEnd.label.first.empty? %>
              (<%= article.accessRights[0].embargoDate[0].end[0].label.first %>)
            <% end %>
          <% end %>
          <% if dateDuration %>
            <% if !dateDuration.years.empty? && !dateDuration.years.first.empty? %>
              <br/><%= dateDuration.years.first %> years
            <% end %>
            <% if !dateDuration.months.empty? && !dateDuration.months.first.empty? %>
              <%= dateDuration.months.first %> months
            <% end %>
            from
          <% end %>
          <% if dateStart %>
            <% if !dateStart.date.empty? && !dateStart.date.first.empty? %>
              <%= dateStart.date.first %>
            <% end %>
            <% if !dateStart.label.empty? && !dateStart.label.first.empty? %>
              (<%= dateStart.label.first %>)
            <% end %>
          <% end %>
          </div>
        <% end %>
        <% if !article.accessRights[0].embargoReason.empty? && !article.accessRights[0].embargoReason.first.empty? %>
          <div>Embargo reason: <%= article.accessRights[0].embargoReason.first %></div>
        <% end %>
        <% if !article.accessRights[0].embargoRelease.empty? && !article.accessRights[0].embargoRelease.first.empty?%>
           <div>Embargo release method: <%= article.accessRights[0].embargoRelease.first %></div>
        <% end %>
      </div> <!-- /.control-group -->
    </div> <!-- /.row -->
  </div> <!-- /.well -->
<% end %>

