<% hasData = false %>
<% if !article.accessRights.nil? && !article.accessRights[0].nil? %>
  <% if article.accessRights[0].embargoInfo.has_key?('embargoStatus') %>
    <% hasData = true %>
  <% end %>
  <% if article.accessRights[0].embargoInfo.has_key?("embargoEndHuman") || article.accessRights[0].embargoInfo.has_key?("embargoDurationHuman") %>
    <% hasData = true %>
  <% end %>
  <% if article.accessRights[0].embargoInfo.has_key?('embargoReason') %>
    <% hasData = true %>
  <% end %>
  <% if article.accessRights[0].embargoInfo.has_key?('embargoRelease')%>
    <% hasData = true %>
  <% end %>
<% end %>
<% if hasData %>
  <div class="accordian">
    <div class="accordian-header">Visibility of catalogue record</div>
    <div class="accordian-content">
      <!-- status -->
      <% if article.accessRights[0].embargoInfo.has_key?('embargoStatus') %>
        <h6>Embargo status:</h6>
        <p><%= article.accessRights[0].embargoInfo['embargoStatus']%></p>
      <% end %>
      <!-- embargo period -->
      <% if article.accessRights[0].embargoInfo.has_key?("embargoEndHuman") || article.accessRights[0].embargoInfo.has_key?("embargoDurationHuman") %>
        <h6>Embargo period:</h6>
        <% if article.accessRights[0].embargoInfo.has_key?("embargoDurationHuman") && article.accessRights[0].embargoInfo.has_key?("embargoEndHuman")%>
          <p><%=article.accessRights[0].embargoInfo['embargoDurationHuman']%></p>
          <p>The end date was calculated to be <%=article.accessRights[0].embargoInfo['embargoEndHuman']%></p>
        <% elsif article.accessRights[0].embargoInfo.has_key?("embargoEndHuman") %>
          <p><%=article.accessRights[0].embargoInfo['embargoEndHuman']%></p>
        <% end %>
      <% end %>
      <!-- reason -->
      <% if article.accessRights[0].embargoInfo.has_key?('embargoReason') %>
        <h6>Embargo reason:</h6>
        <% article.accessRights[0].embargoInfo['embargoReason'].each do |er| %>
          <p><%=simple_format(er)%></p>
        <% end %>
      <% end %>
      <!-- release method -->
      <% if article.accessRights[0].embargoInfo.has_key?('embargoRelease')%>
        <h6>Embargo release method:</h6>
        <p><%= article.accessRights[0].embargoInfo['embargoRelease'] %></p>
      <% end %>
    </div>
  </div>
<% end %>

