<% if accessRights.empty? %>
  <% accessRights.build %>
<% end %>
<% if accessRights[0].embargoDate.empty? %>
  <% accessRights[0].embargoDate.build %>
<% end %>
<% if accessRights[0].embargoDate[0].start.empty? %>
  <% accessRights[0].embargoDate[0].start.build %>
<% end %>
<% if accessRights[0].embargoDate[0].duration.empty? %>
  <% accessRights[0].embargoDate[0].duration.build %>
<% end %>
<% if accessRights[0].embargoDate[0].end.empty? %>
  <% accessRights[0].embargoDate[0].end.build %>
<% end %>

<% startOption = nil %>
<% if accessRights[0].embargoDate[0].start[0].label[0].nil? %>
  <% startOption = "Today" %>
<% else %>
  <% startOption = accessRights[0].embargoDate[0].start[0].label[0] %>
<% end %>

<%= f.fields_for :accessRights do |f_a| %>

  <div class="bottom-border"></div>

  <h4>Can this entire dataset be made freely available in ORA?</h4>
  <p class="small">Can this dataset be made freely available</p>

  <fieldset class="small-text">
    <label>
      <%= f_a.radio_button :embargoStatus, "Open access", :checked => (accessRights[0].embargoStatus[0] == "Open access") %>
      <span></span>Yes
    </label>
    <label panel='dataset-embargo'>
      <%= f_a.radio_button :embargoStatus, "Embargoed", :checked => (accessRights[0].embargoStatus[0] == "Embargoed") %>
      <span></span>After a certain period
    </label>
    <label>
      <%= f_a.radio_button :embargoStatus, "Closed access", :checked => (accessRights[0].embargoStatus[0] == "Closed access") %>
      <span></span>No
    </label>
  </fieldset>
</div>

<div class="expand-panel" id="dataset-embargo">
  <h5>What is the embargo date?</h5>

  <div class="fieldset">
    <%= f_a.fields_for :embargoDate do |f_dt| %>
      <%= f_dt.fields_for :end do |f_dt_end| %>
      <div class="row">
        <div class="col col1of3">
          <label><input type="radio" name="dataset-embargo"/><span></span>
            Enter end date
          </label>
        </div>
        <div class="col col2of3">
          <%= f_dt_end.text_field :date, :value => accessRights[0].embargoDate[0].end[0].date.first, :style=>'width:200px' %>
        </div>
      </div>
      <% end %>
      <div class="row field-break">Or</div>

      <div class="row">
        <div class="col col1of3">
          <label><input type="radio" name="dataset-embargo"/><span></span>
            Enter embargo peroid
          </label>
        </div>
        <div class="col col2of3">
          <%= f_dt.fields_for :duration do |f_dt_duration| %>
            <%= f_dt_duration.text_field :years, :value => accessRights[0].embargoDate[0].duration[0].years.first, maxlength: "2", size: "2", placeholder: "Years", style: "width: 70px; float: left; margin: 0; margin-right: 5px;" %>
            <%= f_dt_duration.text_field :months, :value => accessRights[0].embargoDate[0].duration[0].months.first, maxlength: "2", size: "2", placeholder: "Months", style: "width: 70px; margin: 0; float: left;" %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col col1of3">
          <label class="indent">Starting from</label>
        </div>
        <div class="col col2of3">
          <%= f_dt.fields_for :start do |f_dt_start| %>
            <label>
              <%= f_dt_start.radio_button :label, "Today", :checked => (startOption == "Today") %><span></span> Today
            </label>
            <label>
              <%= f_dt_start.radio_button :label, "Publication date", :checked => (startOption == "Publication date") %><span></span> Publication date
            </label>
            <label>
              <%= f_dt_start.radio_button :label, "", :checked => (startOption == "Date") %><span></span> Date
            </label>
            <%= f_dt_start.text_field :date, :value => accessRights[0].embargoDate[0].start[0].date.first, :style=>'width: 200px' %>
          <% end %>
        </div>
      </div>
    <% end %>

    <aside class="tooltip">
      <a href="#" class="close-button">x</a>
      <strong>Embargos</strong>
      <p>Select whether the file should be made openly available in ORA, or set an embargo if it is not to be made available either for a set period or in perpetuity.</p>
      <p>You should set this information for each dataset file you upload. Enter either the precise date when the embargo should be lifted (e.g. ’26 June 2018’), or enter the period of embargo in years or months (e.g. ’18 months’), and the start date.</p>
    </aside>
  </div>

  <h5>Reason for Embargo</h5>

  <div class="fieldset">
    <div class="row">
      <% if !accessRights[0].embargoReason.nil? && !accessRights[0].embargoReason.empty? %>
        <%= f_a.text_area :embargoReason, :style=>'margin:0', :value => accessRights[0].embargoReason.first %>
      <% else %>
        <%= f_a.text_area :embargoReason, :style=>'margin:0' %>
      <% end %>
    </div><!-- /row -->

    <aside class="tooltip">
      <a href="#" class="close-button">x</a>
      <strong>Reasons for Embargo</strong>
      <p>Something here about what reasons to give and all that stuff yayaya!</p>
      <div class="tooltip-extra">
        <div class="circle circle-documentation"></div>
        <p><strong>Completing this field helps with Documentation, assessment, access</strong></p>
      </div>
    </aside>
  </div><!-- /fieldset -->

  <h5>Embargo release method</h5>

  <div class="fieldset">
    <% if !accessRights[0].embargoRelease.nil? && !accessRights[0].embargoRelease.empty? %>
      <%= f_a.select :embargoRelease, options_for_select(Sufia.config.embargo_release_methods, :selected=>accessRights[0].embargoRelease.first) %>
    <% else %>
      <%= f_a.select :embargoRelease, options_for_select(Sufia.config.embargo_release_methods) %>
    <% end %>

    <aside class="tooltip">
      <a href="#" class="close-button">x</a>
      <strong>Release methods</strong>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at volutpat erat, eu ultricies orci.</p>
    </aside>
  </div><!-- /fieldset -->
<% end %>