<% if accessRights.empty? %>
  <% accessRights.build %>
<% end %>
<% if accessRights[0].embargoDate.empty? %>
  <% accessRights[0].embargoDate.build %>
<% end %>
<% if accessRights[0].embargoDate[0].start.empty? %>
  <% accessRights[0].embargoDate[0].start.build %>
<% end %>
<% if accessRights[0].embargoDate[0].duration.empty? %>
  <% accessRights[0].embargoDate[0].duration.build %>
<% end %>
<% if accessRights[0].embargoDate[0].end.empty? %>
  <% accessRights[0].embargoDate[0].end.build %>
<% end %>

<% startOption = nil %>
<% if accessRights[0].embargoDate[0].start[0].label[0].nil? %>
  <% startOption = "Today" %>
<% else %>
  <% startOption = accessRights[0].embargoDate[0].start[0].label[0] %>
<% end %>

<%= f.fields_for :accessRights do |f_a| %>

  <% panel_id = SecureRandom.uuid %>
  <div class="fieldset">
    <% if embargo_type == "metadata" %>
      <h4>Access conditions for the catalogue record</h4>
      <p class="small reqlabel">Can this ORA catalogue record be made freely available?</p>
    <% else %>
      <p class="small">Can this file be made freely available?</p>
    <% end %>
  
    <fieldset class="small-text">
      <% if embargo_type == "metadata" #Field required for catalogue record %>
        <% req_class = "required" %>
      <% else %>
        <% req_class = "" %>
      <% end %>
      <label>
        <%= f_a.radio_button :embargoStatus, "Open access", :checked => (accessRights[0].embargoStatus[0] == "Open access"),
          data: {"progress" => "documentation"}, :class => req_class  %>
        <span></span>Yes
      </label>
      <label panel='dataset-embargo-<%= panel_id %>'>
        <%= f_a.radio_button :embargoStatus, "Embargoed", :checked => (accessRights[0].embargoStatus[0] == "Embargoed"),
          data: {"progress" => "documentation"}, :class => "#{req_class} embargoed" %>
        <span></span>After a certain period
      </label>
      <label>
        <%= f_a.radio_button :embargoStatus, "Closed access", :checked => (accessRights[0].embargoStatus[0] == "Closed access"),
          data: {"progress" => "documentation"}, :class => "#{req_class}" %>
        <span></span>No
      </label>
    </fieldset>
  
    <% if embargo_type == "metadata" %>
      <% if @model == "dataset" %>
        <% desc = "The catalogue record for your dataset will normally be made publicly visible and openly accessible, even if the data files themselves are embargoed.
              In a small number of exceptional cases, it may be necessary to embargo and hide from public view the record as well as the data files.
              Please let us know which you would prefer." %>
      <% elsif @model == "thesis" %>
        <% desc = "The catalogue record for your thesis will normally be made publicly visible and openly accessible, even if your thesis is embargoed.
              In a small number of exceptional cases, it may be necessary to embargo and hide from public view the record as well as the files.
              Please let us know which you would prefer." %>
      <% else %>
        <% desc = "The catalogue record for your publication will normally be made publicly visible and openly accessible, even if the publication is embargoed.
              In a small number of exceptional cases, it may be necessary to embargo and hide from public view the record as well as the files.
              Please let us know which you would prefer." %>
      <% end %>
      <% tipTitle = "Catalogue visibility" %>
    <% else %>
      <% desc = "Select whether the file should be made openly available in ORA, or set an embargo if its
        not to be made available either for a set period or in perpetuity. You should set this information
        for each file you upload." %>
      <% tipTitle = "File availability" %>
    <% end %>
    <%= render partial: '/shared/tooltip', :locals => {:tipType => "documentation" , :tipTitle => tipTitle , :tipDescription => desc } %>
  </div>
  <div class="expand-panel" id="dataset-embargo-<%= panel_id %>">
    <%= render partial: 'shared/embargo/embargo_inside_fields_edit', :locals => { :f => f, :f_a => f_a, :accessRights => accessRights,
      :startOption => startOption, :embargo_type => embargo_type } %>
  </div>
<% end %>

