<%= embargo_type = nil %>
<% ele_id = SecureRandom.uuid %>
<div class="fieldset" id="embargo-fieldset-<%=ele_id%>">
  <p class="small">What is the embargo date?</p>
  <%= f_a.fields_for :embargoDate do |f_dt| %>
    <!-- End date --> 
    <%= f_dt.fields_for :end do |f_dt_end| %>
      <div class="row" id="embargo-date-row-<%=ele_id%>">
        <div class="col col2of4">
          <% if accessRights[0].embargoDate[0].end[0].label.first == "Stated" %>
            <% displayEndDate = "block" %>
            <%= f_dt_end.hidden_field :label, :value => "Stated", :class=>"embargo-date-type" %>
            <label>
              <input type="radio" name="dataset-embargo-<%=ele_id%>" data-category="documentation" checked="checked" onchange="toggleEmbargoFieldsDisplay(this)" value="date" id="embargo-date-<%=ele_id%>"/>
              <span></span>Embargo end date
            </label>
          <% else %>
              <%= f_dt_end.hidden_field :label, :value => "", :class=>"embargo-date-type" %>
              <% displayEndDate = "none" %>
              <label>
                <input type="radio" name="dataset-embargo-<%=ele_id%>" data-category="documentation" onchange="toggleEmbargoFieldsDisplay(this)" value="date" id="embargo-date-<%=ele_id%>"/>
              <span></span>Embargo end date
            </label>
          <% end %>
        </div>
        <div class="col col2of4 embargo-date" style="display: <%=displayEndDate%>;">
          <div class="row">
            <div class="col"><label>Date</label></div>
          </div> 
          <div class="row">
            <div class="col">
              <% if accessRights[0].embargoDate[0].end[0].label.first == "Stated" %>
                <%= f_dt_end.date_field :date, :value => accessRights[0].embargoDate[0].end[0].date.first%>
              <% else %>
                <%= f_dt_end.date_field :date, :value => "" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <!-- Duration --> 
    <div class="row" id="embargo-duration-row-<%=ele_id%>">
      <div class="col col1of4">
        <label>
        <% if ["Date", "Publication date"].include?(accessRights[0].embargoDate[0].start[0].label.first) %>
          <input type="radio" name="dataset-embargo-<%=ele_id%>" data-category="documentation" checked="checked" onchange="toggleEmbargoFieldsDisplay(this)" value="duration" id="embargo-duration-<%=ele_id%>"/>
          <% displayDuration = "block" %>
        <% else %>
          <input type="radio" name="dataset-embargo-<%=ele_id%>" data-category="documentation" onchange="toggleEmbargoFieldsDisplay(this)" value="duration" id="embargo-duration-<%=ele_id%>"/>
          <% displayDuration = "none" %>
        <% end %>
        <span></span>Embargo period
        </label>
      </div>
      <div class="col col1of4 embargo-duration" style="display: <%=displayDuration%>;">
        <%= f_dt.fields_for :duration do |f_dt_duration| %>
          <div class="row">
            <div class="col col1of2"><label>Years</label></div>
            <div class="col col1of2"><label>Months</label></div>
          </div>
          <div class="row">
            <div class="col col1of2">
              <%= f_dt_duration.text_field :years, :value => accessRights[0].embargoDate[0].duration[0].years.first, maxlength: "2", size: "2" %>
            </div>
            <div class="col col1of2">
              <%= f_dt_duration.text_field :months, :value => accessRights[0].embargoDate[0].duration[0].months.first, maxlength: "2", size: "2" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col col2of4 embargo-duration" style="display: <%=displayDuration%>;">
        <label>Starting from</label>
        <%= f_dt.fields_for :start do |f_dt_start| %>
          <% if accessRights[0].embargoDate[0].start[0].label.first == "Date" %>
            <% if accessRights[0].embargoDate[0].start[0].date.first == Time.now %>
              <% startOption = "Today" %>
            <% elsif !accessRights[0].embargoDate[0].start[0].date.first.empty? %>
              <% startOption = "Date" %>
            <% end %>
          <% elsif accessRights[0].embargoDate[0].start[0].label.first == "Publication date" %>
            <% startOption = "Publication date" %>
          <% end %>
          <label>
            <%= f_dt_start.radio_button :label, "Today", :checked => (startOption == "Today") %><span></span> Today
          </label>
          <label>
            <%= f_dt_start.radio_button :label, "Publication date", :checked => (startOption == "Publication date") %><span></span> Publication date
          </label>
          <label>
            <%= f_dt_start.radio_button :label, "", :checked => (startOption == "Date") %><span></span> Date
            <% if startOption == "Date" %>
              <div><%= f_dt_start.date_field :date, :value => accessRights[0].embargoDate[0].start[0].date.first %></div>
            <% else %>
              <div><%= f_dt_start.date_field :date, :value => "" %></div>
            <% end %>
          </label>
        <% end %>
      </div>
      <div class="col col1of4 embargo-duration">&nbsp;</div>
    </div>
  <% end %>
  <%= render partial: '/shared/tooltip', :locals => {:tipType => "documentation" , :tipTitle => "Embargo end date" , :tipDescription => "Please enter either the the precise date when the embargo should be lifted, in the form DD/MM/YYYY (e.g. ’26/06/2018), or enter the required length of embargo in years and months (e.g. ’1 year 6 months’) and select a start date." } %>
</div>

<div class="fieldset">
  <p class="small">Embargo release method</p>
  <% if !accessRights[0].embargoRelease.nil? && !accessRights[0].embargoRelease.empty? %>
    <%= f_a.select :embargoRelease, options_for_select(Sufia.config.embargo_release_methods, :selected=>accessRights[0].embargoRelease.first), { :include_blank => 'Select release method' }, data: {"category" => "funder"} %>
  <% else %>
    <%= f_a.select :embargoRelease, options_for_select(Sufia.config.embargo_release_methods), { :include_blank => 'Select release method' }, data: {"category" => "funder"} %>
  <% end %>
  <% if @model == "dataset" %>
    <% desc = "Please specify whether you want the embargo to be lifted automatically without
    consulting you (or the data steward), or whether you wish to be consulted." %>
  <% elsif @model == "thesis" %>
    <% desc = "Please specify whether you want the embargo to be lifted automatically without 
    consulting you (or your supervisor), or whether you wish to be consulted." %>
  <% else %>
    <% desc = "Please specify whether you want the embargo to be lifted automatically without 
    consulting you, or whether you wish to be consulted." %>
  <% end %>
  <%= render partial: '/shared/tooltip', :locals => {:tipType => "funder" , :tipTitle => "Release method" , :tipDescription => desc } %>
</div><!-- /fieldset -->

<div class="fieldset">
  <p class="small">Reason for Embargo</p>
  <div class="row">
    <% if Sufia.config.embargo_reasons.has_key? (@model) %>
      <% Sufia.config.embargo_reasons[@model].each do |key, val| %>
        <% if accessRights[0].embargoReason.include? val %>
          <% hasIt = true %>
        <% else %>
          <% hasIt = false %>
        <% end %>
        <label><%= f_a.check_box(:embargoReason, {:multiple => true, :checked=>hasIt}, val, nil) %><span></span><%=key%></label>
      <% end %>
    <% elsif !accessRights[0].embargoReason.nil? && !accessRights[0].embargoReason.empty? %>
      <%= f_a.text_area :embargoReason, :style=>'margin:0', :value => accessRights[0].embargoReason.first, data: {"category" => "funder"} %>
    <% else %>
      <%= f_a.text_area :embargoReason, :style=>'margin:0', data: {"category" => "funder"} %>
    <% end %>
  </div><!-- /row -->
  <% if @model == "dataset" %>
    <% desc = "Please let us know the main reason why access to your data needs to be restricted" %>
  <% elsif @model == "thesis" %>
    <% desc = "Please let us know the main reason why access to your thesis needs to be restricted" %>
  <% else %>
    <% desc = "Please let us know the main reason why access to your publication needs to be restricted" %>
  <% end %>
  <%= render partial: '/shared/tooltip', :locals => {:tipType => "funder" , :tipTitle => "Reason for Embargo" , :tipDescription => desc } %>
</div><!-- /fieldset -->

