<%= embargo_type = nil %>
<h5>What is the embargo date?</h5>

<div class="fieldset">
  <%= f_a.fields_for :embargoDate do |f_dt| %>
    <%= f_dt.fields_for :end do |f_dt_end| %>
    <div class="row">
      <div class="col col1of3">
        <label><input type="radio" name="dataset-embargo[0]" data-progress="documentation" /><span></span>
          Enter end date
        </label>
      </div>
      <div class="col col2of3">
        <%= f_dt_end.date_field :date, :value => accessRights[0].embargoDate[0].end[0].date.first, :style=>'width:100px' %>
      </div>
    </div>
    <% end %>
    <div class="row field-break">Or</div>

    <div class="row">
      <div class="col col1of3">
        <label><input type="radio" name="dataset-embargo[0]" data-progress="documentation" /><span></span>
          Enter embargo period
        </label>
      </div>
      <div class="col col2of3">
        <%= f_dt.fields_for :duration do |f_dt_duration| %>
          <%= f_dt_duration.text_field :years, :value => accessRights[0].embargoDate[0].duration[0].years.first, maxlength: "2", size: "2", placeholder: "Years", style: "width: 70px; float: left; margin: 0; margin-right: 5px;" %>
          <%= f_dt_duration.text_field :months, :value => accessRights[0].embargoDate[0].duration[0].months.first, maxlength: "2", size: "2", placeholder: "Months", style: "width: 70px; margin: 0; float: left;" %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col col1of3">
        <label class="indent">Starting from</label>
      </div>
      <div class="col col2of3">
        <%= f_dt.fields_for :start do |f_dt_start| %>
          <label>
            <%= f_dt_start.radio_button :label, "Today", :checked => (startOption == "Today") %><span></span> Today
          </label>
          <label>
            <%= f_dt_start.radio_button :label, "Publication date", :checked => (startOption == "Publication date") %><span></span> Publication date
          </label>
          <label>
            <%= f_dt_start.radio_button :label, "", :checked => (startOption == "Date") %><span></span> Date
          </label>
          <%= f_dt_start.date_field :date, :value => accessRights[0].embargoDate[0].start[0].date.first, :style=>'width: 100px' %>
        <% end %>
      </div>
    </div>
  <% end %>

  <aside class="tooltip">
    <a href="#" class="close-button">x</a>
    <strong>Embargo end date</strong>
    <p>Please enter either the the precise date when the embargo should be lifted, in the form DD/MM/YYYY (e.g. ’26/06/2018),
        or enter the required length of embargo in years and months (e.g. ’1 year 6 months’) and select a start date.</p>
    <div class="tooltip-extra">
      <div class="circle circle-documentation"></div>
      <p><strong>Completing this field helps with Documentation, access & re-use</strong></p>
    </div>
  </aside>
</div>

<h5>Embargo release method</h5>

<div class="fieldset">
  <% if !accessRights[0].embargoRelease.nil? && !accessRights[0].embargoRelease.empty? %>
    <%= f_a.select :embargoRelease, options_for_select(Sufia.config.embargo_release_methods, :selected=>accessRights[0].embargoRelease.first), { :include_blank => 'Select release method' } %>
  <% else %>
    <%= f_a.select :embargoRelease, options_for_select(Sufia.config.embargo_release_methods), { :include_blank => 'Select release method' } %>
  <% end %>

  <aside class="tooltip">
    <a href="#" class="close-button">x</a>
    <strong>Release methods</strong>
    <p>Please specify whether you want the embargo to be lifted automatically without
    consulting you (or the data steward), or whether you wish to be consulted.</p>
    <div class="tooltip-extra">
      <div class="circle circle-funder"></div>
      <p><strong>Completing this field helps with Funder compliance</strong></p>
    </div>
  </aside>
</div><!-- /fieldset -->

<h5>Reason for Embargo</h5>

<div class="fieldset">
  <div class="row">
    <% if Sufia.config.embargo_reasons.has_key? (@model) %>
      <% Sufia.config.embargo_reasons[@model].each do |key, val| %>
        <% if accessRights[0].embargoReason.include? val %>
          <% hasIt = true %>
        <% else %>
          <% hasIt = false %>
        <% end %>
        <label><%= f_a.check_box(:embargoReason, {:multiple => true, :checked=>hasIt}, val, nil) %><span></span><%=key%></label>
      <% end %>
    <% elsif !accessRights[0].embargoReason.nil? && !accessRights[0].embargoReason.empty? %>
      <%= f_a.text_area :embargoReason, :style=>'margin:0', :value => accessRights[0].embargoReason.first %>
    <% else %>
      <%= f_a.text_area :embargoReason, :style=>'margin:0' %>
    <% end %>
  </div><!-- /row -->

  <aside class="tooltip">
    <a href="#" class="close-button">x</a>
    <strong>Reason for Embargo</strong>
    <p>Please let us know the main reason why access to your data needs to be restricted.</p>
    <div class="tooltip-extra">
      <div class="circle circle-funder"></div>
      <p><strong>Completing this field helps with Funder compliance</strong></p>
    </div>
  </aside> 
</div><!-- /fieldset -->

