    <tr>
      <td>
        <%= render :partial => "shared/show_document", :locals => {:document => document} %>
        <%= render partial: "articles/worktype_label_show", :locals => { :worktypeLabel => document.worktypeLabel } %>
      </td>
      <td>
        <h4 class="<%= "red-text" if (document.submission_workflow_status.downcase.eql? "draft") %>"><%= document.submission_workflow_status %></h4>
        <a href="<%= document_url(document.modelName, 'show', document.id) %>" class="button button-small light-blue">Read<%= image_tag "ora/icons/read.svg", class: "icon icon-read" %></a>
        <a href="<%= document_url(document.modelName, 'edit', document.id) %>" class="button button-small light-blue">Edit<%= image_tag "ora/icons/edit.svg", class: "icon icon-read" %></a>
        <a href="<%= document_url(document.modelName, 'show', document.id) %>" class="button button-small light-blue" data-method="delete" data-confirm="Are you sure?">Delete<%= image_tag "ora/icons/delete.svg", class: "icon icon-read" %></a>
      </td>
    </tr>

