    <tr>
      <td>
        <h4><%= document.title %></h4>
        <p>
          <strong>Author: </strong>
          <%= document.creators.map { |author| author["name"] }.join ", " %>
        </p>
        <% unless document.abstract.nil? %>
          <p>
            <strong>Abstract: </strong>
            <%= document.abstract %>
          </p>
        <% end %>
        <% unless document.worktypeLabel.nil? %>
          <p>
            <strong>Type:</strong>
            <%= document.worktypeLabel %>
          </p>
        <% end %>
      </td>
      <td>
        <h4 class="<%= "red-text" if (document.submission_workflow_status.downcase.eql? "draft") %>"><%= document.submission_workflow_status %></h4>
        <a href="<%= document_url(document.modelName, 'show', document.id) %>" class="button button-small light-blue">Read<%= image_tag "ora/icons/read.svg", class: "icon icon-read" %></a>
        <a href="<%= document_url(document.modelName, 'edit', document.id) %>" class="button button-small light-blue">Edit<%= image_tag "ora/icons/edit.svg", class: "icon icon-read" %></a>
        <a href="<%= document_url(document.modelName, 'delete', document.id) %>" class="button button-small light-blue">Delete<%= image_tag "ora/icons/delete.svg", class: "icon icon-read" %></a>
      </td>
    </tr>

