<p id="notice"><%= notice %></p>
<% if !article.title.empty? && !article.title[0].empty? %>
  <h1><%= article.title.first %></h1>
<% else %>
  <h1>Article</h1>
<% end %>
      
<% if !article.subtitle.empty? && !article.subtitle[0].empty? %>
  <h2><%= article.subtitle.first %></h2>
<% end %>

<% path = { :new => new_article_path, :show => article_path(article), :edit => edit_article_path(article), :list => articles_path } %>
<br/><%= render partial: "shared/actions/show", :locals => { :path => path } %><br/>
      
<div class="well">
  <div class="row">
    <div class="control-group">
      <%= render partial: "shared/work_type_fields_show", :locals => { :article => @article } %>
      
      <% if !article.abstract.empty? && !article.abstract[0].empty? %>
      <p>
        <strong>Abstract:</strong>
        <%= article.abstract.first %>
      </p>
      <% end %>
      
      <% if !article.medium.empty? && !article.medium[0].empty? %>
      <p>
        <strong>Medium or material:</strong>
        <%= article.medium.first %>
      </p>
      <% end %>
      
      <% if !article.keyword.empty? %>
      <p>
        <strong>Keywords:</strong>
         <% article.keyword.each do |tag|%>
            <span><%=tag %></span>     
         <% end %>
      </p>
      <% end %>
      
      <%= render partial: "shared/mads_language_fields_show", :locals => { :article => @article } %>
      <%= render partial: "shared/mads_subject_fields_show", :locals => { :article => @article } %>

    </div><!-- /.control-group -->
  </div> <!-- /.row -->
</div> <!-- /.well -->
