<div class="well">
  <div class="row">
    <div class="control-group">

      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, :value=>@article.title.first, :required=>true %>
      </div>

      <div class="field">
        <%= f.label :subtitle %>
        <%= f.text_field :subtitle, :value=>@article.subtitle.first %>
      </div>

      <div class="field">
        <%= f.label :abstract %>
        <%= f.text_area :abstract, :value=>@article.abstract.first %>
      </div>

      <div class="field">
        <%= f.label :medium %>
        <%= f.text_field :medium, :value=>@article.medium.first %>
      </div>

      <div class="field">
        <%= f.label :publicationStatus %>
        <%= f.select :publicationStatus, options_for_select(Sufia.config.publication_status, :selected=>@article.publicationStatus.first) %>
      </div>

      <div class="field">
        <%= f.label :reviewStatus %>
        <%= f.select :reviewStatus, options_for_select(Sufia.config.review_status, :selected=>@article.reviewStatus.first) %>
      </div>

      <div class="control-group">
        <%= f.label :keyword, "<span class='error'>*</span> Keyword".html_safe, :class=>"control-label" %>
        <div class="controls" id="additional_keyword_clone">
          <%= f.text_field :keyword, :name=>"article[keyword][]", :value=>@article.keyword.first %>
          <button class="adder btn" name="additional_keyword" id="additional_keyword_submit">+<span class="accessible-hidden">add another keyword</span></button>
            &nbsp;
            <%= help_icon(:keyword) %>
        </div>

        <% for k in @article.keyword.from(1) %>
          <div class="controls">
            <%= f.text_field :keyword, :name=>"article[keyword][]", :value=>k %>
            <button id="additional_keyword_submit" class="remover btn" name="additional_keyword">-<span class="accessible-hidden">add another keyword</span></button>
          </div>
        <% end %>
        <div id="additional_keyword_elements"></div>
      </div>

    </div><!-- /.control-group -->
  </div> <!-- /.row -->
</div> <!-- /.well -->

