<p id="notice"><%= notice %></p>

<h6>Title:</h6>
<% if !article.title.empty? && !article.title[0].empty? %>
  <h3><%= article.title.first %></h3>
<% else %>
  <h3>Article</h3>
<% end %>
      
<% if !article.subtitle.empty? && !article.subtitle[0].empty? %>
  <h6>Subtitle:</h6>
  <h3><%= article.subtitle.first %></h3>
<% end %>
      
<%= render partial: "shared/work_type_fields_show", :locals => { :article => @article } %>

<% if !article.abstract.empty? && !article.abstract[0].empty? %>
  <h6>Abstract:</h6>
  <p><%= simple_format(article.abstract.first) %></p>
<% end %>

<% if !article.medium.empty? && !article.medium[0].empty? %>
  <h6>Medium or material:</h6>
  <p><%= article.medium.first %></p>
<% end %>

<% if !article.keyword.empty? %>
  <h6>Keywords:</h6>
   <% article.keyword.each do |tag|%>
      <p style="margin: 0"><%=tag %></p>     
   <% end %>
</p>
<% end %>

<%= render partial: "shared/mads_language_fields_show", :locals => { :article => @article } %>
<%= render partial: "shared/mads_subject_fields_show", :locals => { :article => @article } %>
