      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, :value=>@article.title.first, :required=>true %>
      </div>

      <div class="field">
        <%= f.label :subtitle %>
        <%= f.text_field :subtitle, :value=>@article.subtitle.first %>
      </div>

      <div class="field">
        <%= f.label :abstract %>
        <%= f.text_area :abstract, :value=>@article.abstract.first %>
      </div>

      <div class="field">
        <%= f.label :medium %>
        <%= f.text_field :medium, :value=>@article.medium.first %>
      </div>

      <div class="field">
        <%= f.label :publicationStatus %>
        <%= f.select :publicationStatus, options_for_select(Sufia.config.publication_status, :selected=>@article.publicationStatus.first) %>
      </div>

      <div class="field">
        <%= f.label :reviewStatus %>
        <%= f.select :reviewStatus, options_for_select(Sufia.config.review_status, :selected=>@article.reviewStatus.first) %>
      </div>

      <div class="control-group" id="keyword">
        <%= f.label :keyword, "<span class='error'>*</span> Keyword".html_safe, :class=>"control-label" %>
        <div class="controls" id="keyword_clone_0">
          <%= f.text_field :keyword, :name=>"article[keyword][]", :value=>@article.keyword.first, id: "keyword0" %>
          <button class="adder btn" name="additional_keyword" id="keyword_button_0" type="button">+<span class="accessible-hidden">add another keyword</span></button>
          &nbsp;
          <%= help_icon(:keyword) %>
        </div>
        <% kcount = 1 %>
        <% for k in @article.keyword.from(1) %>
          <div class="controls" id="keyword_clone_<%=kcount%>">
            <%= f.text_field :keyword, :name=>"article[keyword][]", :value=>k, id: "keyword%d"% kcount %>
            <button class="remover btn" name="additional_keyword" id="keyword_button_<%=kcount%>" type="button">-<span class="accessible-hidden">remove this keyword</span></button>
            <% kcount += 1 %>
          </div>
        <% end %>
      </div>

