<div class="tab-pane active" id="local">
  <%= render partial: 'shared/upload/agreement' %>
  <%= render partial: 'shared/upload/alerts' %>
  <%= render partial: 'shared/upload/upload_form' %>
  <%= render partial: 'shared/upload/script_templates' %>
  <%= render partial: 'shared/upload/list_files' %>
</div>

