<div class="tab-pane" id="describetab">
<%= form_for(@article) do |f| %>
  <%= hidden_field_tag(:pid, @pid) %>
  <div class="well">
    <div class="row">
      <div class="control-group">
        <legend>Descriptive information</legend>
        <%= render partial: "shared/work_type_fields", as: :article, :locals => { :f => f } %>
        <%= render partial: "describe", as: :article, :locals => { :f => f } %>
        <%= render partial: "shared/mads_language_fields", as: :article, :locals => { :f => f } %>
        <%= render partial: "shared/mads_subject_fields", as: :article, :locals => { :f => f } %>
        <div class="actions">
          <%= f.submit "Save article description" %>
        </div>
      </div><!-- /.control-group -->
    </div> <!-- /.row -->
  </div> <!-- /.well -->
</div>

<div class="tab-pane" id="creatorstab">
  <%= render partial: 'shared/creation_activity_fields', as: :article, :locals => { :f => f } %>
  <div class="actions">
    <%= f.submit "Save creators information" %>
  </div>
</div>

<div class="tab-pane" id="publicationtab">
  <%= render partial: 'shared/publication_activity_fields', as: :article, :locals => { :f => f } %>
  <div class="actions">
    <%= f.submit "Save publication information" %>
  </div>
</div>

<div class="tab-pane" id="funderstab">
  <%= render partial: 'shared/funding_activity_fields', as: :article, :locals => { :f => f } %>
  <div class="actions">
    <%= f.submit "Save funder information" %>
  </div>
</div>

<div class="tab-pane" id="moreinfotab">
  <%= render partial: 'shared/relation_fields', as: :article, :locals => { :f => f } %>
  <div class="actions">
    <%= f.submit "Save information" %>
  </div>
</div>

<div class="tab-pane" id="rightstab">
  <%= render partial: "shared/rights_activity_fields", as: :article, :locals => { :f => f } %>
  <%= render partial: "shared/article_admin_fields", as: :article, :locals => { :f => f } %>
  <%= render partial: 'shared/files_with_details', as: :article, :locals => { :f => f } %>
  <div class="actions">
    <%= f.submit "Save rights and access" %>
  </div>
</div>
<% if false %>
  <%= render partial: "permission_form", as: :article %>
<% end %>

<% end %>

<div class="tab-pane" id="workflowtab">
  <%= render partial: 'shared/workflow' %>
</div>
