  <div id="language">
    <div class="field">
      <%= f.label :language %><br>
      <%= f.text_field :language, :value=>@article.languageLabel.first %>
    </div>
    <div class="field">
      <%= f.label :languageCode %><br>
      <%= f.text_field :languageCode, :value=>@article.languageCode.first %>
    </div>
    <div class="field">
      <%= f.label :languageAuthority %><br>
      <%= f.text_area :languageAuthority, :value=>@article.languageAuthority.first %>
    </div>
    <div class="field">
      <%= f.label :languageScheme %><br>
      <%= f.text_area :languageScheme, :value=>@article.languageScheme.first %>
    </div>
  </div>