    <tr>
      <% if display_thumbs %>
        <td class="span10"><%= link_to image_tag("default.png", {width: 45, height: 60}), article_path(article) %> </td>
      <% end %>
      <td>
        <h3>
          <%= link_to article.title, article, :title => article.title  %>

          <% if display_access %>
            <span class="label label-<%=article.embargoClass%>"><%= article.embargoStatus %></span>
          <% end %>
        </h3>
        <p> 
          <% if !article.subtitle.nil? %>
            <span><%= article.subtitle %></span>
          <% end %>
          <% if !article.description.nil? %>
            <span><%= truncate(article.description, :length=>100, :separatoe =>"...") %></span>
          <% end %>
          <% if !article.reviewStatus.nil? %>
            <span><% article.reviewStatus %></span>
          <% end %>
        </p>
      </td>
    </tr>
