<h1>Update article</h1>

<%# using partials rather than inlining, so implementers can add or change stuff on this page without much duplication %>
<ul class="nav nav-tabs">
  <li class="active"><a href="#local" data-toggle="tab"><i class="icon-desktop"></i>Upload files</a></li>
  <li><a href="#describe" data-toggle="tab"><i class="icon-metadata"></i>Describe</a></li>
  <li><a href="#publication" data-toggle="tab"><i class="icon-metadata"></i>Publication</a></li>
  <li><a href="#rights" data-toggle="tab"><i class="icon-metadata"></i>Rights & Access</a></li>
</ul>

<div>
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
</div>

<div class="tab-content">
  <%= render partial: 'files_form' %>
  <%= render partial: 'form' %>
</div>
<br/>
<h3>View: <span class="label label-success"><%= link_to 'Article', @article %></span> 
<span class="label label-info"><%= link_to 'Recent Articles', articles_path %></span>
</h3>

