  <h2>Update article</h2>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="gutter-container">

  <% path = { :new => new_article_path, :show => article_path(@pid), :edit => edit_article_path(@pid), :list => publications_path } %>
  <%= render partial: "shared/actions/edit", :locals => { :path => path } %>

  <div class="col col3of4">
    <%= render partial: 'articles/_edit_short/form' %>
  </div>

  <div class="col col1of4">
    <%= render :partial => 'shared/progress_tracker' %>
  </div>

</div>
