<h1>Articles</h1>
<%= render :partial => '/flash_msg' %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Review Status</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, article %></td>
        <td><%= article.subtitle if article.include? 'subitle' and not article.subtitle.blank? %></td> 
        <td><%= article.reviewStatus if article.include? 'reviewStatus' and not article.reviewStatus.blank? %></td>
        <td><%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>



