<p id="notice"><%= notice %></p>

<% if @article.title %>
<p>
  <strong>Title:</strong>
  <%= @article.title.first %>
</p>
<% end %>

<% if @article.subtitle %>
<p>
  <strong>Subtitle:</strong>
  <%= @article.subtitle.first %>
</p>
<% end %>

<% if @article.description %>
<p>
  <strong>Description:</strong>
  <%= @article.description.first %>
</p>
<% end %>

<% if @article.abstract %>
<p>
  <strong>Abstract:</strong>
  <%= @article.abstract.first %>
</p>
<% end %>

<% if @article.medium %>
<p>
  <strong>Medium or material:</strong>
  <%= @article.medium.first %>
</p>
<% end %>

<% if @article.edition %>
<p>
  <strong>Edition:</strong>
  <%= @article.edition.first %>
</p>
<% end %>

<% if @article.numPages %>
<p>
  <strong>Number of pages:</strong>
  <%= @article.numPages.first %>
</p>
<% end %>

<% if @article.pages %>
<p>
  <strong>Page numbers:</strong>
  <%= @article.pages.first %>
</p>
<% end %>

<% if @article.keyword %>
<p>
  <strong>Keywords:</strong>
   <% @article.keyword.each do |tag|%>
      <span><%=tag %></span>     
   <% end %>
</p>
<% end %>

<% if @article.publicationStatus %>
<p>
  <strong>Publication status:</strong>
  <%= @article.publicationStatus.first %>
</p>
<% end %>

<% if @article.reviewStatus %>
<p>
  <strong>reviewStatus:</strong>
  <%= @article.reviewStatus.first %>
</p>
<% end %>

<% if @article.language %>
<p>
  <strong>Language:</strong>
   <% @article.language.each do |l|%>
      <% if !l.languageAuthority.empty? and !l.languageLabel.empty? %>
        <span><%=link_to l.languageLabel.first, l.languageAuthority.first %></span>
      <% elsif !l.languageLabel.empty? %>
        <span><%= l.languageLabel.first %></span>
      <% end %>
   <% end %>
</p>
<% end %>

<% if @article.subject %>
<p>
  <strong>Subject:</strong>
   <% @article.subject.each do |s|%>
      <% if !s.subjectAuthority.empty? and !s.subjectLabel.empty? %>
        <span><%=link_to s.subjectLabel.first, s.subjectAuthority.first %></span>
      <% elsif !s.subjectLabel.empty? %>
        <span><%= s.subjectLabel.first %></span>
      <% end %>
   <% end %>
</p>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>


