<p id="notice"><%= notice %></p>

<%= render partial: "describe", as: :article %>
<%= render partial: "shared/mads_language_fields_show", as: :article %>
<%= render partial: "shared/mads_subject_fields_show", as: :article %>
<%= render partial: "shared/rights_activity_fields_show", as: :article %>
<%= render partial: "shared/files_with_details_show", as: :article %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Back', articles_path %>


