<% if article.storageAgreement.nil? || article.storageAgreement.empty? %>
  <% article.storageAgreement.build() %>
<% end %>
<div class="well">
  <div class="row">
    <div class="control-group">
      <legend>Data management</legend>
      <div class="fields">
        <%= f.label :hasDataManagementPlan, "The URL of the data management plan for your research project", :class=>"control-label" %>
        <%= f.text_field :hasDataManagementPlan, :value=>article.hasDataManagementPlan.first %>
      </div>
      <div class="fields">
        <%= f.label :hasAgreement, "Do you, the project or department have an agreement for storing data with the Bodleian?", :class=>"control-label" %>
        <%= f.radio_button :hasAgreement, "Yes", :checked=>(article.hasAgreement.first=='Yes') %> Yes &nbsp;&nbsp;
        <%= f.radio_button :hasAgreement, "No", :checked=>(article.hasAgreement.first=='No') %> No
      </div>
      <%= f.fields_for :storageAgreement, article.hasAgreement.first do |f_a| %>
        <div class="fields">
          <%= f_a.label :title, "In whose name is the agreement", :class=>"control-label" %>
          <%= f_a.text_field :title, :value=>article.storageAgreement.first.title.first %>
          <%= f_a.hidden_field :identifier, :value=>article.storageAgreement.first.identifier.first %>
        </div>
      <% end %>
      <% if can? :review, Dataset %>
        <div class="fields">
          <%= f.label :locator, "Data silo for storage", :class=>"control-label" %>
          <%= f.text_field :locator, :value=>article.locator.first %>
        </div>
        <div class="fields">
          <%= f.label :note, "Notes", :class=>"control-label" %>
          <%= f.text_field :note, :value=>article.note.first %>
        </div>
      <% end #can review %>
    </div><!-- /.control-group -->
  </div> <!-- /.row -->
</div> <!-- /.well -->
