<% if !article.hasAgreement.empty? || (!article.storageAgreement.empty? && (!article.storageAgreement.title.empty || !article.storageAgreement.identifier.empty)) || !article.locator.empty? %>
<div class="well">
  <div class="row">
    <div class="control-group">
      <h3>Data storage details</h3>
       <% if !article.hasAgreement.empty? %>
         <div>Agreement involving you found for data storage? <%= article.hasAgreement.first %></div>
       <% end %>
       <% if !article.storageAgreement.nil? && !article.storageAgreement.first.nil? && (!article.storageAgreement[0].title.empty? || !article.storageAgreement[0].identifier.empty?) %>
         <% url = "#" #storage_path(article.storageAgreement[0].identifier.first) %>
         <% if !article.storageAgreement[0].title.empty? && !article.storageAgreement[0].identifier.empty? %>
           <div>Storage agreement: <%=link_to article.storageAgreement[0].title.first, url %></div>
         <% elsif !article.storageAgreement[0].title.empty? %>
           <div>Storage agreement: <%= article.storageAgreement[0].title.first %></div>
         <% elsif !article.storageAgreement[0].identifier.empty? %>
           <div>Storage agreement: <%=link_to url, url %></div>
         <% end %>
       <% end %>
       <% if can? :review, Dataset %>
         <% if !article.locator.empty? %>
           <div>Data silo for storage: <%= article.locator.first %></div>
         <% end %>
         <% if !article.note.empty? %>
           <div>Notes: <%= article.note.first %></div>
         <% end %>
       <% end %>
    </div><!-- /.control-group -->
  </div><!-- /.row -->
</div>
<% end %>
