<div class="well">
  <div class="row">
    <div class="control-group">
      <legend>Data management</legend>
      <div class="fields">
        <%= f.label :hasDataManagementPlan, "The URL of the data management plan for your research project", :class=>"control-label" %>
        <%= f.text_field :hasDataManagementPlan, :value=>article.hasDataManagementPlan.first %>
      </div>
      <% if !@dataset.hasRelatedAgreement.nil? and @dataset.hasRelatedAgreement.agreementType.first == "Individual" %>
        <% showAgreement = "inline" %>
      <% else %>
        <% agreements = {} %>
        <% if !@relevant_user_agreements.nil? %>
          <% @relevant_user_agreements.each do |agreement| %>
            <% agreements[agreement.id] = agreement.title %>
          <% end %>
        <% end %>
        <% if agreements.length > 0 %>
          <div class="fields">
            <% agreements[""] = "This dataset has been paid for individually" %>      
            <%= f.label :hasAgreement, "Select the agreement relevant to this dataset", :class=>"control-label" %>
            <%= f.select :hasAgreement, options_for_select(agreements.invert, :selected=>article.hasAgreement.first), {}, {:onchange => "toggleDatasetAgreementDisplay(this.value)"} %>
          </div>
          <% showAgreement = "none" %>
        <% else %>
          <% showAgreement = "inline" %>
        <% end %>
      <% end %>
      <%= render partial: 'dataset_agreement_fields_edit', :locals => { :f => f, :hasRelatedAgreement => @dataset.hasRelatedAgreement, :showAgreement => showAgreement } %>
      <% if can? :review, Dataset %>
        <div class="fields">
          <%= f.label :note, "Notes", :class=>"control-label" %>
          <%= f.text_field :note, :value=>article.note.first %>
        </div>
      <% end #can review %>
    </div><!-- /.control-group -->
  </div> <!-- /.row -->
</div> <!-- /.well -->
