<div class="accordian">
  <div class="accordian-header">Dataset agreement</div>
  <div class="accordian-content">
    <% path = dataset_agreement_path(dataset_agreement.id) %>
    <% if !dataset_agreement.title.empty? or !dataset_agreement.title.first.start_with "Agreement for" %>
      <h6>Agreement for:</h6>
      <p><a href="<%=path%>"><%= dataset_agreement.title.first %></a></p>
    <% else %>
      <h6>Agreement for:</h6>
      <p><a href="<%=path%>">Dataset agreement</a></p>
    <% end %>
    
    <% if !dataset_agreement.annotation.empty? && !dataset_agreement.annotation.first.empty? %>
      <h6>Archiving payment option:</h6>
      <p><%= dataset_agreement.annotation.first %></p>
    </p>
    <% end %>
    
    <% if !dataset_agreement.invoice.nil? && !dataset_agreement.invoice.first.nil? && !dataset_agreement.invoice.first.description.empty? && !dataset_agreement.invoice.first.description.first.empty? %>
        <h6>Archiving payment option details:</h6>
        <p><%= dataset_agreement.invoice.first.description.first %></p>
    <% end #Invoice details%>

    <%= render partial: "shared/creation_agreement_activity_fields_show", :locals => { :article => dataset_agreement } %>
    <%= render partial: "shared/titular_activity_fields_show", :locals => { :article => dataset_agreement } %>
  </div>
</div> 