<% if hasRelatedAgreement.nil? %>
  <% hasRelatedAgreement = DatasetAgreement.new %>
<% end %>
<%= f.fields_for :hasRelatedAgreement, hasRelatedAgreement do |f_a| %>
  <div class="control-group" style="display:<%=showAgreement%>;" id="relatedAgreement" >
    <div class="field">
      <%= f_a.hidden_field :title, :value=>hasRelatedAgreement.title.first||"Agreement for #{@pid}", :id=>"dataset_agreement_title" %>
      <%= f_a.hidden_field :agreementType, :value=>hasRelatedAgreement.agreementType.first||"Individual" %>
      <%= f_a.hidden_field :contributor, :value=>hasRelatedAgreement.contributor.first||current_user.user_key %>
      <%= f_a.label :annotation, "Archiving payment option" %>
      <%= f_a.select :annotation, options_for_select(Sufia.config.archiving_payment_options, :selected=>hasRelatedAgreement.annotation.first) %>
    </div>
    <% if hasRelatedAgreement.invoice.empty? %>
      <% hasRelatedAgreement.invoice.build %>
    <% end %>
    <%= f_a.fields_for :invoice, hasRelatedAgreement.invoice.first do |f_i| %>
      <div class="field">
        <%= f_i.label :description, "Details for archiving payment option" %>
        <%= f_i.text_field :description, :value=>hasRelatedAgreement.invoice.first.description.first %> 
      </div>
    <% end %>
    <%= render partial: 'shared/creation_activity_fields_edit', :locals => { :f => f_a, :creation => hasRelatedAgreement.creation, :label => "data steward" } %>
    <%= render partial: 'shared/titular_activity_fields_edit', :locals => { :f => f_a, :titularActivity => hasRelatedAgreement.titularActivity } %>
  </div><!-- /.control-group -->
<% end %>
