<% if hasRelatedAgreement.agreementType.first == "Individual" %>
  <%= fields_for "dataset[hasRelatedAgreement]", hasRelatedAgreement do |f_a| %>
    <% if hasRelatedAgreement.invoice.empty? %>
      <% hasRelatedAgreement.invoice.build %>
    <% end %>

    <h4 class="padding-side-25">Archive service payment</h4>
    <div class="fieldset">
      <%= f_a.hidden_field :title, :value=>hasRelatedAgreement.title.first, :id=>"dataset_agreement_title", :disabled=>true %>
      <%= f_a.hidden_field :agreementType, :value=>hasRelatedAgreement.agreementType.first %>
      <%= f_a.hidden_field :contributor, :value=>hasRelatedAgreement.contributor.first %>

      <fieldset class="small-text">
        <% Sufia.config.archiving_payment_options.each do |key, val| %>
          <label><%= f_a.radio_button :annotation, val, :checked =>(hasRelatedAgreement.annotation.first==val), :class => "required", data: {"progress" => "preservation"} %><span></span><%=key%></label>
        <% end %>
      </fieldset>
      <%= f_a.fields_for :invoice, hasRelatedAgreement.invoice.first do |f_i| %>
        <label style="margin-top: 20px;">
          <p class="small">Further details</p>
          <%= f_i.text_area :description, :value=>hasRelatedAgreement.invoice.first.description.first, :style=>'width: 60%', data: {"progress" => "preservation"} %> 
        </label>
      <% end %>
      <% desc = '<p>Please see the ‘Charges’ section of the <a href="http://ox.libguides.com/ora-data-charges">ORA-Data help guide</a> for full details of the cost model.</p>
        <p> If payment has already been made, please give details below, including your X5 ID if you have it. If payment has not already been made, please give details of whom we should invoice. If payment is not required (e.g. you are just creating a catalogue record about data deposited elsewhere) or you would like help with this, please let us know in the box below.</p>' %>
      <%= render partial: '/shared/tooltip', :locals => {:tipType => "preservation" , :tipTitle => "Archive service payment" , :tipDescription => desc } %>
    </div><!-- /fieldset -->

    <div class="padding-side-25">
      <div class="bottom-border"></div>
    </div>

    <h4 class="padding-side-25">Nominate a data steward</h4>
    <% if false #Removing option to simplify this part of form%>
      <div class="padding-0">
        <%= render partial: 'shared/creation_activity_fields_data_steward_edit', :locals => { :f => f_a, :creation => hasRelatedAgreement.creation, :label => "During period of project" } %>
      </div>
    <% end %>
    <div class="padding-0">
      <%= render partial: 'shared/titular_activity_fields_edit', :locals => { :f => f_a, :titularActivity => hasRelatedAgreement.titularActivity } %>
    </div>

  <% end %>
<% else %>
  <h4>Nominate a data steward</h4>
  <div class="padding-0">
    <%= render partial: "shared/creation_activity_fields_show", :locals => { :article => hasRelatedAgreement, :label => "During period of project" } %>
  </div>

  <div class="padding-0">
    <%= render partial: "shared/titular_activity_fields_show", :locals => { :article => hasRelatedAgreement } %>
  </div>
<% end %>

