<p id="notice"><%= notice %></p>

<% if !@dataset.title.empty? && !@dataset.title.first.empty? %>
  <h6>Title:</h6>
  <h3><%= @dataset.title.first %></h3>
<% else %>
  <h1>Article</h1>
<% end %>
      
<% if !@dataset.subtitle.empty? && ! @dataset.subtitle.first.empty? %>
  <h6>Subtitle:</h6>
  <h3><%= @dataset.subtitle.first %></h3>
<% end %>

<%= render partial: "shared/work_type_fields_show", :locals => { :article => @dataset } %>

<% if !@dataset.abstract.empty? && !@dataset.abstract.first.empty? %>
  <h6>Abstract or brief description of research context:</h6>
  <p><%= simple_format(@dataset.abstract.first) %></p>
<% end %>

<%= render partial: "shared/mads_subject_fields_show", :locals => { :article => @dataset } %>

<% if !@dataset.keyword.empty? %>
  <h6>Keywords:</h6>
   <% @dataset.keyword.each do |tag|%>
      <p style="margin: 0"><%=tag %></p>     
   <% end %>
<% end %>

<%= render partial: "shared/mads_language_fields_show", :locals => { :article => @dataset } %>

<% if !@dataset.isDocumentedBy.empty? && !@dataset.isDocumentedBy.first.empty? %>
  <h6>Documentation about the dataset and processes:</h6>
  <p><%= simple_format(@dataset.isDocumentedBy.first) %></p>
<% end %>

<% if !@dataset.temporal.nil? && !@dataset.temporal.first.nil? && !@dataset.temporal.first.start.empty? && !@dataset.temporal.first.start.first.empty? %>
  <h6>Time period covered by the data:</h6>
  <p><%= @dataset.temporal.first.start.first %>
  <% if !@dataset.temporal.first.end.empty? && !@dataset.temporal.first.end.first.empty? %>
    to <%= @dataset.temporal.first.end.first %>
  <% end %>
  </p>
<% end %>

<% if !@dataset.dateCollected.nil? && !@dataset.dateCollected.first.nil? && !@dataset.dateCollected.first.start.empty? && !@dataset.dateCollected.first.start.first.empty? %>
  <h6>Dates data was collected:</h6>
  <p><%= @dataset.dateCollected.first.start.first %>
  <% if !@dataset.dateCollected.first.end.empty? && !@dataset.dateCollected.first.end.first.empty? %>
    to <%= @dataset.dateCollected.first.end.first %>
  <% end %>
  </p>
<% end %>

<% if !@dataset.spatial.nil? && !@dataset.spatial.first.nil? && !@dataset.spatial.first.value.empty? && !@dataset.spatial.first.value.first.empty? %>
  <h6>Geographical location or coverage of the data:</h6>
  <p><%= @dataset.spatial.first.value.first %></p>
<% end %>

<% if !@dataset.medium.empty? %>
  <h6>Data storage medium:</h6>
  <p>
  <% if @dataset.medium.first == Sufia.config.data_medium["Analog"] %>
    Analog
  <% elsif @dataset.medium.first == Sufia.config.data_medium["Digital"] %>
    Digital
  <% else %>
    <%= @dataset.medium.first %>
  <% end %>
  </p>
<% end %>
<% if @files.empty? %>
  <% if !@dataset.locator.empty? && !@dataset.locator.first.empty? %>
    <p><span class="h6">Data location:</span>
    <%= @dataset.locator.first %></p>
  <% end %>
  <% if !@dataset.digitalSize.empty? && !@dataset.digitalSize.first.empty? %>
    <p><span class="h6">Approximate data size:</span>
    <%= ActionController::Base.helpers.number_to_human_size(@dataset.digitalSize.first, precision: 2) %></p>
  <% end %>
  <% if !@dataset.format.empty? && !@dataset.format.first.empty? %>
    <p><span class="h6">Data format:</span>
    <%= @dataset.format.first %></p>
  <% end %>
<% else %>
  <% if !@dataset.adminDigitalSize.empty? && !@dataset.adminDigitalSize.first.empty? %>
    <p><span class="h6">Approximate data size:</span>
    <%= ActionController::Base.helpers.number_to_human_size(@dataset.adminDigitalSize.first, precision: 2) %></p>
  <% end %>
<% end %>
<% if !@dataset.version.empty? && !@dataset.version.first.empty? %>
  <p><span class="h6">Version number:</span>
  <%= @dataset.version.first %></p>
<% end %>

