<section class="form-step">
  <div class="content-box padding-0">
    <div class="content-box-header">
      1. Upload files
    </div>
    <div class="padding-25 no-pad-bottom">
      <%= render partial: 'files_form' %>
    </div>

    <%# TODO: The form is starting in the middle of the section %>
    <%= form_for(@dataset) do |f| %>
      <%= hidden_field_tag(:pid, @pid) %>
      <%= render partial: 'shared/file_info_fields_edit', :locals => { :f => f, :article => @dataset } %>

      <div class="padding-side-25">
        <div class="bottom-border"></div>
      </div>

      <%= render partial: 'shared/embargo/catalogue_fields_edit', :locals => { :f => f, :article => @dataset } %>

    <%# path = { :new => new_dataset_path, :list => datasets_path } %>
    <%# render partial: "shared/actions/new",  :locals => { :path => path } %>
  </div>

  <nav class="form-nav">
    <div class="form-nav-prev">
    </div>
    <div class="form-nav-next">
      <div class="float-left">
        <strong>Continue to Step 2</strong> - About your data
      </div>
      <a href="#" class="button button-arrow light-blue float-right" data-action="next_step">Next step</a>
    </div>
  </nav>
</section>

<section class="form-step">
  <div class="content-box padding-0">
    <div class="content-box-header">
      2. About your data
    </div>
    <div class="padding-0">
        <%= render partial: "shared/work_type_fields_edit", :locals => { :f => f, :worktype => @dataset.worktype } %>
        <%= render partial: "describe_fields_edit", :locals => { :f => f } %>
        <%= render partial: 'shared/publication_activity/dataset_fields_edit', :locals => { :f => f, :publication => @dataset.publication } %> 
    </div>
  </div>

  <h2 class="blue-text" style="margin-top: 30px;">Optional fields</h2>
  <p>Enhance your deposit by making your data more discoverable via search engines, and by linking your data to other items such as publications.</p>

  <div class="content-box padding-0">
    <div class="content-box-header expand-header">
      Add subject keywords, dates, geographical location and language information to your data
    </div>
    <div class="expand-content">
      <%= render partial: "shared/mads_subject_fields_edit", :locals => { :f => f, :subject => @dataset.subject } %>

      <div class="padding-side-25">
        <div class="bottom-border"></div>
      </div>

      <%= render partial: "shared/mads_keyword_fields_edit", :locals => { :f => f, :keyword => @dataset.keyword } %>

      <div class="padding-side-25">
        <div class="bottom-border"></div>
      </div>

      <div class="fieldset">
        <% if @dataset.dateCollected.empty? %>
          <% @dataset.dateCollected.build %>
        <% end %>
        <p class="small">When was the data collected?</p>
        <%= f.text_field "dateCollected][start", :value=>@dataset.dateCollected[0].start.first, :style=>'display: inline; width: 70px; margin: 0; margin-right: 10px;', data: {"progress" => "discoverability"} %> to 
        <%= f.text_field "dateCollected][end", :value=>@dataset.dateCollected[0].end.first, :style=>'display: inline; width: 70px; margin: 0; margin-left: 10px;', data: {"progress" => "discoverability"} %>

        <aside class="tooltip">
          <a href="#" class="close-button">x</a>
          <strong>Date collected</strong>
          <p>If applicable, enter the date(s) when your data were collected, e.g. '2014' or
          '1998 - 2010' or '15/4/2005 - 30/9/2005'.</p>

          <div class="tooltip-extra">
            <div class="circle circle-discoverability"></div>
            <p><strong>Completing this field helps with Discoverability</strong></p>
          </div>
        </aside>
      </div>

      <div class="fieldset">
        <% if @dataset.temporal.empty? %>
          <% @dataset.temporal.build %>
        <% end %>
        <p class="small">Temporal coverage of the data</p>
        <%= f.text_field "temporal][start", :value=>@dataset.temporal[0].start.first, :style=>'display: inline; width: 70px; margin: 0; margin-right: 10px;', data: {"progress" => "discoverability"} %> to 
        <%= f.text_field "temporal][end", :value=>@dataset.temporal[0].end.first, :style=>'display: inline; width: 70px; margin: 0; margin-left: 10px;', data: {"progress" => "discoverability"} %>

        <aside class="tooltip">
          <a href="#" class="close-button">x</a>
          <strong>Temportal coverage</strong>
          <p>If applicable, enter the time period to which your data relates, e.g. '1956' or '20/02/1987' or '1485-1510' or '15/4/2005 - 30/9/2005' or '12-8 BC'.</p>

          <div class="tooltip-extra">
            <div class="circle circle-discoverability"></div>
            <p><strong>Completing this field helps with Discoverability</strong></p>
          </div>
        </aside>
      </div>

      <div class="fieldset">
        <% if @dataset.spatial.empty? %>
          <% @dataset.spatial.build %>
        <% end %>
        <p class="small">Geographical location or coverage of the data</p>
        <%= f.text_field "spatial][value", :value=>@dataset.spatial.first.value.first, :style=>'width: 50%', data: {"progress" => "discoverability"} %>

        <aside class="tooltip">
          <a href="#" class="close-button">x</a>
          <strong>Geographical location</strong>
          <p>If applicable, enter the geographical location to which your data related. You may enter it as a place name, country or general area (e.g. 'France'; 'New York'; 'New Forest') or as a geographical co-ordinates, preferably in decimal degrees (e.g. 51.754109, -1.254085).</p>

          <div class="tooltip-extra">
            <div class="circle circle-discoverability"></div>
            <p><strong>Completing this field helps with Discoverability</strong></p>
          </div>
        </aside> 
      </div>

      <div class="padding-side-25">
        <div class="bottom-border"></div>
      </div>

      <%= render partial: "describe_extra_fields_edit", as: :dataset, :locals => { :f => f } %>

      <div class="padding-side-25">
        <div class="bottom-border"></div>
      </div>

      <%= render partial: "shared/mads_language_fields_edit", :locals => { :f => f, :language => @dataset.language } %>
    </div>
  </div>

  <div class="content-box padding-0">
    <div class="content-box-header expand-header">
      Add a description of your research
    </div>
    <div class="expand-content">
      <div class="fieldset">
        <p class="small">Version number</p>
        <%= f.text_field :version, :value=>@dataset.version.first, :style=>'width: 100px', data: {"progress" => "citation"} %>

        <aside class="tooltip">
          <a href="#" class="close-button">x</a>
          <strong>Version number</strong>
          <p>If you are depositing a specific version of your data (e.g. 'version 4'), give the version name or number here.</p>

          <div class="tooltip-extra">
            <div class="circle circle-citation"></div>
            <p><strong>Completing this field helps with Citation</strong></p>
          </div>
        </aside> 
      </div>

      <div class="fieldset">
        <p class="small">Abstract or brief description of research context</p>
        <%= f.text_area :abstract, :value=>@dataset.abstract.first, :style=>'width: 60%', data: {"progress" => "documentation"} %>

        <aside class="tooltip">
          <a href="#" class="close-button">x</a>
          <strong>Abstract</strong>
          <p>Use this box to enter (or paste in) an abstract of the study in which the data were generated, or provide a brief description of the context of your research.</p>

          <div class="tooltip-extra">
            <div class="circle circle-documentation"></div>
            <p><strong>Completing this field helps with Documentation</strong></p>
          </div>
        </aside> 
      </div>
    </div>

  </div>

  <nav class="form-nav">
    <div class="form-nav-prev">
      <a href="#" class="button button-back light-blue" data-action="prev_step">Back</a>
    </div>
    <div class="form-nav-next">
      <div class="float-left">
        <strong>Continue to Step 3</strong> - About you
      </div>
      <a href="#" class="button button-arrow light-blue float-right" data-action="next_step">Next step</a>
    </div>
  </nav>

</section>

<section class="form-step">
  <div class="content-box padding-0">
    <div class="content-box-header">
      3. About you
    </div>
    <div class="padding-0">
      <%= render partial: 'shared/creation_activity_fields_edit', :locals => { :f => f, :creation => @dataset.creation, :label => "creator" } %>
    </div>
  </div>

  <nav class="form-nav">
    <div class="form-nav-prev">
      <a href="#" class="button button-back light-blue" data-action="prev_step">Back</a>
    </div>
    <div class="form-nav-next">
      <div class="float-left">
        <strong>Continue to Step 4</strong> - Related publications
      </div>
      <a href="#" class="button button-arrow light-blue float-right" data-action="next_step">Next step</a>
    </div>
  </nav>

</section>

<section class="form-step">
  <div class="content-box padding-0">
    <div class="content-box-header">
      4. Related publications
    </div>
    <div class="padding-0">
      <%= render partial: 'shared/relation_fields_edit', :locals => { :f => f, :qualifiedRelation => @dataset.qualifiedRelation } %>
    </div>
  </div>

  <nav class="form-nav">
    <div class="form-nav-prev">
      <a href="#" class="button button-back light-blue" data-action="prev_step">Back</a>
    </div>
    <div class="form-nav-next">
      <div class="float-left">
        <strong>Continue to Step 5</strong> - Data archiving options
      </div>
      <a href="#" class="button button-arrow light-blue float-right" data-action="next_step">Next step</a>
    </div>
  </nav>
    
</section>

<section class="form-step">
  <div class="content-box padding-0">
    <div class="content-box-header">
      5. Data archiving options
    </div>
    <div class="padding-0">
        <%= render partial: "admin_fields_edit", :locals => { :f => f, :article => @dataset } %>
    </div>
  </div>

  <nav class="form-nav">
    <div class="form-nav-prev">
      <a href="#" class="button button-back light-blue" data-action="prev_step">Back</a>
    </div>
    <div class="form-nav-next">
      <div class="float-left">
        <strong>Continue to Step 6</strong> - Funders and payment
      </div>
      <a href="#" class="button button-arrow light-blue float-right" data-action="next_step">Next step</a>
    </div>
  </nav>
</section>

<section class="form-step">
  <div class="content-box padding-0">
    <div class="content-box-header">
      6. Funders and payment
    </div>
    <div class="padding-25 no-pad-top">
      <%= hidden_field_tag(:pid, @pid) %>
      <%= hidden_field_tag('redirect_tab', 'funderstab') %>
      <%= render partial: 'shared/funding_activity_fields_edit', :locals => { :f => f, :funding => @dataset.funding } %>
    </div>

    <div class="bottom-border padding-side-25"></div>

  </div>

  <h2 class="blue-text" style="margin-top: 30px;">Optional fields</h2>
  <p>Enhance your deposit by making your data more discoverable via search engines, and by linking your data to other items such as publications.</p>

  <div class="content-box padding-0">
    <div class="content-box-header expand-header">
      Licence your data
    </div>
    <div class="expand-content">

      <%= hidden_field_tag(:pid, @pid) %>
      <%= hidden_field_tag('redirect_tab', 'rightstab') %>
      <%= render partial: "shared/rights_activity_fields_edit", :locals => { :f => f, :article => @dataset } %>

    </div>
  </div>

  <nav class="form-nav">
    <div class="form-nav-prev">
      <a href="#" class="button button-back light-blue" data-action="prev_step">Back</a>
    </div>
  </nav>
  
</section>

<!-- <section class="form-step">
  <%#= render partial: "admin_fields_edit", :locals => { :f => f, :article => @dataset } %>
  <%#= render partial: "shared/permissions_edit", :locals => {:f => f, :permissions => @dataset.permissions, :depositor => @dataset.workflowMetadata.depositor[0]} %>
  <%#= render partial: 'shared/permissions_delete', :locals => {:permissions => @dataset.permissions, :depositor => @dataset.workflowMetadata.depositor[0], :pid => @pid} %>
</section>

<section class="form-step">
  <%#= hidden_field_tag('redirect_tab', 'workflowtab') %>
  <%#= render partial: 'shared/workflow_edit', :locals => { :f => f, :article => @dataset } %>
  <%# if can? :review, :all %>
    <%# buttonText = 'Save review changes' %>
  <%# else %>
    <%# buttonText = 'Submit for Review' %>
  <%# end %>
</section> -->

<nav class="form-nav" style="margin-top: 20px;">
  <div class="form-nav-next" style="text-align: right">
    <%= f.submit "Save", class: "button light-blue" %>
  <% end #TODO: This form end is being rejected. Fix this. Need to think about form flows  %>

    <%#= form_for @dataset, :html => {:multipart => true, :class => 'inline', :id => 'workflow'} do |f| %>
      <%#= hidden_field_tag(:pid, @pid) %>
      <%#= render partial: 'shared/workflow_edit', :locals => { :f => f, :article => @dataset } %>
      <%# unless can? :review, :all %>
        <%# txt = '<i class="icon-save"></i> Submit for Review' %>
        <%#= button_tag txt.html_safe, :type => 'submit', :class => 'button light-blue', :onclick => "confirmation_needed = false;", :id => "upload_submit", :name => "update_workflow" %>
      <%# end %>
    <%# end %>

  </div>
</nav>

