    <tr>
      <% if display_thumbs %>
        <td class="span10"><%= link_to image_tag("default.png", {width: 45, height: 60}), dataset_path(dataset) %> </td>
      <% end %>
      <td>
        <h3>
          <%= link_to dataset.title, dataset, :title => dataset.title  %>

          <% if display_access %>
            <span class="label label-<%=dataset.embargoClass%>"><%= dataset.embargoStatus %></span>
          <% end %>
        </h3>
        <p> 
          <% if !dataset.subtitle.nil? %>
            <span><%= dataset.subtitle %></span>
          <% end %>
          <% if !dataset.description.nil? %>
            <span><%= truncate(dataset.description, :length=>100, :separatoe =>"...") %></span>
          <% end %>
          <% if !dataset.reviewStatus.nil? %>
            <span><% dataset.reviewStatus %></span>
          <% end %>
        </p>
      </td>
    </tr>
