    <tr>
      <td>
        <%= render :partial => "shared/show_document", :locals => {:document => dataset} %>
      </td>
      <td>
        <% if !dataset.submission_workflow_status.nil? && dataset.submission_workflow_status.downcase == "draft" %>
          <% className = "red-text" %>
        <% else %>
          <% className = "" %>
        <% end %>
        <h4 class="<%=className%>"><%= dataset.submission_workflow_status %></h4>
        <a href="<%= document_url(dataset.modelName, 'show', dataset.id) %>" class="button button-small light-blue">Read<%= image_tag "ora/icons/read.svg", class: "icon icon-read" %></a>
        <a href="<%= document_url(dataset.modelName, 'edit', dataset.id) %>" class="button button-small light-blue">Edit<%= image_tag "ora/icons/edit.svg", class: "icon icon-read" %></a>
        <a href="<%= document_url(dataset.modelName, 'show', dataset.id) %>" class="button button-small light-blue" data-method="delete" data-confirm="Are you sure?">Delete<%= image_tag "ora/icons/delete.svg", class: "icon icon-read" %></a>
      </td>
    </tr>

