<% @page_title = application_name + " Update Dataset" %>

<h2 style="margin-left: 10px;">Update dataset</h2>

<div>
    <% if @dataset.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@dataset.errors.count, "error") %> prohibited this dataset from being saved:</h2>
        <ul>
          <% @dataset.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
</div>

</div>
<div class="gutter-container">

  <% path = { :new => new_dataset_path, :show => dataset_path(@pid), :edit => edit_dataset_path(@pid), :list => datasets_path } %>
  <%= render partial: "shared/actions/edit", :locals => { :path => path } %>

  <div class="col col3of4">
    <%= render partial: 'tabs' %>
  </div>

  <div class="col col3of4">
    <%= render partial: 'form' %>
  </div>

  <div class="col col1of4">
    <%= render :partial => 'shared/progress_tracker' %>
  </div>
