<% @page_title = application_name + " Add Dataset" %>

  <h2 style="margin-left: 10px;">Create dataset</h2>
  <% path = { :list => datasets_path } %>
  <br/><%= render partial: "shared/actions/new", :locals => { :path => path } %>

  <% if @dataset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dataset.errors.count, "error") %> prohibited this dataset from being saved:</h2>
      <ul>
        <% @dataset.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

</div>
<div class="gutter-container">

  <div class="col col3of4">
    <%# using partials rather than inlining, so implementers can add or change stuff on this page without much duplication %>
    <%= render partial: 'tabs' %>
  </div>

  <div class="col col3of4">
    <%= render partial: 'form' %>
  </div>

  <div class="col col1of4">
    <%= render :partial => 'shared/progress_tracker' %>
  </div>
