<% @page_title = application_name + " Dataset" %>

<p id="notice"><%= notice %></p>

<% if false %>
  <h3><span class="label label-<%=@dataset.relationsMetadata.embargoClass%>"><%= @dataset.relationsMetadata.embargoStatus %></span> </h3>
<% end %>

</div>
<div class="gutter-container">
	<div class="col col1of6">
		<aside class="filters">
			<% path = { :new => new_dataset_path, :show => dataset_path(@dataset), :edit => edit_dataset_path(@dataset), :list => datasets_path } %>
			<%= render partial: "shared/actions/show", :locals => { :path => path, :current_status => @dataset.workflows.first.current_status, :document_id => @dataset.id.to_s } %>
                        <%#= TODO: Add stats and open access state, once published in ORA %>
                        <%#= render partial: "shared/access_logo_and_stats_show", :locals => { :article => @article } %>
                        <%#= TODO: Compute and add stats for fill factor by category %>
                        <%#= render partial: "shared/fill_factor_by_category_show", :locals => { :article => @article } %>
		</aside>
	</div>

	<div class="col col5of6">
		<div class="content-box padding-0">
			<div class="content-box-header orange-bg font-26">
				Dataset
			</div>
			<div class="padding-25 overflow">
				<div class="record-content">
					<%= render partial: "describe_fields_show", as: :dataset %>
					<%= render partial: "shared/creation_activity_fields_show", :locals => { :article => @dataset } %>
					<%= render partial: "shared/publication_activity/dataset_fields_show", :locals => { :article => @dataset } %>
					<%= render partial: "shared/funding_activity_fields_show", :locals => { :article => @dataset } %>
					<%= render partial: "shared/relation_fields_show", :locals => { :article => @dataset } %>
					<%= render partial: "shared/license_activity_fields_show", :locals => { :article => @dataset } %>
                                        <%= render partial: "shared/rights_activity_fields_show", :locals => { :article => @dataset } %>
					<%= render partial: "dataset_agreement_fields_show", :locals => { :article => @dataset } %>
					<%= render partial: "admin_fields_show", :locals => { :article => @dataset } %>
					<%= render partial: "shared/embargo/catalogue_fields_show", :locals => { :article => @dataset } %>
					<%= render partial: "shared/workflow_show", :locals => { :article => @dataset } %>
                                        <% if can? :review, :all %>
						<%= render partial: "shared/permissions_show", :locals => { :article => @dataset } %>
					<% end %>
				</div>
				<aside class="record-sidebar">
					<h6>Downloads</h6>
					<%= render partial: "shared/file_info_fields_show", :locals => { :article => @dataset } %>
				</aside>
			</div>
		</div>
	</div>
</div>
