<h4 class="reqlabel">Have you applied for dispensation from consultation?</h4>
<div class="fieldset">
  <fieldset class="small-text">
    <label panel="dataset-dispensation">
      <%= f.radio_button :dispensationFromConsultation, "yes", checked: thesis.dispensationFromConsultation.first == "yes", class: "required" %>
      <span></span>Yes
    </label>
    <label>
      <%= f.radio_button :dispensationFromConsultation, "no", checked: thesis.dispensationFromConsultation.first == "no", class: "required" %>
      <span></span>No
    </label>
  </fieldset>
  <%= render partial: '/shared/tooltip', locals: {:tipType => "documentation" , :tipTitle => "Dispensation from consultation" , :tipDescription => "TODO" } %>
</div>

<h4>Third-party copyright</h4>
<div class="fieldset">
  <fieldset class="small-text">
    <label panel="dataset-third-party">
      <%= f.radio_button :thirdPartyCopyright, "yes", checked: thesis.thirdPartyCopyright.first == "yes", class: "fundingAward" %>
      <span></span>Yes
    </label>
    <label>
      <%= f.radio_button :thirdPartyCopyright, "no", checked: thesis.thirdPartyCopyright.first == "no", class: "fundingAward" %>
      <span></span>No
    </label>
  </fieldset>
  <%= render partial: '/shared/tooltip', locals: {:tipType => "documentation" , :tipTitle => "Third party copyright" , :tipDescription => "TODO" } %>
</div>
