<div class="fieldset">
  <p class="small reqlabel">Title</p>
  <%= f.text_field :title, value: @thesis.title.first, required: true, style: 'width: 60%', data: {"progress" => "citation"} %>
  <%= render partial: '/shared/tooltip', locals: {:tipType => "citation", :tipTitle => "Title", :tipDescription =>"Enter the title by which your publication should be known and cited." } %>
</div>

<div class="fieldset">
  <p class="small">Subtitle</p>
  <%= f.text_field :subtitle, value: @thesis.subtitle.first, style: 'width: 60%', data: {"progress" => "discoverability"} %>
  <%= render partial: '/shared/tooltip', locals: {:tipType => "discoverability", :tipTitle => "Subtitle", :tipDescription =>"If you would like to give your publication a sub-title, enter it here." } %>
</div>

<div class="fieldset">
  <p class="small">Abstract</p>
  <%= f.text_area :abstract, value: @thesis.abstract.first, style: 'width: 60%', data: {"progress" => "discoverability"} %>
  <%= render partial: '/shared/tooltip', locals: {:tipType => "discoverability", :tipTitle => "Abstract", :tipDescription =>"If you would like to give us an abstract of your publication, enter it here." } %>
</div>

<% if !@thesis.medium.nil? && !@thesis.medium.empty? && !@thesis.medium.first.empty? %>
    <!-- Only display if information exists i.e. imported records -->
    <div class="fieldset">
      <p class="small">Medium</p>
      <%= f.text_field :medium, value: @thesis.medium.first, data: {"progress" => "discoverability"} %>
      <%= render partial: '/shared/tooltip', locals: {:tipType => "discoverability", :tipTitle => "Medium", :tipDescription =>"If you would like to tell us the medium of your publication, enter it here." } %>
    </div>
<% end %>