<h2 style="margin-left: 10px;">Update thesis</h2>

<div>
  <% if @thesis.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@thesis.errors.count, "error") %> prohibited this thesis from being saved:</h2>
        <ul>
          <% @thesis.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>

</div>
<div class="gutter-container">

  <% path = { :new => new_thesis_path, :show => thesis_path(@pid), :edit => edit_thesis_path(@pid), :list => theses_path } %>
  <%= render partial: "shared/actions/edit", locals: { :path => path } %>

  <div class="col col3of4">
    <%= render partial: 'tabs' %>
  </div>

  <div class="col col3of4">
    <%= render partial: 'form' %>
  </div>

  <div class="col col1of4">
    <%= render :partial => 'shared/progress_tracker' %>
  </div>
