<h2>Deposit thesis</h2>
<% path = { :list => publications_path } %>
<br/><%= render partial: "shared/actions/new", locals: { path: path } %>

<% if @thesis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thesis.errors.count, "error") %> prohibited this thesis from being saved:</h2>
      <ul>
        <% @thesis.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

</div>
<div class="gutter-container">

  <div class="col col3of4">
    <%= render partial: 'tabs' %>
  </div>

  <div class="col col3of4">
    <%= render partial: 'form' %>
  </div>

  <div class="col col1of4">
    <%= render partial: 'shared/progress_tracker' %>
  </div>
