    <tr>
      <% if display_thumbs %>
        <td class="span10"><%= link_to image_tag("default.png", {width: 45, height: 60}), dataset_path(dataset) %> </td>
      <% end %>
      <td>
        <h3>
          <%= link_to dataset.title, dataset, :title => dataset.title  %>

          <% if display_access %>
            <span class="label label-<%=dataset.embargoClass%>"><%= dataset.embargoStatus %></span>
          <% end %>
        </h3>
        <p> 
          <% if !dataset.digitalSizeAllocated.nil? %>
            <span><%= dataset.digitalSizeAllocated %></span>
          <% end %>
          <% if !dataset.dataStorageSilo.nil? %>
            <span><%= dataStorageSilo %></span>
          <% end %>
          <% if !dataset.status.nil? %>
            <span><% dataset.status %></span>
          <% end %>
        </p>
      </td>
    </tr>
