<h1>Dataset agreements</h1>

<% msg = 'Login to see your recently added documents' if msg.blank? and current_user.blank? %>
<% msg = 'You have no signed or relevant agreements to display' if msg.blank? %>
<% display_thumbs = true %>
<% display_access = false %>

<% path = { :new => new_dataset_agreement_path, :list => dataset_agreements_path } %>
<br/><%= render partial: "shared/actions/list", :locals => { :path => path } %>

<div>
  <% if @user_agreements.blank? && @relevant_user_agreements.blank? %>
      <h3>  <%= msg %> </h3>
  <% else %>
    <% if !@user_agreements.blank? %>
      <h3>Signed agreements</h3>
      <div id="recent_docs">
        <table class="table table-bordered table-striped">
          <% @user_agreements.each do |agreement| %>
            <%= render :partial => "recent_dataset_agreement", as: :dataset_agreement, :locals=>{:display_thumbs=> display_thumbs, :display_access=> display_access, :dataset_agreement => agreement} %>
          <% end %>
        </table>
      </div>
    <% end %>
    <% if !@relevant_user_agreements.blank? %>
      <h3>Relevant agreements</h3>
      <div id="recent_docs">
        <table class="table table-bordered table-striped">
          <% @relevant_user_agreements.each do |agreement| %>
            <%= render :partial => "recent_dataset_agreement", as: :dataset_agreement, :locals=>{:display_thumbs=> display_thumbs, :display_access=> display_access, :dataset_agreement => agreement} %>
          <% end %>
        </table>
      </div>
    <% end %>
  <% end %>
  <% if can? :review, DatasetAgreement %>
    <% if !@agreements.blank? %>
      <h3>Agreements to administer</h3>
      <div id="recent_docs">
        <table class="table table-bordered table-striped">
          <% @agreements.each do |agreement| %>
            <%= render :partial => "recent_dataset_agreement", as: :dataset_agreement, :locals=>{:display_thumbs=> display_thumbs, :display_access=> display_access, :dataset_agreement => agreement} %>
          <% end %>
        </table>
      </div>
    <% end %>
  <% end %>
</div>

