<h1>Create dataset agreement</h1>

<%# using partials rather than inlining, so implementers can add or change stuff on this page without much duplication %>
<%= render partial: 'tabs' %>

<div>
  <% if @dataset_agreement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dataset_agreement.errors.count, "error") %> prohibited this dataset agreement from being saved:</h2>
      <ul>
        <% @dataset_agreement.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="tab-content">
  <%= render partial: 'files_form' %>
  <%= render partial: 'form' %>
</div>

<% path = { :new => new_dataset_agreement_path, :list => dataset_agreements_path } %>
<br/><%= render partial: "shared/actions/new",  :locals => { :path => path } %>

