<div class="well">
  <div class="row">
    <div class="control-group">

      <div class="fields">
        <%= label_tag "article[oaStatus]", "Is this an open access article?", :class=>"control-label" %>
        <% if !@article.oaStatus.empty? %>
          <%= select_tag "article[oaStatus]", options_for_select(Sufia.config.oa_types, :selected=>@article.oaStatus.first), :style=>"width: 450px;" %>
        <% else %>
          <%= select_tag "article[oaStatus]", options_for_select(Sufia.config.oa_types), :style=>"width: 450px;" %>
        <% end %>
      </div>
          
      <div class="fields">
        <%= label_tag "article[apcPaid]", "Does the article involve an article processing charge (either paid or to be paid)", :class=>"control-label" %>
        <% if !@article.apcPaid.empty? and @article.apcPaid.first == "Yes" %>
          <%= radio_button_tag 'article[apcPaid]', "Yes", true  %> Yes &nbsp;&nbsp;
        <% else %>
          <%= radio_button_tag 'article[apcPaid]', "Yes" %>  Yes &nbsp;&nbsp;
        <% end %>
        <% if !@article.apcPaid.empty? and @article.apcPaid.first == "No" %>
          <%= radio_button_tag 'article[apcPaid]', "No", true  %> No
        <% else %>
          <%= radio_button_tag 'article[apcPaid]', "No" %> No
        <% end %>
      </div>

      <div class="fields">
        <%= label_tag "article[oaReason]", "What is the basis of the APC?", :class=>"control-label" %>
        <% if !@article.oaReason.empty? %>
          <%= select_tag "article[oaReason]", options_for_select(Sufia.config.oa_reason, :selected=>@article.oaReason.first), :style=>"width: 550 px;" %>
        <% else %>
          <%= select_tag "article[oaReason]", options_for_select(Sufia.config.oa_reason), :style=>"width: 550px;" %>
        <% end %>
      </div>

      <div class="fields">
        <%= label_tag "article[refExcepotion]", "REF Exception?", :class=>"control-label" %>
        <%= text_field_tag 'article[refException]', @article.refException.first %>
      </div>
          
    </div><!-- /.control-group -->
  </div><!-- /.row -->
</div><!-- /.well -->

