<legend>Access information for article</legend>

<% if @article.accessRights.empty? %>
  <% @article.accessRights.build %>
<% end %>
<% if @article.accessRights[0].embargoDate.empty? %>
  <% @article.accessRights[0].embargoDate.build %>
<% end %>
<% if @article.accessRights[0].embargoDate[0].start.empty? %>
  <% @article.accessRights[0].embargoDate[0].start.build %>
<% end %>
<% if @article.accessRights[0].embargoDate[0].duration.empty? %>
  <% @article.accessRights[0].embargoDate[0].duration.build %>
<% end %>
<% if @article.accessRights[0].embargoDate[0].end.empty? %>
  <% @article.accessRights[0].embargoDate[0].end.build %>
<% end %>

<% startOption = nil %>
<% if @article.accessRights[0].embargoDate[0].start[0].label[0].nil? %>
  <% startOption = "Today" %>
<% else %>
  <% startOption = @article.accessRights[0].embargoDate[0].start[0].label[0] %>
<% end %>

<div class="field">
  <%= label_tag "article[accessRights][][embargoStatus]", "Can this catalogue record be made visible?", :class=>"control-label" %>
  <span><%= radio_button_tag "article[accessRights][][embargoStatus]", "Open access", (@article.accessRights[0].embargoStatus[0] == "Open access") %> Yes</span>
  <span><%= radio_button_tag "article[accessRights][][embargoStatus]", "Embargoed", (@article.accessRights[0].embargoStatus[0] == "Embargoed") %> After a certain period</span>
  <span><%= radio_button_tag "article[accessRights][][embargoStatus]", "Closed access", (@article.accessRights[0].embargoStatus[0] == "Closed access") %> No</span>
</div>

<div class="field">
  <%= label_tag "article[accessRights][][embargoDate]", "What is the embargo end date?", :class=>"control-label" %>
</div>

<div class="field" style="background-color:#ccc;">
  <%= label_tag "article[accessRights][][embargoDate][][end][][date]", "Enter the embargo end date", :class=>"control-label" %>
  <%= text_field_tag "article[accessRights][][embargoDate][][end][][date]", @article.accessRights[0].embargoDate[0].end[0].date.first %>
</div>

<div class="field" style="background-color:#ddd;">
  <%= label_tag "article[accessRights][][embargoDate][][duration][]", "<b>OR</b> Enter the embargo period".html_safe, :class=>"control-label" %>
  <%= text_field_tag "article[accessRights][][embargoDate][][duration][][years]", @article.accessRights[0].embargoDate[0].duration[0].years.first, maxlength: "2", size: "2", style: "width: 20px;" %>
  <span> years and </span>
  <%= text_field_tag "article[accessRights][][embargoDate][][duration][][months]", @article.accessRights[0].embargoDate[0].duration[0].months.first, maxlength: "2", size: "2", style: "width: 20px;" %>
  <span> months starting from</span>
  <span><%= radio_button_tag "article[accessRights][][embargoDate][][start][][label]", "Today", (startOption == "Today") %> today</span>
  <span><%= radio_button_tag "article[accessRights][][embargoDate][][start][][label]", "Publication date", (startOption == "Publication date") %> publication date</span>
  <span><%= radio_button_tag "article[accessRights][][embargoDate][][start][][label]", "", (startOption == "Date") %> date</span>
  <%= text_field_tag "article[accessRights][][embargoDate][][start][][date]", @article.accessRights[0].embargoDate[0].start[0].date.first %>
</div>

<div class="field">
  <%= label_tag "article[accessRights][][embargoReason]", "Reason for embargo", :class=>"control-label" %>
  <% if !@article.accessRights.empty? and !@article.accessRights[0].embargoReason.empty? %>
    <%= text_field_tag "article[accessRights][][embargoReason]", @article.accessRights[0].embargoReason.first %>
  <% else %>
    <%= text_field_tag "article[accessRights][][embargoReason]" %>
  <% end %>
</div>

<div class="field">
  <%= label_tag "article[accessRights][][embargoRelease]", "Embargo release method", :class=>"control-label" %>
  <% if !@article.accessRights.empty? and !@article.accessRights[0].embargoRelease.empty? %>
    <%= select_tag "article[accessRights][][embargoRelease]", options_for_select(Sufia.config.embargo_release_methods, :selected=>@article.accessRights[0].embargoRelease.first) %>
  <% else %>
    <%= select_tag "article[accessRights][][embargoRelease]", options_for_select(Sufia.config.embargo_release_methods) %>
  <% end %>
</div>

