<% require 'json' %>
<% if !creators.empty? %>
  <% creators.each do |creator| %>
    <% c = JSON.parse(creator) %>
    <% if !c.nil? && !c.empty? && c.has_key?('name') && !c['name'].nil? && !c['name'].empty? %>
      <div>
        <% if c.has_key?('sameAs') && !c['sameAs'].nil? && !c['sameAs'].empty? %>
          <strong><%=link_to c['name'], c['sameAs'] %></strong><br/>
        <% else %>
           <strong><%= c['name'] %></strong><br/>
        <% end %>
        <% if c.has_key?('role') and c['role'].any? %>
          <% roles = c['role'].reject { |role| role.blank? } %>
          <% roles = roles.map {|role| Sufia.config.role_labels[role] || role} %>
          <% if roles.any? %>
            <%= roles.join(", ") %>
          <% end %>
        <% end %>
        <% if c.has_key?('affiliationName') && !c['affiliationName'].nil? && !c['affiliationName'].empty? %>
          <% if c.has_key?('affiliationSameAs') && !c['affiliationSameAs'].nil? && !c['affiliationSameAs'].empty? %>
            <%=link_to c['affiliationName'], c['affiliationSameAs'] %><br/>
          <% else %>
            <%= c['affiliationName'] %><br/>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

