<div class="well">
  <div class="row">
    <div class="control-group">

      <div id="creation" class="control-group">
        <% if @article.creation.empty? %>
          <% @article.creation.build %>
        <% end %>
        <% @article.creation.each do |c0| %>
          <% if c0.creator.empty? %>
            <% c0.creator.build %>
          <% end %>
          <% c0.creator.each_with_index do |c, c_index| %>
            <% if c.agent.empty? %>
              <% c.agent.build %>
            <% end %>
            <% if c.agent[0].affiliation.empty? %>
              <% c.agent[0].affiliation.build %>
            <% end %>
            <% if c_index.to_s == "0" %>
              <div class="controls" id="additional_creation_clone">
                <fieldset>
                <legend>Creator information</legend>
                <%= label_tag "article[creation][][creator][][name]", "Name of creator", :class=>"control-label" %>
                <%= text_field_tag "article[creation][][creator][][name]", c.agent[0].name.first %>
                <%= label_tag "article[creation][][creator][][role]", "Role", :class=>"control-label" %>
                <% if !c.role.nil? %>
                  <%= select_tag "article[creation][][creator][][role]", options_for_select(Sufia.config.article_role_types, :selected=>c.role.first) %>
                <% else %>
                  <%= select_tag "article[creation][][creator][][role]", options_for_select(Sufia.config.artivle_role_types) %>
                <% end %>
                <%= label_tag "article[creation][][creator][][email]", "Email", :class=>"control-label" %>
                <%= text_field_tag "article[creation][][creator][][email]", c.agent[0].email.first %>
                <% c.agent[0].affiliation.each do |c2| %>
                  <%= label_tag "article[creation][][creator][][affiliation][][name]", "Affiliation", :class=>"control-label" %>
                  <%= text_field_tag "article[creation][][creator][][affiliation][][name]", c2.name.first %>
                  <%= label_tag "article[creation][][creator][][affiliation][][sameAs]", "Link to affiliation object", :class=>"control-label" %>
                  <%= text_field_tag "article[creation][][creator][][affiliation][][sameAs]", c2.sameAs.first %>
                <% end %>
                <%= label_tag "article[creation][][creator][][sameAs", "Link to creator object", :class=>"control-label" %>
                <%= text_field_tag "article[creation][][creator][][sameAs]", c.agent[0].sameAs.first %>
                <button class="adder btn" name="additional_creation" id="additional_creation_submit">+<span class="accessible-hidden">add another creation</span></button>
                &nbsp;
                <small><%= help_icon(:creation) %></small>
                </fieldset>
              </div>
            <% else %>
              <div class="controls">
                <fieldset>
                <legend>Creator information</legend>
                <%= label_tag "article[creation][][creator][][name]", "Name of creator", :class=>"control-label" %>
                <%= text_field_tag "article[creation][][creator][][name]", c.agent[0].name.first %>
                <%= label_tag "article[creation][][creator][][role]", "Role", :class=>"control-label" %>
                <% if !c.role.nil? %>
                  <%= select_tag "article[creation][][creator][][role]", options_for_select(Sufia.config.article_role_types, :selected=>c.role.first) %>
                <% else %>
                  <%= select_tag "article[creation][][creator][][role]", options_for_select(Sufia.config.artivle_role_types) %>
                <% end %>
                <%= label_tag "article[creation][][creator][][email]", "Email", :class=>"control-label" %>
                <%= text_field_tag "article[creation][][creator][][email]", c.agent[0].email.first %>
                <% c.agent[0].affiliation.each do |c2| %>
                  <%= label_tag "article[creation][][creator][][affiliation][][name]", "Affiliation", :class=>"control-label" %>
                  <%= text_field_tag "article[creation][][creator][][affiliation][][name]", c2.name.first %>
                  <%= label_tag "article[creation][][creator][][affiliation][][sameAs]", "Link to affiliation object", :class=>"control-label" %>
                  <%= text_field_tag "article[creation][][creator][][affiliation][][sameAs]", c2.sameAs.first %>
                <% end %>
                <%= label_tag "article[creation][][creator][][sameAs", "Link to creator object", :class=>"control-label" %>
                <%= text_field_tag "article[creation][][creator][][sameAs]", c.agent[0].sameAs.first %>
                <button class="remover btn" name="additional_creation" id="additional_creation_submit">-<span class="accessible-hidden">add another creation</span></button> 
                </fieldset>
              </div>
            <% end %>
          <% end %>
          <div id="additional_creation_elements"></div>
        <% end %>
      </div>

    </div><!-- /.control-group -->
  </div> <!-- /.row -->
</div> <!-- /.well -->

