<% require 'json' %>
<% if !creators.empty? %>
  <% creators.each do |creator| %>
    <% c = JSON.parse(creator) %>
    <div>
      <% if !c['name'].empty? and !c['sameAs'].empty? %>
        <strong><%=link_to c['name'], c['sameAs'] %></strong><br/>
      <% elsif !c['name'].empty? %>
         <strong><%= c['name'] %></strong><br/>
      <% end %>
      <% if c['role'] %>
        <% if Sufia.config.role_labels.include?(c['role']) %>
          <%= Sufia.config.role_labels[c['role']] %><br/>
        <% else %>
          <%= c['role'] %>
        <% end %>
      <% end %>
      <% if !c['affiliationName'].empty? and !c['affiliationSameAs'].empty? %>
        <%=link_to c['affiliationName'], c['affiliationSameAs'] %><br/>
      <% elsif c['affiliationName'] %>
        <%= c['affiliationName'] %><br/>
      <% end %>
    </div>
  <% end %>
<% end %>

