<div class="fieldset">
  <% if creation.empty? %>
    <% creation.build %>
  <% end %>

  <h4>Creator information</h4>

  <div class="field-repeater">
    <ol>
      <% creation.each do |c0| %>
        <%= f.fields_for :creation, c0 do |f_c0| %>
          <% if c0.creator.empty? %>
            <% c0.creator.build %>
          <% end %>
          <% c0.creator.each_with_index do |c, c_index| %>
            <%= f_c0.fields_for :creator, c do |f_c| %>
              <% if c.agent.empty? %>
                <% c.agent.build %>
              <% end %>
              <% if c.agent[0].affiliation.empty? %>
                <% c.agent[0].affiliation.build %>
              <% end %>
              <li>
                <label>
                <% if required %>
                  <span class="small reqlabel">Name</span>
                  <%= f_c.text_field :name, :required => true, :value => c.agent[0].name.first, id: "creatorName%d"%c_index, :class=>"creatorName", data: {"progress" => "citation"} %>
                <% else %>
                  <span class="small">Name</span>
                  <%= f_c.text_field :name, :value => c.agent[0].name.first, id: "creatorName%d"%c_index, :class=>"creatorName", data: {"progress" => "citation"} %>
                <% end %>
                <a href="#" class="remove-field small">Remove<span class="icon icon-remove"></span></a>
                </label>

                <label>
                  <p><span class="small">Email</span>
                    <%= f_c.text_field :email, :value => c.agent[0].email.first, id: "creatorEmail%d"%c_index, :class=>"creatorEmail", data: {"progress" => "documentation"} %>
                  </p>
                </label>

                <% if can? :review, :all %>
                  <label>
                    <p><span class="small">Creator object</span>
                      <%= f_c.text_field :sameAs, :value => c.agent[0].sameAs.first, id: "creatorSameAs%d"%c_index, data: {"progress" => "documentation"}  %>
                    </p>
                  </label>
                <% else %>
                  <%= f_c.hidden_field :sameAs, :value => c.agent[0].sameAs.first, id: "creatorSameAs%d"%c_index  %>
                <% end %>

                <label>
                  <p><span class="small">Role</span>
                  <%= f_c.select(:role, options_for_select(Sufia.config.role_types[@model], :selected => c.role), {}, :multiple => true,
                      :size => Sufia.config.role_types[@model].length, id: "creatorRole%d"%c_index, data: {"progress" => "discoverability"}, :class => "creatorRole" ) %>
                  </p>
                </label>

                <% c.agent[0].affiliation.each_with_index do |c2, c2_index| %>
                  <%= f_c.fields_for :affiliation, c2 do |f_c2| %>
                    <label>
                      <p><span class="small">Affiliation</span>
                        <%= f_c2.text_field :name, :value => c2.name.first, id: "creatorAffiliation%dName%d"% [c_index, c2_index], :class=>"creatorAffiliation", data: {"progress" => "discoverability"} %>
                      </p>
                    </label>
                    <% if can? :review, :all %>
                      <label>
                        <p><span class="small">Link to affiliation object</span>
                          <%= f_c2.text_field :sameAs, :value => c2.sameAs.first, id: "creatorAffiliation%dSameAs%d"% [c_index, c2_index], data: {"progress" => "documentation"} %>
                        </p>
                      </label>
                    <% else %>
                      <%= f_c2.hidden_field :sameAs, :value => c2.sameAs.first, id: "creatorAffiliation%dSameAs%d"% [c_index, c2_index] %>
                    <% end %>
                  <% end %>
                <% end %>

              </li>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </ol>
    <a href="#" class="add-field">Add another creator</a>
  </div>
  <% if @model == "dataset" %>
    <% desc = "Please enter the name of a person involved in creating this dataset and select a role (e.g. ‘Principal Investigator’) from the list.
        If the person is based at Oxford, their name should auto-complete as you type so you can select the correct name from the list displayed
        (their email address and departmental affiliation should also auto-complete)." %>
  <% elsif @model == "thesis" %>
    <% desc = "Please enter the name of a person who wrote this thesis and select a role from the list.
        If the person is based at Oxford, their name should auto-complete as you type so you can select the correct name from the list displayed
        (their email address and departmental affiliation should also auto-complete)." %>
  <% else %>
    <% desc = "Please enter the name of a person involved in this publication and select a role from the list.
        If the person is based at Oxford, their name should auto-complete as you type so you can select the correct name from the list displayed
        (their email address and departmental affiliation should also auto-complete)." %>
  <% end %>
  <%= render partial: '/shared/tooltip', :locals => {:tipType => "citation" , :tipTitle => "Creator information" , :tipDescription => desc } %>

</div>

