<% if !article.creation.nil? && !article.creation[0].nil? && !article.creation[0].creator.empty? %>
  <div class="accordian">
    <div class="accordian-header">Creators</div>
    <div class="accordian-content">
      <% article.creation[0].creator.each_with_index do |c, c_index| %>
        <% if !c.agent[0].name.empty? and !c.agent[0].sameAs.empty? %>
          <p><span class="h6">Name:</span> <%=link_to c.agent[0].name.first, c.agent[0].sameAs.first %></p>
        <% elsif !c.agent[0].name.empty? %>
           <p><span class="h6">Name:</span> <%= c.agent[0].name.first %></p>
        <% end %>
        <% if c.role.any? %>
          <% roles = c.role.reject { |role| role.blank? } %>
          <% roles = roles.map {|role| Sufia.config.role_labels[role] || role} %>
          <% if roles.any? %>
            <p><span class="h6">Role:</span>
               <span><%= roles.join(", ") %></span>
            </p>
          <% end %>
        <% end %>
        <% if !c.agent[0].affiliation.empty? %>
          <% c.agent[0].affiliation.each do |c2| %>
            <% if !c2.name.empty? and !c2.sameAs.empty? %>
              <p><span class="h6">Affiliation:</span> <%=link_to c2.name.first, c2.sameAs.first %></p>
            <% elsif c2.name %>
              <p><span class="h6">Affiliation:</span> <%= c2.name.first %></p>
            <% end %>
          <% end %>
        <% end %>
        <br/>
      <% end %>
    </div>
  </div>
<% end %>
