<% if @files.any? %>
  <div class="padding-side-25">
    <div class="bottom-border "></div>
    <h4>Access conditions for files</h4>
    <div class="file-uploads">
      <% @files.each_with_index do |file, n| %>
        <!-- get the file details -->
        <% dsid = file['url'].split("/")[-1] %>
        <% select = nil %>
        <% if !article.hasPart.empty? %>
          <% article.hasPart.each do |hp| %>
            <% if hp.identifier.first == dsid %>
              <% select = hp %>
            <% end %>
          <% end %>
        <% end %>
        <% if select.nil? %>
          <% article.hasPart.build %>
          <% article.hasPart[n].identifier = [dsid] %>
        <% end %>
      <% end %>
      <% article.hasPart.each_with_index do |hp, n| %>
        <% file_attrib = {} %>
        <% @files.each do |file| %>
          <% dsid = file['url'].split("/")[-1] %>
          <% if hp.identifier.first == dsid %>
            <% file_attrib = file %>
          <% end %>
        <% end %>
        <% unless file_attrib.empty? %>
          <div class="file-upload">
            <div class="file-number"></div>
            <div class="file-content">
              <div class="file-details">
                <% if file_attrib['thumbnail_url'] %>
                  <img src="/assets/<%=file_attrib['thumbnail_url']%>" alt: "View file") %>
                <% end %>
                <a href="<%=file_attrib['url']%>" title="<%=file_attrib['name']%>" rel= "<%=file_attrib['thumbnail_url']%> gallery" download= "<%file_attrib['name']%>" target="_blank"><%= truncate(file_attrib['name'], :length=>35, :separatoe => "...") %></a>
                <span>(<%=ActionController::Base.helpers.number_to_human_size(file_attrib['size'], precision: 2)%>)</span>
              </div>
              <div class="file-options">
                <a href="#" data-action="show_form">Edit Details/Embargo</a><span>|</span>
                <%= link_to 'Delete', file_attrib['delete_url'], method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
              <%= f.fields_for "hasPart][#{n}", hp do |f_hp| %>
                <div class="hidden-form">
                  <% if Sufia.config.attachment_types.has_key? (@model) %>
                    <h5 style="margin-top: 20px;">Type of file</h5>
                    <div class="fieldset">
                      <%= f_hp.select :type, options_for_select(Sufia.config.attachment_types[@model], :selected => hp.type.first), {}, data: {"progress" => "documentation"} %>
                      <% if @model == "dataset" %>
                        <% desc = "Please use this field to let us know whether this file is part of the datasets or contains important supporting documentation" %>
                      <% elsif @model == "thesis" %>
                        <% desc = "Please use this field to let us know whether this file is part of your thesis or contains important supporting documentation" %>
                      <% else %>
                        <% desc = "Please use this field to let us know whether this file is part of the publication or contains important supporting documentation" %>
                      <% end %>
                      <%= render partial: '/shared/tooltip', :locals => {:tipType => "documentation" , :tipTitle => "Type of file" , :tipDescription => desc} %>
                    </div>
                  <% end %>
                  <div class="fieldset"> 
                    <p class="small">Description of file</p>
                    <%= f_hp.hidden_field :identifier, :value => hp.identifier.first %>
                    <%= f_hp.text_field :description, :value => hp.description.first, data: {"progress" => "documentation"} %>
                    <% if @model == "dataset" %>
                      <% desc = "Please use this field to give us more information about this file and if it is part of the datasets or contains important supporting documentation. 
                        E.g. is it your data management plan, or your data documentation?" %>
                    <% elsif @model == "thesis" %>
                      <% desc = "Please use this field to give us more information about this file and if it is part of your thesis or contains important supporting documentation" %>
                    <% else %>
                      <% desc = "Please use this field to give us more information about this file and if it is part of the publication or contains important supporting documentation" %>
                    <% end %>
                    <%= render partial: '/shared/tooltip', :locals => {:tipType => "documentation" , :tipTitle => "Type of file" , :tipDescription => desc} %>
                  </div>
                  <%= f_hp.fields_for :accessRights do |f_a| %>
                    <%= render partial: 'shared/embargo/embargo_fields_edit', :locals => { :f => f_hp, :accessRights => hp.accessRights, :embargo_type => "file" } %>
                  <% end %>
                  <div class="file-options"><a href="#" data-action="hide_form">Hide Edit Details/Embargo</a></div>
                </div><!-- /.hidden-form -->
              <% end %>
            </div><!-- /.file-content -->
          </div><!-- /.file-upload -->
        <% end #unless file_attrib.empty? %>
      <% end #each file %> 
      <div style="clear: both;"></div>
    </div><!-- /.file-uploads -->
  </div>
<% end #if files %>

