<div><table>
<% @files.each do |file| %>
   <% dsid = file['url'].split("/")[-1] %>
   <% select = nil %>
   <% if !@article.hasPart.empty? %>
     <% @article.hasPart.each do |hp| %>
       <% if hp.identifier.first == dsid %>
         <% select = hp %>
       <% end %>
     <% end %>
   <% end %>
    <tr class="template-download">
        <td class="preview">
           <% if file['thumbnail_url'] %>
             <span class=""><img src="/assets/<%=file['thumbnail_url']%>" alt: "View file") %></span>
            <% end %>
          </td>
          <td class="name"><span><a href="<%=file['url']%>" title="<%=file['name']%>" rel= "<%=file['thumbnail_url']%> gallery" download= "<%file['name']%>" target="_blank"><%= file['name'] %></a> </span>
          <span>(<%=ActionController::Base.helpers.number_to_human_size(file['size'], precision: 2)%>)</span>
          </td>
          <td> 
            <% if !select.nil? %>
              <% if !select.description.empty? %>
                <div><%= select.description.first %></div>
              <% end %>
              <% if !select.embargoStatus.empty? %>
                <div>Embargo status: <%= select.embargoStatus.first %></div>
              <% end %>
              <% if !select.embargoStart.empty? and !select.embargoEnd.empty? %>
                <div>Embargo dates: <%= select.embargoStart.first %> to <%= select.embargoEnd.first %></div>
              <% elsif !select.embargoEnd.empty? %>
                <div>Embargo rleease date: <%= select.embargoEnd.first %></div>
              <% end %>  
              <% if !select.embargoReason.empty? %>
                <div>Embargo reason: <%= select.embargoReason.first %></div>
              <% end %>
              <% if !select.embargoRelease.empty? %>
                <div>Embargo release method: <%= select.embargoRelease.first %></div>
              <% end %>
            <% end %>  <br/>
          </td>
          <td class="Delete"><span><%= link_to 'Delete', "#", method: :delete, data: { confirm: 'Are you sure?' } %></span></td>
    </tr>
<% end %>
</table></div>
