<% if !@files.empty? %>
  <% @files.each do |file| %>
    <a href="<%=file['url']%>" title="<%=file['name']%>" rel= "<%=file['thumbnail_url']%> gallery" download= "<%file['name']%>" target="_blank">
      <% if file['thumbnail_url'] %>
        <img src="/assets/<%=file['thumbnail_url']%>" alt="View file" />
      <% end %>
      <span class="record_name">
      <%= file['name'] %>
      (<%=ActionController::Base.helpers.number_to_human_size(file['size'], precision: 2)%>)
      </span>
    </a>

    <% dsid = file['url'].split("/")[-1] %>
    <% select = nil %>
    <% if !article.hasPart.empty? %>
      <% article.hasPart.each do |hp| %>
        <% if hp.identifier.first == dsid %>
          <% select = hp %>
        <% end %>
      <% end %>
    <% end %>
    <% if !select.nil? %>
      <% if !select.description.empty? %>
        <span class="small"><%= simple_format(select.description.first) %></span>
      <% end %>
      <% if !select.type.empty? %>
        <h6>Type:</h6>
        <span class="small"><%= select.type.first %></span>
      <% end %>
      <% if !select.accessRights.empty? %>
        <%= render partial: 'shared/embargo/file_fields_show', as: :article, :locals => { :hp => select } %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <p class="small">There are no downloads</p>
<% end %>
