<legend>Access information for article</legend>

<% if @article.accessRights.empty? %>
  <% @article.accessRights.build %>
<% end %>
<div class="field">
  <%= label_tag "article[accessRights][][embargoStatus]", "Visibility of document", :class=>"control-label" %>
  <% Sufia.config.embargo_options.each do |e| %>
    <% thisOne = false %>
    <% if !@article.accessRights.empty? and @article.accessRights[0].embargoStatus.first == e %>
      <% thisOne = true %>
    <% end %>
    <span><%= radio_button_tag "article[accessRights][][embargoStatus]", e, thisOne %><%= e %></span>
  <% end %>
</div>
<div class="field">
  <%= label_tag "article[accessRights][][embargoStart]", "Embargo start date", :class=>"control-label" %>
  <% if !@article.accessRights.empty? and !@article.accessRights[0].embargoStart.empty? %>
    <%= text_field_tag "article[accessRights][][embargoStart]", @article.accessRights[0].embargoStart.first %>
  <% else %>
    <%= text_field_tag "article[accessRights][][embargoStart]" %>
  <% end %>
</div>
<div class="field">
  <%= label_tag "article[accessRights][][embargoEnd]", "Embargo end date", :class=>"control-label" %>
  <% if !@article.accessRights.empty? and !@article.accessRights[0].embargoEnd.empty? %>
    <%= text_field_tag "article[accessRights][][embargoEnd]", @article.accessRights[0].embargoEnd.first %>
  <% else %>
    <%= text_field_tag "article[accessRights][][embargoEnd]" %>
  <% end %>
</div>
<div class="field">
  <%= label_tag "article[accessRights][][embargoReason]", "Reason for embargo", :class=>"control-label" %>
  <% if !@article.accessRights.empty? and !@article.accessRights[0].embargoReason.empty? %>
    <%= text_field_tag "article[accessRights][][embargoReason]", @article.accessRights[0].embargoReason.first %>
  <% else %>
    <%= text_field_tag "article[accessRights][][embargoReason]" %>
  <% end %>
</div>
<div class="field">
  <%= label_tag "article[accessRights][][embargoRelease]", "Embargo release method", :class=>"control-label" %>
  <% if !@article.accessRights.empty? and !@article.accessRights[0].embargoRelease.empty? %>
    <%= select_tag "article[accessRights][][embargoRelease]", options_for_select(Sufia.config.embargo_release_methods, :selected=>@article.accessRights[0].embargoRelease.first) %>
  <% else %>
    <%= select_tag "article[accessRights][][embargoRelease]", options_for_select(Sufia.config.embargo_release_methods) %>
  <% end %>
</div>

<% if @files %>
  <%= check_box_tag "defaultEmbargo", "Yes", false %> Use this as the default embargo for all files
  <% if @article.hasPart.empty? %>
    <% @article.hasPart.build %>
  <% end %>
  <% @files.each_with_index do |file, n| %>
    <div class="fileInfo">
      <legend>Access information for <%=file['name']%></legend>
      <h4>
        <% if file['thumbnail_url'] %>
          <span class=""><img src="/assets/<%=file['thumbnail_url']%>" alt="View file" /></span>
        <% end %>
        <span><a href="<%=file['url']%>" title="<%=file['name']%>" rel= "<%=file['thumbnail_url']%> gallery" download= "<%file['name']%>" target="_blank"><%= file['name'] %></a> </span>
        <span>(<%=ActionController::Base.helpers.number_to_human_size(file['size'], precision: 2)%>)</span>
        <span class="label label-warning"><%= link_to 'Delete', "#", method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </h4>
      <div class="field">
        <% dsid = file['url'].split("/")[-1] %>
        <% select = nil %>
        <% if !@article.hasPart.empty? %>
          <% @article.hasPart.each_with_index do |hp, hp_index| %>
            <% if hp.identifier.first == dsid %>
              <% if @article.hasPart[hp_index].accessRights.empty? %>
                <% @article.hasPart[hp_index].accessRights.build %>
              <% end %>
              <% select = hp %>
            <% end %>
          <% end %>
        <% end %>
        <%= hidden_field_tag "article[hasPart][#{n}][identifier]", dsid %>
        <%= label_tag "article[hasPart][#{n}][type]", "Type of file", :class=>"control-label" %>
        <% if !select.nil? and !select.type.empty? %>
          <%= select_tag "article[hasPart][#{n}][type]", options_for_select(Sufia.config.attachment_types, :selected=>select.type.first) %>
        <% else %>
          <%= select_tag "article[hasPart][#{n}][type]", options_for_select(Sufia.config.attachment_types) %>
        <% end %>
      </div>
      <div class="field">
        <%= label_tag "article[hasPart][#{n}][description]", "Description of file", :class=>"control-label" %>
        <% if !select.nil? and !select.description.empty? %>
          <%= text_field_tag "article[hasPart][#{n}][description]", select.description.first %>
        <% else %>
          <%= text_field_tag "article[hasPart][#{n}][description]" %>
        <% end %> 
      </div>
      <%= check_box_tag "overrideDefault#{n}", "Yes", false %> Override default embargo for this file
      <div class="field">
        <%= label_tag "article[hasPart][#{n}][accessRights][][embargoStatus]", "Visibility of document", :class=>"control-label" %>
        <% Sufia.config.embargo_options.each do |e| %>
          <% thisOne = false %>
          <% if !select.nil? and select.accessRights[0].embargoStatus.first == e %>
            <% thisOne = true %>
          <% end %>
          <span><%= radio_button_tag "article[hasPart][#{n}][accessRights][][embargoStatus]", e, thisOne %><%= e %></span>
        <% end %>
      </div>
      <div class="field">
        <%= label_tag "article[hasPart][#{n}][accessRights][][embargoStart]", "Embargo start date", :class=>"control-label" %>
        <% if !select.nil? and !select.accessRights[0].embargoStart.empty? %>
          <%= text_field_tag "article[hasPart][#{n}][accessRights][][embargoStart]", select.accessRights[0].embargoStart.first %>
        <% else %>
          <%= text_field_tag "article[hasPart][#{n}][accessRights][][embargoStart]" %>
        <% end %>
      </div>
      <div class="field">
        <%= label_tag "article[hasPart][#{n}][accessRights][][embargoEnd]", "Embargo end date", :class=>"control-label" %>
        <% if !select.nil? and !select.accessRights[0].embargoEnd.empty? %>
          <%= text_field_tag "article[hasPart][#{n}][accessRights][][embargoEnd]", select.accessRights[0].embargoEnd.first %>
        <% else %>
          <%= text_field_tag "article[hasPart][#{n}][accessRights][][embargoEnd]" %>
        <% end %>
      </div>
      <div class="field">
        <%= label_tag "article[hasPart][#{n}][accessRights][][embargoReason]", "Reason for embargo", :class=>"control-label" %>
        <% if !select.nil? and !select.accessRights[0].embargoReason.empty? %>
          <%= text_field_tag "article[hasPart][#{n}][accessRights][][embargoReason]", select.accessRights[0].embargoReason.first %>
        <% else %>
          <%= text_field_tag "article[hasPart][#{n}][accessRights][][embargoReason]" %>
        <% end %>
      </div>
      <div class="field">
        <%= label_tag "article[hasPart][#{n}][accessRights][][embargoRelease]", "Embargo release method", :class=>"control-label" %>
        <% if !select.nil? and !select.accessRights[0].embargoRelease.empty? %>
          <%= select_tag "article[hasPart][#{n}][accessRights][][embargoRelease]", options_for_select(Sufia.config.embargo_release_methods, :selected=>select.accessRights[0].embargoRelease.first) %>
        <% else %>
          <%= select_tag "article[hasPart][#{n}][accessRights][][embargoRelease]", options_for_select(Sufia.config.embargo_release_methods) %>
        <% end %>
      </div>
    </div><!-- /.fileInfo -->
  <% end %>
<% end %>

