<% if !@article.funding.empty? %>
  <div class="well">
    <div class="row">
      <div class="control-group">
        <div id="funding">
          <p><strong>Funding Information:</strong></p>
          <% @article.funding[0].funder.each_with_index do |f, f_index| %>
            <div>
            <% if f.agent[0].name and f.agent[0].sameAs %>
              <span><%=link_to f.agent[0].name.first, f.agent[0].sameAs.first %></span>
            <% elsif f.agent[0].name %>
              <span><%= f.agent[0].name.first %></span>
            <% end %>
            <% if f.funds %>
              <span>funds <%= f.funds.first %></span>
            <% end %>
            <% if !f.awards.empty? && !f.awards[0].grantNumber.empty? && !f.awards[0].grantNumber.first.empty? %>
              <span>(grant number:
              <% f.awards.each do |f3| %>
                <%= f3.grantNumber.first %>
              <% end %>
              ) </span>
            <% end %>
            <% if !f.annotation.empty? %>
              <span>Acknowledgement note <%= f.annotation.first %></span>
            <% end %>
            </div>
          <% end %>
        </div> <!--/funding -->
      </div> <!-- /.control-group -->
    </div> <!-- /.row -->
  </div> <!-- /.well -->
<% end %>

