<h4>Is your research the result of a funding award?</h4>
  <fieldset class="small-text">
    <label panel="dataset-funding"><input type="radio" name="dataset-funding-award" value="yes"/><span></span>Yes</label>
    <label><input type="radio" name="dataset-funding-award" value="no"/><span></span>No</label>
  </fieldset>
</div>

<div class="expand-panel" id="dataset-funding">
  <h5>Funder information</h5>

  <% if funding.empty? %>
    <% funding.build %>
  <% end %>

  <% funding_types = {"Creator"=>"Creator", "Article" => "Article",  "Project" =>"Project"} %>

  <div class="field-repeater padding-25 no-pad-top" data-max-fields="10">
    <ol>

    <% funding.each do |f0| %>
      <% if f0.funder.empty? %>
        <% f0.funder.build %>
      <% end %>
      <%= f.fields_for :funding, f0 do |f_f0| %>
        <% f0.funder.each_with_index do |f1, f1_index| %>
          <% if f1.agent.empty? %>
            <% f1.agent.build %>
          <% end %>
          <% if f1.awards.empty? %>
            <% f1.awards.build %>
          <% end %>
          <%= f_f0.fields_for :funder, f1 do |f_f1| %>
            <li>
              <% f1.agent.each do |f2| %>
                <%= f_f1.fields_for :agent, f2 do |f_f2| %>
                  <%= f_f2.text_field :name, :value => f2.name.first, id: "funderName%d"% f1_index %>
                  <a href="#" class="remove-field small">Remove<span class="icon icon-remove"></span></a>

                  <% f1.awards.each_with_index do |f2, f2_index| %>
                    <%= f_f1.fields_for :awards, f2 do |f_f2| %>
                      <label>
                        <span class="small">Grant number:</span>
                        <%= f_f2.text_field :grantNumber, :value => f2.grantNumber.first, id: "funder%dgrantNumber%d"% [f1_index, f2_index] %>
                      </label>
                    <% end %>
                  <% end %>
                  
                <% end %>
              <% end %>

              <label>
                <span class="small">Who or what was funded?</span>
                <%= f_f1.select :funds, options_for_select(funding_types, :selected=>f1.funds.first), id: "funderFunds%d"% f1_index %>
              </label>

            </li>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    </ol>
    <a href="#" class="add-field">Add another funder</a>
  </div>

