<% if language.empty? %>
 <% language.build %>
<% end %>
<%= f.fields_for :language do |l| %>
    <div class="fieldset">
      <p class="small">Language</p>
      <%= l.text_field :languageLabel, :style=>'width: 50%', :value=>language[0].languageLabel.first, :class=>"languageLabel", id: "languageLabel", data: {"progress" => "discoverability"} %>
      <aside class="tooltip">
        <a href="" class="close-button">x</a>
        <strong>Language</strong>
        <p>Select the primary language of the data, e.g. 'English'.</p>

        <div class="tooltip-extra">
          <div class="circle circle-discoverability"></div>
          <p><strong>Completing this field helps with Discoverability</strong></p>
        </div>
      </aside>
    </div>
    <% if can? :review, :all %>
      <div class="fieldset">
        <p class="small">Language code</p>
        <%= l.text_field :languageCode, :style=>'width: 200px', :value=>language[0].languageCode.first, :class=>"languageCode", id: "languageCode" %>
        
      </div>

      <div class="fieldset">
        <p class="small">Language authority</p>
        <%= l.text_field :languageAuthority, :style=>'width: 300px', :value=>language[0].languageAuthority.first, :class=>"languageAuthority", id: "languageAuthority" %>

      </div>

      <div class="fieldset">
        <p class="small">Language scheme</p>
        <%= l.text_field :languageScheme, :style=>'width: 300px', :value=>language[0].languageScheme.first, :class=>"languageScheme", id: "languageScheme" %>

      </div>
      
    <% else %>
      <%= l.hidden_field :languageCode, :value=>language[0].languageCode.first, :class=>"languageCode", id: "languageCode" %>
      <%= l.hidden_field :languageAuthority, :value=>language[0].languageAuthority.first, :class=>"languageAuthority", id: "languageAuthority" %>
      <%= l.hidden_field :languageScheme, :value=>language[0].languageScheme.first, :class=>"languageScheme", id: "languageScheme" %>
    <% end %>
<% end %>

