<div id="language">
  <% if @article.language.empty? %>
   <% @article.language.build %>
  <% end %>
  <%= f.fields_for :language do |l| %>
    <div class="field">
      <%= l.label :languageLabel, "Language" %><br>
      <%= l.text_field :languageLabel, :value=>@article.language[0].languageLabel.first %>
    </div>
    <div class="field">
      <%= l.label :languageCode, "Language code" %><br>
      <%= l.text_field :languageCode, :value=>@article.language[0].languageCode.first %>
    </div>
    <div class="field">
      <%= l.label :languageAuthority, "Language authority" %><br>
      <%= l.text_field :languageAuthority, :value=>@article.language[0].languageAuthority.first %>
    </div>
    <div class="field">
      <%= l.label :languageScheme, "Language Scheme" %><br>
      <%= l.text_field :languageScheme, :value=>@article.language[0].languageScheme.first %>
    </div>
  <% end %>
</div>
