<div id="language" class="field">
  <% if @article.language.empty? %>
   <% @article.language.build %>
  <% end %>
  <%= f.fields_for :language do |l| %>
      <%= l.label :languageLabel, "Language", :class=>"control-label" %>
      <%= l.text_field :languageLabel, :value=>@article.language[0].languageLabel.first, :class=>"languageLabel", id: "languageLabel" %>
      <% if can? :review, :all %>
        <%= l.label :languageCode, "Language code", :class=>"control-label" %>
        <%= l.text_field :languageCode, :value=>@article.language[0].languageCode.first, :class=>"languageCode", id: "languageCode" %>
        <%= l.label :languageAuthority, "Language authority", :class=>"control-label" %>
        <%= l.text_field :languageAuthority, :value=>@article.language[0].languageAuthority.first, :class=>"languageAuthority", id: "languageAuthority" %>
        <%= l.label :languageScheme, "Language scheme", :class=>"control-label" %>
        <%= l.text_field :languageScheme, :value=>@article.language[0].languageScheme.first, :class=>"languageScheme", id: "languageScheme" %>
      <% else %>
        <%= l.hidden_field :languageCode, :value=>@article.language[0].languageCode.first, :class=>"languageCode", id: "languageCode" %>
        <%= l.hidden_field :languageAuthority, :value=>@article.language[0].languageAuthority.first, :class=>"languageAuthority", id: "languageAuthority" %>
        <%= l.hidden_field :languageScheme, :value=>@article.language[0].languageScheme.first, :class=>"languageScheme", id: "languageScheme" %>
      <% end %>
     
  <% end %>
</div>

