<div class="fieldset">

  <% if subject.empty? %>
   <% subject.build %>
  <% end %>

  <h4>Subjects</h4>

  <div class="field-repeater" data-max-fields="10">
    <ol>
    <% subject.each_with_index do |s, s_index| %>
      <%= f.fields_for "subject][", s do |f_s| %>
        <li>
          <%= f_s.text_field :subjectLabel, :value => s.subjectLabel.first, :class=>"subjectLabel", id: "subjectLabel%d"% s_index %>
          <a href="#" class="remove-field small">Remove<span class="icon icon-remove"></span></a>

          <% if can? :review, :all %>
            <label>
              <span class="small">Suject authority: </span>
              <%= f_s.text_field :subjectAuthority, :value => s.subjectAuthority.first, :class=>"subjectAuthority", id: "subjectAuthority%d"% s_index %>
            </label>

            <label>
              <span class="small">Suject scheme: </span>
              <%= f_s.text_field :subjectScheme, :value => s.subjectScheme.first, :class=>"subjectScheme", id: "subjectScheme%d"% s_index %>
            </label>

          <% else %>
            <%= f_s.hidden_field :subjectAuthority, :value => s.subjectAuthority.first, :class=>"subjectAuthority", id: "subjectAuthority%d"% s_index  %>
            <%= f_s.hidden_field :subjectScheme, :value => s.subjectScheme.first, :class=>"subjectScheme", id: "subjectScheme%d"% s_index %>
          <% end %>
        </li>
      <% end %>
    <% end %>
    </ol>
    <a href="#" class="add-field">Add another subject</a>
  </div>

  <aside class="tooltip">
    <a href="#" class="close-button">x</a>
    <strong>Subjects</strong>
    <p>Select the general subjects that best describe your work.</p>
  </aside>
</div>
