<div class="well">
  <div class="row">
    <div class="control-group">

      <div id="subject" class="control-group">
        <% if @article.subject.empty? %>
         <% @article.subject.build %>
        <% end %>
        <% @article.subject.each_with_index do |s, s_index| %>
          <% if s_index.to_s == "0" %>
            <div class="controls" id="additional_subject_clone">
              <%= label_tag "article[subject][][subjectLabel]", "Subject", :class=>"control-label" %>
              <%= text_field_tag "article[subject][][subjectLabel]", s.subjectLabel.first %>
              <%= label_tag "article[subject][][subjectAuthority]", "Subject authority", :class=>"control-label" %>
              <%= text_field_tag "article[subject][][subjectAuthority]", s.subjectAuthority.first %>
              <%= label_tag "article[subject][][subjectScheme]", "Subject Scheme", :class=>"control-label" %>
              <%= text_field_tag "article[subject][][subjectScheme]", s.subjectScheme.first %>
              <button class="adder btn" name="additional_subject" id="additional_subject_submit">+<span class="accessible-hidden">add another subject</span></button>
              &nbsp;
              <%= help_icon(:subject) %>
            </div>
          <% else %>
            <div class="controls">
              <%= label_tag "article[subject][][subjectLabel]", "Subject", :class=>"control-label" %>
              <%= text_field_tag "article[subject][][subjectLabel]", s.subjectLabel.first %>
              <%= label_tag "article[subject][][subjectAuthority]", "Subject authority", :class=>"control-label" %>
              <%= text_field_tag "article[subject][][subjectAuthority]", s.subjectAuthority.first %>
              <%= label_tag "article[subject][][subjectScheme]", "Subject Scheme", :class=>"control-label" %>
              <%= text_field_tag "article[subject][][subjectScheme]", s.subjectScheme.first %>
              <button class="remover btn" name="additional_subject" id="additional_subject_submit">-<span class="accessible-hidden">add another subject</span></button> 
            </div>
          <% end %>
        <% end %>
        <div id="additional_subject_elements"></div>
      </div>

    </div><!-- /.control-group -->
  </div> <!-- /.row -->
</div> <!-- /.well -->

