<div class="fieldset">
  <h4>Permissions</h4>
  <% toAdd = false %>
  <% access_types = {"Access level"=>"", "Read and download"=>"read", "Edit" => "edit"} %>
  <% permissions.each do |p| %>
    <% if p.type.downcase == "group" || p.name == depositor %>
      <p>
        <span class="h6">Person /group</span> <%= p.name %><br/>
        <span class="h6">Access level</span> <%= p.access %>
      </p>
    <% else %>
      <% toAdd = true %>
    <% end %>
  <% end %> 
  <div class="field-repeater">
  <!-- <div class="field-repeater" data-max-fields="10"> -->
    <ol>
      <% if toAdd %>
        <% p_index = 0 %>
        <% permissions.each do |p| %>
          <% if p.type.downcase != "group" && p.name != depositor %>
            <%= f.fields_for :permissions, p do |f_p| %>
              <li>
                <label>
                  <p class="small">Person or group</p>
                  <%= f_p.hidden_field :type, :value => p.type, id: "permissionType%d"% p_index %>
                  <%= f_p.text_field :name, :value => p.name, :class=>"permissionName", id: "permissionName%d"% p_index %>
                  <a data-confirm="Are you sure?" data-method="delete" href='<%="/#{@model}s/#{@pid}/permissions?type=#{p.type}&name=#{p.name}&access=#{p.access}"%>' rel="nofollow">Delete</a>
                </label>
                <label>
                  <p class="small">Access level</p>
                  <%= f_p.select :access, options_for_select(access_types, :selected=>p.access), id: "permissionAccess%d"% p_index %>
                </label>
              </li>
            <% end %>
            <% p_index += 1 %>
          <% end %>
        <% end %>
      <% else %>
        <%= f.fields_for :permissions, permissions[0] do |f_p| %>
          <li>
            <label>
              <p class="small">Person or group</p>
              <%= f_p.hidden_field :type, :value => "user", id: "permissionType0" %>
              <%= f_p.text_field :name, :value => "", :class=>"permissionName", id: "permissionName0" %>
              <a href="#" class="remove-field small">Remove<span class="icon icon-remove"></span></a>
            </label>
            <label>
              <p class="small">Access level</p>
              <%= f_p.select :access, options_for_select(access_types), id: "permissionAccess0" %>
            </label>
          </li>
        <% end %>
      <% end %>
    </ol>
    <a href="#" class="add-field">Grant permission</a>
  </div>
</div><!-- /fieldset -->

