<% progress = {
  :total => 0,
  :citation => 0,
  :discoverability => 0,
  :documentation => 0,
  :funder => 0,
  :preservation => 0
 }
%>


<% if false %>
 
  <div class="tracker">
      <h4>Your submission</h4>
      <div class="chart" data-percent="<%= progress[:total] %>">
        <div>
          <span class="number"><span class="percentage"><%= progress[:total] %></span>%</span>
          <span>Complete</span>
        </div>
      </div>

      <p class="small">The graph below details different categories and 
      how complete each of those categories are. The longer the line, 
      the more accessible your document is.</p>

      <div class="category-bars">
        <div data-progress-link="citation" class="cat cat-citation">
          <span>Citation</span>
          <div class="bar">
            <div class="percentage" style="width: <%= progress[:citation] %>%"></div>
          </div>
        </div>
        <div data-progress-link="discoverability" class="cat cat-discoverability">
          <span>Discoverability</span>
          <div class="bar">
            <div class="percentage" style="width: <%= progress[:discoverability] %>%"></div>
          </div>
        </div>
        <div data-progress-link="funder" class="cat cat-funder">
          <span>Funder Compliance</span>
          <div class="bar">
            <div class="percentage" style="width: <%= progress[:funder] %>%"></div>
          </div>
        </div>
        <div data-progress-link="documentation" class="cat cat-documentation">
          <span>Documentation, access &amp; re-use</span>
          <div class="bar">
            <div class="percentage" style="width: <%= progress[:documentation] %>%"></div>
          </div>
        </div>
        <div data-progress-link="preservation" class="cat cat-preservation">
          <span>Preservation</span>
          <div class="bar">
            <div class="percentage" style="width: <%= progress[:documentation] %>%"></div>
          </div>
        </div>
      </div>
  </div> 
<% end %>
