<div class="well">
  <div class="row">
    <div class="control-group">
      <div id="publication">
        <% if !@article.publication.empty? %>
          <div><strong>Publication details</strong></div>
          <% @article.publication.each do |p| %>
            <div>
            <% if !p.datePublished.empty? %>
              <p>Date published: <%= p.datePublished.first %></p>
            <% end %>
            <% if !p.location.empty? %>
              <p> Place of publication: <%= p.location.first %></p>
            <% end %>
            <% if !p.dateAccepted.empty? %>
              <p>Date of acceptance: <%= p.dateAccepted.first %></p>
            <% end %>
            <% if !p.hasDocument.empty? %>
              <% p.hasDocument.each do |p2| %>
                <% if !p2.identifier.empty? %>
                  <p>Article number:<%= p2.identifier.first %></p>
                <% end %>
                <% if !p2.doi.empty? %>
                  <p>DOI: <%= p2.doi.first %></p>
                <% end %>
                <% if !p2.uri.empty? %>
                 <p>URI: <%= p2.uri.first %>
                <% end %>
                <% if !p2.journal.empty? %>
                  <% p2.journal.each do |p3| %>
                    <% if !p3.title.empty? %>
                      <p>Journal title: <%= p3.title.first %></p>
                    <% end %>
                    <% if !p3.issn.empty? %>
                      <p>Journal ISSN: <%= p3.issn.first %></p>
                    <% end %>
                    <% if !p3.eissn.empty? %>
                      <p>Journal eISSN: <%= p3.eissn.first %></p>
                    <% end %>
                    <% if !p3.volume.empty? %>
                      <p>Journal volume: <%= p3.volume.first %></p>
                    <% end %>
                    <% if !p3.issue.empty? %>
                      <p>Journal issue: <%= p3.issue.first %></p>
                    <% end %>
                    <% if !p3.pages.empty? %>
                      <p>Page range: <%= p3.pages.first %></p>
                    <% end %>
                    <% if !p3.periodical.empty? %>
                      <% p3.periodical.each do |p4| %>
                        <% if !p4.title.empty? %>
                          <p>Periodical: <%= p4.title.first %></p>
                        <% end %>
                      <% end #each periodical %>
                    <% end #periodical %>
                  <% end #each journal %>
                <% end #journal %>
              <% end #each document %>
            <% end #hasDocument %> 
            <% if !p.publisher.empty? %>
              <% p.publisher.each do |p2| %>
                <% if !p2.name.empty? and !p2.website.empty? %>
                  <p>Publisher: <%=link_to p2.name.first, p2.website.first %></p>
                <% elsif !p2.name.empty? %>
                  <p>Publisher: <%= p2.name.first %></p>
                <% end %>
              <% end #each publisher %>
            <% end #publisher %>
            </div>
          <% end #each publication %>
        <% end #publication %>
      </div>
    </div><!-- /.control-group -->
  </div> <!-- /.row -->
</div> <!-- /.well -->

