<% if !article.qualifiedRelation.nil? %>
  <% hasData = false %>
  <% article.qualifiedRelation.each do |r|%>
    <% if !r.relation.empty? && !r.relation[0].empty? && !r.entity.nil? && !r.entity[0].nil? %>
      <% hasData = true %>
    <% end %>    
  <% end %>
<% end %>

<% if hasData %>
  <div class="accordian">
    <div class="accordian-header">Related resources</div>
    <div class="accordian-content">
      <% article.qualifiedRelation.each do |r|%>
        <% if !r.relation.empty? && !r.relation[0].empty? && !r.entity.nil? && !r.entity[0].nil? %>
          <% if !r.entity[0].title.empty? && !r.entity[0].title[0].empty? %>
            <h6>Title of related item:</h6>
            <p><%=link_to r.entity[0].title.first, r.entity[0].rdf_subject.to_s %></p>
          <% else %>
            <h6>Title of related item:</h6>
            <p><%=link_to r.entity[0].id %></p>
          <% end %>

          <% if !r.relation.empty? && !r.relation[0].empty? %>
            <h6>Relationship:</h6> 
            <p><%= article.title.first %></p>
            <p><%= r.relation.first %></p>
            <p><%= r.entity[0].rdf_subject.to_s %></p>
          <% end %>

          <% if !r.entity[0].description.empty? && !r.entity[0].description[0].empty? %>
            <h6>Description:</h6>
            <p><%= r.entity[0].description.first %></p>
          <% end %>

          <% if !r.entity[0].citation.empty? && !r.entity[0].citation[0].empty? %>
            <h6>Citation</h6>
            <p><%= r.entity[0].citation.first %></p>
          <% end %>

          <br/>

        <% end %>
      <% end %>
    </div>
  </div>
<% end %>