<div id="qualifiedRelation" class="control-group">
  <% if @article.qualifiedRelation.empty? %>
    <% @article.qualifiedRelation.build %>
  <% end %>
  <% @article.qualifiedRelation.each_with_index do |r, r_index| %>
    <% if r_index.to_s == "0" %>
      <div class="controls" id="additional_relationship_clone">
        <fieldset>
        <legend>Related item</legend>
        <% if r.entity.empty? %>
          <% r.entity.build %>
        <% end %>
        <%= label_tag 'article[qualifiedRelation][][id]', "URL of the related item" %>
        <%= text_field_tag 'article[qualifiedRelation][][id]', r.entity[0].id %>
        <%= label_tag "article[qualifiedRelation][][title]", "Title" %>
        <%= text_field_tag "article[qualifiedRelation][][title]", r.entity[0].title.first %>
        <%= label_tag "article[qualifiedRelation][][description]", "Description" %>
        <%= text_field_tag "article[qualifiedRelation][][description]", r.entity[0].description.first %>
        <%= label_tag "article[qualifiedRelation][][citation]", "Citation text" %>
        <%= text_field_tag "article[qualifiedRelation][][citation]", r.entity[0].citation.first %>
        <%= label_tag "article[qualifiedRelation][][relation]", "Type of relationship" %>
        <% if @article.title.empty? %>
          <strong>this article</strong>
        <% else %>
          <strong><%= @article.title.first %></strong>
        <% end %>
        <% if !r.relation.nil? %>
          <%= select_tag "article[qualifiedRelation][][relation]", options_for_select(Sufia.config.relationship_types, :selected=>r.relation.first) %>
        <% else %>
          <%= select_tag "article[qualifiedRelation][][relation]", options_for_select(Sufia.config.relationship_types) %>
        <% end %>
        <strong>Related item</strong>
        <button class="adder btn" name="additional_relationship" id="additional_relationship_submit">+<span class="accessible-hidden">add another relation</span></button>
        &nbsp;
        <%= help_icon(:relationship) %>
        </fieldset>
      </div>
    <% else %>
      <div class="controls">
        <fieldset>
        <legend>Related item</legend>
        <% if r.entity.empty? %>
          <% r.entity.build %>
        <% end %>
        <%= label_tag 'article[qualifiedRelation][][entity][][id]', "URL of the related item" %>
        <%= text_field_tag 'article[qualifiedRelation][][id]', r.entity[0].id %>
        <%= label_tag "article[qualifiedRelation][][title]", "Title" %>
        <%= text_field_tag "article[qualifiedRelation][][title]", r.entity[0].title.first %>
        <%= label_tag "article[qualifiedRelation][][description]", "Description" %>
        <%= text_field_tag "article[qualifiedRelation][][description]", r.entity[0].description.first %>
        <%= label_tag "article[qualifiedRelation][][citation]", "Citation text" %>
        <%= text_field_tag "article[qualifiedRelation][][citation]", r.entity[0].citation.first %>
        <%= label_tag "article[qualifiedRelation][][relation]", "Type of relationship" %>
        <% if @article.title.empty? %>
          <strong>this article</strong>
        <% else %>
          <strong><%= @article.title.first %></strong>
        <% end %>
        <% if !r.relation.nil? %>
          <%= select_tag "article[qualifiedRelation][][relation]", options_for_select(Sufia.config.relationship_types, :selected=>r.relation.first) %>
        <% else %>
          <%= select_tag "article[qualifiedRelation][][relation]", options_for_select(Sufia.config.relationship_types) %>
        <% end %>
        <strong>Related item</strong>
        <button class="remover btn" name="additional_relationship" id="additional_relationship_submit">-<span class="accessible-hidden">add another relation</span></button> 
        </fieldset>
      </div>
    <% end %>
  <% end %>
  <div id="additional_relationship_elements"></div>
</div>
