<div id="relation">
<% if !@article.qualifiedRelation.empty? %>
  <strong>Related resources:</strong>
  <% @article.qualifiedRelation.each do |r|%>
    <div>
    <% if !r.entity.empty? %>
      <% if !r.entity[0].title.empty? %>
        <span><%=link_to r.entity[0].title.first, r.entity[0].rdf_subject.to_s %></span>
      <% else %>
        <span><%=link_to r.entity[0].id %></span>
      <% end %><br/>
      <% if !r.relation.empty? %>
        <span><%= @article.title.first %> <strong><%= r.relation.first %></strong> <%= r.entity[0].rdf_subject.to_s %></span>
      <% end %>      
      <% if !r.entity[0].description.empty? %>
        <span><%= r.entity[0].description.first %></span>
      <% end %>
      <% if !r.entity[0].citation.empty? %>
        <span><%= r.entity[0].citation.first %></span>
      <% end %>
    <% end %>
    <br/><br/></div>
  <% end %>
<% end %>
</div>
