<% if !article.qualifiedRelation.nil? %>
  <% hasData = false %>
  <% article.qualifiedRelation.each do |r|%>
    <% if !r.relation.empty? && !r.relation[0].empty? && !r.entity.nil? && !r.entity[0].nil? %>
      <% hasData = true %>
    <% end %>    
  <% end %>
<% end %>

<% if hasData %>
  <div class="accordian">
    <div class="accordian-header">Related resources</div>
    <div class="accordian-content">
      <% article.qualifiedRelation.each do |r|%>
        <% if !r.relation.empty? && !r.relation[0].empty? && !r.entity.nil? && !r.entity[0].nil? %>
          <% if !r.entity[0].title.empty? && !r.entity[0].title[0].empty? %>
            <h6>Title of related item:</h6>
            <% if r.entity[0].rdf_subject.to_s.include?("externalRelation") %>
              <p><%=r.entity[0].title.first%></p>
            <% else %>
              <p><%=link_to r.entity[0].title.first, r.entity[0].rdf_subject.to_s %></p>
            <% end %>
          <% end %>
          <% if !r.entity[0].identifier.empty? && !r.entity[0].identifier[0].empty? %>
            <h6>DOI or URL of related item:</h6>
            <% if r.entity[0].rdf_subject.to_s.include?("externalRelation") %>
              <p><%=r.entity[0].identifier.first%></p>
            <% else %>
              <p><%=link_to r.entity[0].identifier.first, r.entity[0].rdf_subject.to_s %></p>
            <% end %>
          <% end %>
          <% if !r.relation.empty? && !r.relation[0].empty? %>
            <h6>Relationship:</h6>
            <% if Sufia.config.relationship_types_reverse.include?(r.relation.first.to_s) %>
              <p>This <%=@model%> <strong><%=Sufia.config.relationship_types_reverse[r.relation.first.to_s]%></strong> this related item</p>
            <% else %>
              <p>This <%=@model%> <strong><%=r.relation.first%></strong> this related item</p>
            <% end %>
          <% end %>

          <% if !r.entity[0].description.empty? && !r.entity[0].description[0].empty? %>
            <h6>Description:</h6>
            <p><%= simple_format(r.entity[0].description.first) %></p>
          <% end %>

          <% if !r.entity[0].citation.empty? && !r.entity[0].citation[0].empty? %>
            <h6>Citation</h6>
            <p><%= r.entity[0].citation.first %></p>
          <% end %>

          <br/>

        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

