<% if qualifiedRelation.empty? %>
  <% qualifiedRelation.build %>
<% end %>

<div class="fieldset">
  <h4>Related publications and datasets</h4>
  <div class="field-repeater">
  <!-- <div class="field-repeater" data-max-fields="5"> -->
    <ol>
    <% qualifiedRelation.each_with_index do |r, r_index| %>
      <% if r.entity.empty? %>
        <% r.entity.build %>
      <% end %>
      <%= f.fields_for "qualifiedRelation][#{r_index}", r do |f_r| %>
        <%= f_r.fields_for :entity, r.entity[0] do |f_e| %>
        <li>
          <label>
            <p class="small">Title of related item</p>
            <%= f_e.text_field :title, :value => r.entity[0].title.first, style: "width: 40%", id: "relationTitle%d"% r_index, data: {"progress" => "discoverability"} %>
            <a href="#" class="remove-field small">Remove<span class="icon icon-remove"></span></a>
          </label>

          <label>
            <p class="small">Type of relationship</p>
            <p>My <%=@model%> <span>&nbsp;</span>
            <%= f_r.select :relation, options_for_select(Sufia.config.relationship_types, :selected=>r.relation.first), { :include_blank => 'Select the relation' }, id: "relationType%d"% r_index, data: {"progress" => "discoverability"} %>
           this related item</p>
          </label>

          <label>
            <p class="small">Abstract or brief description of related item</p>
            <%= f_e.text_area :description, :value => r.entity[0].description.first, id: "relationDescription%d"% r_index, :style=>'width: 60%', data: {"progress" => "discoverability"} %>
          </label>

          <label>
            <p class="small">DOI or URL of related item</p>
            <%= f_e.text_field :identifier, :value => r.entity[0].identifier.first, style: "width: 50%", id: "relationId%d"% r_index, data: {"progress" => "discoverability"} %>
          </label>

          <label>
            <p class="small">Citation of related item (if no URL or DOI)</p>
            <%= f_e.text_field :citation, :value => r.entity[0].citation.first, style: "width: 50%", id: "relationCitation%d"% r_index, data: {"progress" => "discoverability"} %>
          </label>

        </li>
        <% end %>
      <% end %>
    <% end %>
    </ol>
    <a href="#" class="add-field">Add related item</a>
  </div>
  <% desc = "<p>You can use this field to link your data to any related publications or datasets.</p>
    <p>Please enter the title of any related item (e.g. a publication which your data underpins, or another version of your dataset),
     and select the option that best describes the relationship between your data and the related item (e.g. ‘My dataset is referenced by this related item’).</p>
    <p>You can then add an abstract or brief description of the related item and, if applicable, provide a DOI, URL or other citation</p>" %>
  <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability" , :tipTitle => "Related publications and datasets (optional)" , :tipDescription => desc } %>
</div><!-- /fieldset -->
