<% if article.rights.empty? %>
  <% article.rights.build %>
<% end %>
<div class="fieldset">
  <p class="small reqlabel">Copyright date</p>
  <%= f.text_field :dateCopyrighted, :required => true, :value => article.dateCopyrighted.first || Time.now.year, data: {"progress" => "documentation" } %>
  <%= render partial: '/shared/tooltip', :locals => {:tipType => "documentation" , :tipTitle => "Copyright date" , :tipDescription => "Enter the copyright year of the article" } %>
</div>

<div class="fieldset">

  <h4>Rights Holder</h4>

  <div class="field-repeater">
  <!-- <div class="field-repeater" data-max-fields="10"> -->
    <ol>
      <li>
	<% rightsHolders = article.rightsHolder.select {|item| item.start_with?("info:fedora/%s#creator" % [@pid]) } %>
        <%= f.text_field :rightsHolder, :multiple => true, :value=>rightsHolders.first, id: "rightsHolder0", data: {"progress" => "documentation"} %>
        <a href="#" class="remove-field small">Remove<span class="icon icon-remove"></span></a>
      </li>
      <% if rightsHolders.any? && rightholders.length > 1 %>
        <% rightsHolders[1..-1].each_with_index do |r, rcount| %>
          <li>
            <%= f.text_field :rightsHolder, :multiple => true, :value=>r, id: "rightsHolder%d"%rcount, data: {"progress" => "documentation"} %>
            <a href="#" class="remove-field small">Remove<span class="icon icon-remove"></span></a>
          </li>
        <% end %>
      <% end %>
    </ol>
    <a href="#" class="add-field">Add another rights holder</a>
  </div>
  <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability" , :tipTitle => "Keywords" , :tipDescription => "Enter the rights holders (apart form authors) for this work." } %>
</div>

<%= f.fields_for :rights do |f_r| %>
  <div class="fieldset">
    <p class="small">Rights statement (from publisher)</p>
    <%= f_r.text_area :rightsStatement, :value => article.rights[0].rightsStatement.first, data: {"progress" => "documentation"} %>
    <%= render partial: '/shared/tooltip', :locals => {:tipType => "documentation" , :tipTitle => "Rights statement" , :tipDescription => "Enter the rights statement as required by the publisher or other legal entity" } %>
  </div>
<% end %>


