<div class="fieldset">
  <% if titularActivity.empty? %>
    <% titularActivity.build %>
  <% end %>
  <h4>Post project or for entire lifetime of the data</h4>

  <div class="field-repeater">
    <ol>
      <% titularActivity.each do |c0| %>
        <%= f.fields_for :titularActivity, c0 do |f_c0| %>
          <% if c0.titular.empty? %>
            <% c0.titular.build %>
          <% end %>
          <% c0.titular.each_with_index do |c, c_index| %>
            <%= f_c0.fields_for :titular, c do |f_c| %>
              <% if c.agent.empty? %>
                <% c.agent.build %>
              <% end %>
              <% if c.agent[0].affiliation.empty? %>
                <% c.agent[0].affiliation.build %>
              <% end %>

              <li>
                <p><span class="small">Data steward name</span>
                <%= f_c.text_field :name, :value => c.agent[0].name.first, id: "titularName%d"%c_index, :class=>"titularName" %>
                <a href="#" class="remove-field small">Remove<span class="icon icon-remove"></span></a>

                <label>
                  <p><span class="small">Creator object</span>
                    <%= f_c.text_field :roleHeldBy, :value => c.agent[0].roleHeldBy.first, id: "titularSameAs%d"%c_index  %>
                  </p>
                </label>

                <label>
                  <p><span class="small">Role</span>
                  <%= f_c.select :role, options_for_select(Sufia.config.role_types[@model], :selected=>c.role.first), id: "titularRole%d"%c_index %>
                  </p>
                </label>

                <% c.agent[0].affiliation.each_with_index do |c2, c2_index| %>
                  <%= f_c.fields_for :affiliation, c2 do |f_c2| %>
                    <label>
                      <p><span class="small">Affilition</span>
                        <%= f_c2.text_field :name, :value => c2.name.first, id: "titularAffiliation%dName%d"% [c_index, c2_index], :class=>"titularAffiliation" %>
                      </p>
                    </label>

                    <label>
                      <p><span class="small">Link to affiliation object</span>
                        <%= f_c2.text_field :sameAs, :value => c2.sameAs.first, id: "titularAffiliation%dSameAs%d"% [c_index, c2_index] %>
                      </p>
                    </label>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </ol>
    <a href="#" class="add-field">Add another post-project data steward</a>
  </div>

  <aside class="tooltip">
    <a href="#" class="close-button">x</a>
    <strong>Data steward for post-project</strong>
    <p>Select a role (e.g. 'PI') who will steward the data in the long term and
    enter the name of a person currently serving that role. This person should ideally be 
    based at Oxford and their it should auto-complete as you type so you can select the
    correct name from the list displayed.</p>
    <div class="tooltip-extra">
      <div class="circle circle-preservation"></div>
      <p><strong>Completing this field helps with Preservation</strong></p>
    </div>
  </aside>

</div>
