<div class="fieldset">
  <% if titularActivity.empty? %>
    <% titularActivity.build %>
  <% end %>
  <h5>Post project or for entire lifetime of the data</h5>

  <div class="field-repeater">
    <ol>
      <% titularActivity.each do |c0| %>
        <%= f.fields_for :titularActivity, c0 do |f_c0| %>
          <% if c0.titular.empty? %>
            <% c0.titular.build %>
          <% end %>
          <% c0.titular.each_with_index do |c, c_index| %>
            <%= f_c0.fields_for :titular, c do |f_c| %>
              <% if c.agent.empty? %>
                <% c.agent.build %>
              <% end %>
              <% if c.agent[0].affiliation.empty? %>
                <% c.agent[0].affiliation.build %>
              <% end %>

              <li>
                <label><span class="small reqlabel">Name</span>
                <%= f_c.text_field :name, :required => true, :value => c.agent[0].name.first, id: "titularName%d"%c_index, :class=>"creatorName", data: {"progress" => "preservation"} %>
                <a href="#" class="remove-field small">Remove<span class="icon icon-remove"></span></a>
                </label>

                <% if can? :review, :all %>
                  <label>
                    <p><span class="small">Creator object</span>
                      <%= f_c.text_field :roleHeldBy, :value => c.agent[0].roleHeldBy.first, id: "titularSameAs%d"%c_index, data: {"progress" => "documentation"}  %>
                    </p>
                  </label>
                <% else %>
                  <%= f_c.hidden_field :roleHeldBy, :value => c.agent[0].roleHeldBy.first, id: "titularSameAs%d"%c_index  %>
                <% end %>

                <label>
                  <% selectedRole = c.role.first %>
                  <% if selectedRole.blank? %>
                  <% selectedRole = Sufia.config.role_types["data_steward"]['Designated Data Steward'] %>
                  <% end %>
                  <p><span class="small reqlabel">Role </span>
                  <%= f_c.select :role, options_for_select(Sufia.config.role_types["data_steward"], :selected=>selectedRole),  { :include_blank => 'Select a role' }, id: "titularRole%d"%c_index, :required => true, data: {"progress" => "preservation"}  %>
                  </p>
                </label>

                <% c.agent[0].affiliation.each_with_index do |c2, c2_index| %>
                  <%= f_c.fields_for :affiliation, c2 do |f_c2| %>
                    <label>
                      <p><span class="small">Affiliation</span>
                        <%= f_c2.text_field :name, :value => c2.name.first, id: "titularAffiliation%dName%d"% [c_index, c2_index], :class=>"creatorAffiliation", data: {"progress" => "preservation"}  %>
                      </p>
                    </label>

                    <% if can? :review, :all %>
                      <label>
                        <p><span class="small">Link to affiliation object</span>
                          <%= f_c2.text_field :sameAs, :value => c2.sameAs.first, id: "titularAffiliation%dSameAs%d"% [c_index, c2_index], data: {"progress" => "documentation"} %>
                        </p>
                      </label>
                    <% else %>
                      <%= f_c2.hidden_field :sameAs, :value => c2.sameAs.first, id: "titularAffiliation%dSameAs%d"% [c_index, c2_index] %>
                    <% end %>

                  <% end %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </ol>
    <a href="#" class="add-field">Add another data steward</a>
  </div>
  <% desc = "Data steward for post-project:
            Please enter the name and role of a person who has agreed to act as a data steward for this dataset post-project or for the entire lifetime of the data
            – i.e. someone who is NOT already listed as a creator but who can act as a point of contact for ORA staff in the event of any queries 
            arising about this dataset should the creator/s be unavailable. The individual must have agreed to take on this role and 
            to have their personal details displayed on the item record. 
            Ideally, your department or unit will have designated a data steward role for this purpose but, if not, 
            this is likely to be someone in a role such as ‘Head of X Department/Faculty’ or ‘Head of X Research Group’.
            If the person is based at Oxford, their name, email address and departmental affiliation should auto-complete as you type." %>
  <%= render partial: '/shared/tooltip', :locals => {:tipType => "preservation" , :tipTitle => "Data steward for post-project" , :tipDescription => desc } %>
</div>

