<div class="fieldset">
  <% if titularActivity.empty? %>
    <% titularActivity.build %>
  <% end %>
  <h5>Post project or for entire lifetime of the data</h5>

  <div class="field-repeater">
    <ol>
      <% titularActivity.each do |c0| %>
        <%= f.fields_for :titularActivity, c0 do |f_c0| %>
          <% if c0.titular.empty? %>
            <% c0.titular.build %>
          <% end %>
          <% c0.titular.each_with_index do |c, c_index| %>
            <%= f_c0.fields_for :titular, c do |f_c| %>
              <% if c.agent.empty? %>
                <% c.agent.build %>
              <% end %>
              <% if c.agent[0].affiliation.empty? %>
                <% c.agent[0].affiliation.build %>
              <% end %>

              <li>
                <label><span class="small">Name</span>
                <%= f_c.text_field :name, :required => true, :value => c.agent[0].name.first, id: "titularName%d"%c_index, :class=>"creatorName" %>
                <a href="#" class="remove-field small">Remove<span class="icon icon-remove"></span></a>
                </label>

                <% if can? :review, :all %>
                  <label>
                    <p><span class="small">Creator object</span>
                      <%= f_c.text_field :roleHeldBy, :value => c.agent[0].roleHeldBy.first, id: "titularSameAs%d"%c_index  %>
                    </p>
                  </label>
                <% else %>
                  <%= f_c.hidden_field :roleHeldBy, :value => c.agent[0].roleHeldBy.first, id: "titularSameAs%d"%c_index  %>
                <% end %>

                <label>
                  <p><span class="small">Role</span>
                  <%= f_c.select :role, options_for_select(Sufia.config.role_types["data_steward"], :selected=>c.role.first), id: "titularRole%d"%c_index %>
                  </p>
                </label>

                <% c.agent[0].affiliation.each_with_index do |c2, c2_index| %>
                  <%= f_c.fields_for :affiliation, c2 do |f_c2| %>
                    <label>
                      <p><span class="small">Affiliation</span>
                        <%= f_c2.text_field :name, :value => c2.name.first, id: "titularAffiliation%dName%d"% [c_index, c2_index], :class=>"creatorAffiliation" %>
                      </p>
                    </label>

                    <% if can? :review, :all %>
                      <label>
                        <p><span class="small">Link to affiliation object</span>
                          <%= f_c2.text_field :sameAs, :value => c2.sameAs.first, id: "titularAffiliation%dSameAs%d"% [c_index, c2_index] %>
                        </p>
                      </label>
                    <% else %>
                      <%= f_c2.hidden_field :sameAs, :value => c2.sameAs.first, id: "titularAffiliation%dSameAs%d"% [c_index, c2_index] %>
                    <% end %>

                  <% end %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </ol>
    <a href="#" class="add-field">Add another data steward</a>
  </div>

  <aside class="tooltip">
    <a href="#" class="close-button">x</a>
    <strong>Data steward for post-project</strong>
    <p>Please enter the name and role of a person who has agreed to act as a data steward for this dataset post-project or for the entire lifetime of the data
        – i.e. the person who can act as a point of contact for ORA staff in the event of any queries arising about this dataset.
        The individual must have agreed to take on this role and to have their personal details displayed on the item record. Post-project,
        this is likely to be someone in a role such as ‘Head of X Department/Faculty’ or ‘Head of X Research Group’. If the person is based at Oxford,
        their name, email address and departmental affiliation should auto-complete as you type.</p>
    <div class="tooltip-extra">
      <div class="circle circle-preservation"></div>
      <p><strong>Completing this field helps with Preservation</strong></p>
    </div>
  </aside>

</div>

