<% if !article.titularActivity.nil? && !article.titularActivity[0].nil? && !article.titularActivity[0].titular.empty? %>
  <div class="well">
    <div class="row">
      <div class="control-group">
        <div id="titularActivity">
          <% article.titularActivity[0].titular.each_with_index do |c, c_index| %>
            <div>
            <% if !c.agent[0].name.empty? and !c.agent[0].roleHeldBy.empty? %>
              <strong><%=link_to c.agent[0].name.first, c.agent[0].roleHeldBy.first %></strong><br/>
            <% elsif !c.agent[0].name.empty? %>
               <strong><%= c.agent[0].name.first %></strong><br/>
            <% end %>
            <% if c.role %>
              <% if Sufia.config.role_labels.include?(c.role.first) %>
                <%= Sufia.config.role_labels[c.role.first] %><br/>
              <% else %>
                <%= c.role.first %>
              <% end %>
            <% end %>
            <% if !c.agent[0].affiliation.empty? %>
              <% c.agent[0].affiliation.each do |c2| %>
                <% if !c2.name.empty? and !c2.sameAs.empty? %>
                  <%=link_to c2.name.first, c2.sameAs.first %><br/>
                <% elsif c2.name %>
                  <%= c2.name.first %><br/>
                <% end %>
              <% end %>
            <% end %>
            </div>
          <% end %>
        </div><!-- /.titularActivity -->
      </div><!-- /.control-group -->
    </div> <!-- /.row -->
  </div> <!-- /.well -->
<% end %>

