<% unless article.workflows.first.nil? %>
  <% wf = article.workflows.first %>
<% end %>

<div class="accordian">
  <div class="accordian-header">History</div>
  <div class="accordian-content">
    <% if article.workflows.empty? || article.workflows.first.entries.map{|e| e.status.first } == ["Draft"]  %>
      <p>This <%=@model.capitalize()%> has never been submitted for review.</p>

    <% else %>
      <table style="font-size: 12px; margin: 10px 0; color: #505050;">
        <tr>
          <th>Date</th><th>Modified by</th><th>Status</th><th>Assignee</th><th>Comment</th>
        </tr>
        <% wf.entries.each do |entry| %>
          <tr>
            <td><%= format_date(entry.date.first) %></td>
            <td><%= entry.creator.first %></td>
            <td><%= entry.status.first %></td>
            <td><%= entry.reviewer_id.first %></td>
            <td><%= simple_format(entry.description.first) %></td>
          </tr>
        <% end %>
      </table>
      <% if !wf.comments.nil? and !wf.comments.empty? %>
        <h4>Comments</h4>
        <table style="font-size: 12px; margin: 10px 0; color: #505050;">
          <tr>
            <th>Date</th><th>Comment Author</th><th>Comment</th>
          </tr>
          <% wf.comments.each do |comment| %>
            <tr>
              <td><%= format_date(comment.date.first) %></td>
              <td><%= comment.creator.first %></td>
              <td><%= simple_format(comment.description.first) %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
      <% if !wf.emailThreads.nil? and !wf.emailThreads.empty? %>
        <h4>Email threads</h4>
        <table style="font-size: 12px; margin: 10px 0; color: #505050;">
          <tr>
            <th>Date</th><th>Email thread</th>
          </tr>
          <% wf.emailThreads.each do |emailThread| %>
            <tr>
              <td><%= format_date(emailThread.date.first) %></td>
              <td><%=link_to emailThread.identifier.first, emailThread.references.first, :target => "_blank" %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
      <% if !wf.involves.nil? and !wf.involves.empty? %>
        <h4>Events involved</h4>
        <table style="font-size: 12px; margin: 10px 0; color: #505050;">
          <% wf.involves.each do |event| %>
            <tr>
              <td><%=event%></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% end %>
  </div>
</div>
