<%= form_for @article, :html => {:multipart => true, :class => 'form-horizontal', :id => 'workflow'} do |f| %>

  <%= hidden_field_tag('redirect_tab', 'workflow') %>
  <h2>Workflow Status</h2>

  <div class="well">
    <div class="row">
      <div class="control-group">
      
        <% unless @article.workflows.first.nil? %>
          <% wf = @article.workflows.first %>
          <input type="hidden" name="article[workflows_attributes][id]" value="<%= wf.rdf_subject.to_s%>" />
        <% end %>
      
        <% if @article.workflows.empty? || @article.workflows.first.current_status == "Draft" %>
          <h3>History - <small>what's happened so far</small></h3>
          This Article has never been submitted for review.
          <input type="hidden" name="article[workflows_attributes][identifier]" value="MediatedSubmission" />
          <input type="hidden" name="article[workflows_attributes][entries_attributes][status]" value="Submitted" />
          <input type="hidden" name="article[workflows_attributes][entries_attributes][date]" value="<%= Time.now.to_s %>" />
          <input type="hidden" name="article[workflows_attributes][entires_attributes][creator]" value="<%= current_user.user_key %>" />
          <div class="controls">
            <%= label_tag "article[workflows_attributes][entries_attributes][description]", "Comment", :class=>"control-label" %>
            <%= text_area_tag "article[workflows_attributes][entries_attributes][description]" %> 
          </div>
          
        <% else %>
          
          <h3>Change Status</h3>
          <%# @article.workflows.each_with_index do |wf, wf_index| %>
            <div class="controls">
              <%= label_tag "article[workflows_attributes][entries_attributes][status]", "Status", :class=>"control-label" %>
      
              <%= select_tag "article[workflows_attributes][entries_attributes][status]", options_for_select(["Draft","Submitted","Assigned", "Approved", "Escalated", "Referred", "Rejected"], wf.current_status), :class=>'span20 select_perm' %>   
              <input type="hidden" name="article[workflows_attributes][entries_attributes][date]" value="<%= Time.now.to_s %>" />
              <input type="hidden" name="article[workflows_attributes][entries_attributes][creator]" value="<%= current_user.user_key %>" />
            
            </div>
            <div class="controls">
              <%= label_tag "article[workflows_attributes][entries_attributes][reviewer_id]", "Reviewer", :class=>"control-label" %>
              <% if wf.current_reviewer.nil? %>
                <%= text_field_tag "article[workflows_attributes][entries_attributes][reviewer_id]", wf.current_reviewer %>
              <% else %>
                <%= text_field_tag "article[workflows_attributes][entries_attributes][reviewer_id]", wf.current_reviewer.user_key %>
              <% end %>
            </div>
            <div class="controls">
              <%= label_tag "article[workflows_attributes][entries_attributes][description]", "Comment", :class=>"control-label" %>
              <%= text_area_tag "article[workflows_attributes][entries_attributes][description]" %> 
            </div>
          <%# end %>
        <% end %> 
      </div><!-- /.control-group -->
    </div><!-- /.row -->
  </div><!-- /.well -->

    <% if @article.workflows.empty? || @article.workflows.first.current_status == "Draft" %>
     <div class="row form-actions" id="workflow_submit">
      <%= button_tag '<i class="icon-save"></i> Submit for Review'.html_safe, :type => 'submit', :class => 'btn-primary btn-large', :onclick => "confirmation_needed = false;", :id => "upload_submit", :name => "update_workflow" %>
      </div>
    <% else %>
      <%= render partial: "shared/workflow_show", :locals => { :wf => wf } %>
      <div class="row form-actions" id="workflow_submit">
        <%= button_tag '<i class="icon-save"></i> Update Workflow'.html_safe, :type => 'submit', :class => 'btn-primary btn-large', :onclick => "confirmation_needed = false;", :id => "upload_submit", :name => "update_workflow" %>
      </div>
    <% end %>

<% end %>
