<%= form_for article, :html => {:multipart => true, :class => 'form-horizontal', :id => 'workflow'} do |f| %>

  <%= hidden_field_tag('redirect_tab', 'workflow') %>

  <div class="well">
    <div class="row">
      <div class="control-group">
        <legend>Review workflow</legend>
      
        <% unless article.workflows.first.nil? %>
          <% wf = article.workflows.first %>
          <%= f.hidden_field "workflows_attributes][id", :value => wf.rdf_subject.to_s %>
          <% if article.workflows.first.comments.empty? %>
            <% article.workflows.first.comments.build %>
          <% end %>
        <% end %>
      
        <% unless can? :review, :all %>
          <% if article.workflows.empty? || article.workflows.first.current_status == "Draft" || article.workflows.first.current_status == "Referred" %>
            <% buttonText = 'Submit for Review' %>
            <% if article.workflows.empty? %>
              <%= f.hidden_field "workflows_attributes][identifier", :value => "MediatedSubmission", :id => "workflows_id" %>
            <% end %>
            <%= f.hidden_field "workflows_attributes][entries_attributes][status", :value => "Submitted", :id => "workflows_entries_status" %>
            <div class="fields">
              <%= f.label "workflows_attributes_entries_attributes_description", "Comment", :class=>"control-label" %>
              <%= f.text_area "workflows_attributes][entries_attributes][description", :value => "", :id => "workflows_entries_description" %> 
            </div>
          <% end %>
        <% else %>
          <% buttonText = 'Save review changes' %>
          <h3>Change Status</h3>
          <%# article.workflows.each_with_index do |wf, wf_index| %>
            <div class="fields">
              <%= f.label "workflows_attributes_entries_attributes_status", "Status", :class=>"control-label" %>
              <%= select_tag "#{@model}[workflows_attributes][entries_attributes][status]", options_for_select(Sufia.config.workflow_status, :selected=>""), :class=>'span20 select_perm', :id => "workflows_entries_status" %>
            
            </div>
            <div class="fields">
              <%= f.label "workflows_attributes_entries_attributes_reviewer_id", "Reviewer", :class=>"control-label" %>
              <%= f.text_field "workflows_attributes][entries_attributes][reviewer_id", :value => "", :id => "workflows_entires_reviewer_id" %>
            </div>
            <div class="fields">
              <%= f.label "workflows_attributes_entries_attributes_description", "Comment", :class=>"control-label" %>
              <%= f.text_area "workflows_attributes][entries_attributes][description", :value => "", :id => "workflows_entires_description" %> 
            </div>
          <%# end %>
          <h3>Add a comment</h3>
          <div class="fields">
            <%= f.label "workflows_attributes_comments_attributes_description", "Description", :class=>"control-label" %>
            <%= f.text_field "workflows_attributes][comments_attributes][description", :value => "", :id => "workflows_comments_description" %>   
          </div>
        <% end %> 
      </div><!-- /.control-group -->
    </div><!-- /.row -->
  </div><!-- /.well -->

  <div class="row form-actions" id="workflow_submit">
    <% txt = '<i class="icon-save"></i> %s'% buttonText %>
    <%= button_tag txt.html_safe, :type => 'submit', :class => 'btn-primary btn-large', :onclick => "confirmation_needed = false;", :id => "upload_submit", :name => "update_workflow" %>
  </div>

  <%= render partial: "shared/workflow_show", :locals => { :wf => wf, :article => article } %>

<% end %>
