<% if can? :review, :all %>
  <% unless article.workflows.first.nil? %>
    <% wf = article.workflows.first %>
    <%= f.hidden_field "workflows_attributes][id", :value => wf.rdf_subject.to_s %>
    <% if article.workflows.first.comments.empty? %>
      <% article.workflows.first.comments.build %>
    <% end %>
  <% end %>

  <h4>Update workflow</h4>

  <%# article.workflows.each_with_index do |wf, wf_index| %>
    <div class="fieldset">
      <label>Status</label>
      <%= select_tag "#{@model}[workflows_attributes][entries_attributes][status]", options_for_select(Sufia.config.workflow_status, :selected=>""), :prompt => 'Select a status' , :class=>'span20 select_perm', :id => "workflows_entries_status", data: {"progress" => "documentation"} %>
      <%= render partial: '/shared/tooltip', :locals => {:tipType => "documentation" , :tipTitle => "Status" , :tipDescription => "Select the status of the record based on your review" } %>
    </div>

    <div class="fieldset">
      <label>Reviewer</label>
      <%= f.text_field "workflows_attributes][entries_attributes][reviewer_id", :value => "", :id => "workflows_entires_reviewer_id", data: {"progress" => "documentation"} %>
      <%= render partial: '/shared/tooltip', :locals => {:tipType => "documentation" , :tipTitle => "Reviewer" , :tipDescription => "This should be autofilled with your SSO id. If it isn't, Add your SSO id here" } %>
    </div>

    <div class="fieldset">
      <label>Comment on workflow status</label>
      <%= f.text_area "workflows_attributes][entries_attributes][description", :value => "", :id => "workflows_entires_description", data: {"progress" => "documentation"} %> 
      <%= render partial: '/shared/tooltip', :locals => {:tipType => "documentation" , :tipTitle => "Comment on workflow status" , :tipDescription => "Add a comment, if needed, regarding the workflow status you have just selected." } %>
    </div>
  <%# end %>

  <h4>Add a comment</h4>

  <div class="fieldset">
    <label>Record a comment</label>
    <%= f.text_field "workflows_attributes][comments_attributes][description", :value => "", :id => "workflows_comments_description", data: {"progress" => "documentation"} %>
    <%= render partial: '/shared/tooltip', :locals => {:tipType => "documentation" , :tipTitle => "Comment" , :tipDescription => "Here you can record a generic comment or add notes for future reference." } %>
  </div>

<% end %> 

