<% unless article.workflows.first.nil? %>
  <% wf = article.workflows.first %>
<% end %>

<div class="accordian">
  <div class="accordian-header">History</div>
  <div class="accordian-content">
    <% if article.workflows.empty? || article.workflows.first.entries.map{|e| e.status.first } == [Sufia.config.draft_status]  %>
      <p>This <%=@model.capitalize()%> has never been submitted for review.</p>

    <% else %>
      <table>
        <tr>
          <th class="col1of5"><strong>Date</strong></th>
          <th class="col1of5"><strong>Modified by</strong></th>
          <th class="col1of5"><strong>Status</strong></th>
          <th class="col2of5"><strong>Comment</strong></th>
        </tr>
        <% wf.entries.each do |entry| %>
          <tr>
            <td><%= format_date(entry.date.first) %></td>
            <td><%= entry.creator.first %></td>
            <td><%= entry.status.first %></td>
            <td>
              <% if entry.reviewer_id.any? %>
                Assigned to <%= entry.reviewer_id.first %><br/>
              <% end %>
              <%= simple_format(entry.description.first) %>
            </td>
          </tr>
        <% end %>
      </table>
      <% if !wf.comments.nil? and !wf.comments.empty? %>
        <h4>Comments</h4>
        <table>
          <tr>
            <th class="col1of5"><strong>Date</strong></th>
            <th class="col1of5"><strong>Comment Author</strong></th>
            <th class="col3of5"><strong>Comment</strong></th>
          </tr>
          <% wf.comments.each do |comment| %>
            <tr>
              <td><%= format_date(comment.date.first) %></td>
              <td><%= comment.creator.first %></td>
              <td><%= simple_format(comment.description.first) %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
      <% if !wf.emailThreads.nil? and !wf.emailThreads.empty? %>
        <h4>Email threads</h4>
        <table>
          <tr>
            <th><strong>Date</strong></th>
            <th><strong>Email thread</strong></th>
          </tr>
          <% wf.emailThreads.each do |emailThread| %>
            <tr>
              <td><%= format_date(emailThread.date.first) %></td>
              <td><%=link_to emailThread.identifier.first, emailThread.references.first, :target => "_blank" %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
      <% if wf.involves.any? %>
        <h4>Events involved</h4>
        <table>
          <% wf.involves.each do |event| %>
            <tr>
              <td><%=event%></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% end %>
  </div>
</div>
