<div class="fieldset">
  <p class="small">Title</p>
  <%= f.text_field :title, :value=>@article.title.first, :required=>true, :style=>'width: 60%' %>

  <aside class="tooltip">
    <a href="" class="close-button">x</a>
    <strong>Title</strong>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut viverra purus nibh.</p>
  </aside>
</div>

<div class="fieldset">
  <p class="small">Subtitle</p>
  <%= f.text_field :subtitle, :value=>@article.subtitle.first, :style=>'width: 40%' %>
  <aside class="tooltip">
    <a href="" class="close-button">x</a>
    <strong>Subtitle</strong>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut viverra purus nibh.</p>
  </aside>
</div>

<div class="fieldset">
  <p class="small">Abstract</p>
  <%= f.text_area :abstract, :value=>@article.abstract.first %>
  <aside class="tooltip">
    <a href="" class="close-button">x</a>
    <strong>Abstract</strong>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut viverra purus nibh.</p>
  </aside>
</div>

<% if !@article.medium.nil? && !@article.medium.empty? && !@article.medium.first.empty? %>
  <!-- Only display if information exists i.e. imported records -->
  <div class="fieldset">
    <p class="small">Medium</p>
    <%= f.text_field :medium, :value=>@article.medium.first %>
    <aside class="tooltip">
      <a href="" class="close-button">x</a>
      <strong>Medium</strong>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut viverra purus nibh.</p>
    </aside>
  </div>
<% end %>

<div class="padding-side-25">
  <div class="bottom-border"></div>
</div>

<div class="fieldset">
  <%# f.label :keyword, "<span class='error'>*</span> Keyword".html_safe, :class=>"control-label" %>
  <p class="small">Keywords</p>
  <div class="field-repeater" data-max-fields="10">
    <ol>
      <li>
        <%= f.text_field :keyword, :name=>"article[keyword][]", :value=>@article.keyword.first, id: "keyword0" %> 
        <a href="#" class="remove-field small">Remove<span class="icon icon-remove"></span></a>
      </li>
    </ol>
    <a href="#" class="add-field">Add a keyword</a>
  </div>
  <%# help_icon(:keyword) %>
  <%# kcount = 1 %>

  <aside class="tooltip">
    <a href="" class="close-button">x</a>
    <strong>Keywords</strong>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut viverra purus nibh.</p>
  </aside>

</div>