<section class="form-step" style="display: block;">
  <!-- file upload -->
  <div class="content-box padding-0">
    <div class="content-box-header">
      Deposit Article
    </div>
    <div class="padding-25 no-pad-bottom">
      <%= render partial: '/shared/upload/files_form', :locals => {:record => @article, :editpath => document_url("Article", "edit", @pid) } %>
    <div class="bottom-border"></div>
  </div>

  <%= form_for(@article) do |f| %>
    <%= hidden_field_tag(:pid, @pid) %>

    <!-- publication info -->
    <div class="padding-side-25 bottom-border">
      <%= render partial: 'shared/publication_activity/article_fields_short_edit', :locals => { :f => f, :publication => @article.publication } %>
    </div>

    <!-- apc info -->  
    <div class="padding-side-25"> 
      <%= render partial: "/articles/_edit_short/admin_fields_edit", :locals => { :f => f, :article => @article } %>
    </div>
  <!-- </div> -->
  
    <!-- Expander -->
    <div class="content-box padding-0" style="margin-top: 20px;">
      <div class="content-box-header expand-header">
        Add funder and other information to your article record 
      </div>
      <div class="expand-content">

        <!-- funder info -->
        <div class="padding-side-25"> 
          <%= render partial: 'shared/funding_activity_fields_edit', :locals => { :f => f, :funding => @article.funding } %>
        </div>
        <div class="bottom-border padding-side-25"></div>

        <!-- creator info -->
        <%= render partial: 'shared/creation_activity_fields_edit', :locals => { :f => f, :creation => @article.creation, :label => "creator" } %>
        <div class="bottom-border padding-side-25"></div>
  
        <!-- Related item -->
        <%= render partial: 'shared/relation_fields_edit', :locals => { :f => f, :qualifiedRelation => @article.qualifiedRelation } %>

      </div>
    </div>
  
    <!-- Form submit (save) -->
    <nav class="form-nav" style="margin-top: 20px;">
      <div class="form-nav-next" style="text-align: right">
        <%= f.submit "Save article", class: "button light-blue" %>
        <% unless @article.workflows.first.nil? %>
          <% wf = @article.workflows.first %>
          <%= f.hidden_field "workflows_attributes][id", :value => wf.rdf_subject.to_s %>
          <% if @article.workflows.first.comments.empty? %>
            <% @article.workflows.first.comments.build %>
          <% end %>
        <% end %>
        <% if @article.workflows.empty? || @article.workflows.first.current_status == "Draft" || @article.workflows.first.current_status == "Referred" %>
          <% if @article.workflows.empty? %>
            <%= f.hidden_field "workflows_attributes][identifier", :value => "MediatedSubmission", :id => "workflows_id" %>
          <% end %>
          <%= f.hidden_field "workflows_attributes][entries_attributes][status", :value => "", :id => "workflows_entries_status" %>
          <%= f.submit "Submit for review", class: "button light-blue", :onclick => "setStatus()" %>
        <% end %>
      </div>
    </nav>
  
  <% end %>

</section>
