<%= form_for(@article) do |f| %>
  <%= hidden_field_tag(:pid, @pid) %>

  <div id="creators">
    <div class="well">
      <div class="row">
        <div class="control-group">
          <%= render partial: 'shared/creation_activity_fields_edit', :locals => { :f => f, :creation => @article.creation, :label => "creator" } %>
        </div><!-- /.control-group -->
      </div> <!-- /.row -->
    </div> <!-- /.well -->
  </div>

  <%= render partial: "/articles/_edit_short/describe_fields_edit", as: :article, :locals => { :f => f } %>

  <div id="publication">
    <div class="well">
      <div class="row">
        <div class="control-group">
          <%= render partial: 'shared/publication_activity/article_fields_short_edit', :locals => { :f => f, :publication => @article.publication } %>
        </div><!-- /.control-group -->
      </div> <!-- /.row -->
    </div> <!-- /.well -->
  </div>

  <div id="funders">
    <div class="well">
      <div class="row">
        <div class="control-group">
          <%= render partial: 'shared/funding_activity_fields_edit', :locals => { :f => f, :funding => @article.funding } %>
        </div><!-- /.control-group -->
      </div> <!-- /.row -->
    </div> <!-- /.well -->
  </div>

  <div id="rights">
    <%= render partial: "/articles/_edit_short/admin_fields_edit", :locals => { :f => f, :article => @article } %>
    <%# Confirmed with Sarah that embargo options not needed in short form %> 
    <%#= render partial: 'shared/embargo/catalogue_fields_edit', :locals => { :f => f, :article => @article } %>
    <%#= render partial: 'shared/file_info_fields_edit', :locals => { :f => f, :article => @article } %>
    <%#= render partial: "shared/permissions_edit", :locals => {:f => f, :permissions => @article.permissions, :depositor => @article.workflowMetadata.depositor[0]} %>
    <%#= render partial: 'shared/permissions_delete', :locals => {:permissions => @article.permissions, :depositor => @article.workflowMetadata.depositor[0], :pid => @pid} %>
  </div>

  <div class="actions">
    <%= f.submit "Save article", class: "btn btn-success" %>
  </div><!-- /.actions -->
<% end %>

<%= form_for @article, :html => {:multipart => true, :class => 'form-horizontal', :id => 'workflow'} do |f| %>
  <%= hidden_field_tag(:pid, @pid) %>
  <% buttonText = 'Submit for Review' %>
  <div id="workflow">
    <%= render partial: 'shared/workflow_edit', :locals => { :f => f, :article => @article } %>
  </div>
  <div class="row form-actions" id="workflow_submit">
    <% txt = '<i class="icon-save"></i> %s'% buttonText %>
    <%= button_tag txt.html_safe, :type => 'submit', :class => 'btn-primary btn-large', :onclick => "confirmation_needed = false;", :id => "upload_submit", :name => "update_workflow" %>
  </div>
<% end %>
