<section class="form-step" style="display: block;">
  <!-- file upload -->
  <div class="content-box padding-0">
    <div class="content-box-header">
      Deposit Article
    </div>
    <div class="padding-25 no-pad-bottom">
      <%= render partial: '/shared/upload/files_form', :locals => {:record => @article, :editpath => document_url("Article", "edit", @pid) } %>
    <div class="bottom-border"></div>
    <div class="padding-0">
      <div class="padding-25 no-pad-bottom">
        <%= render partial: 'shared/upload/list_files' %>
      </div>
    </div>
  </div>

  <%= form_for @article, :html => {:id => "new_record_fields", :class => "ora-validate-form"} do |f| %>
    <%= hidden_field_tag(:pid, @pid) %>
    <%= hidden_field_tag(:redirect_field, flash[:redirect_field]) %>

    <% unless @dataset.workflows.first.nil? %>
      <% @wf = @dataset.workflows.first %>
      <% @wf_id = @wf.rdf_subject.to_s %>
      <% @currentStatus = @wf.current_status %>
    <% else %>
      <% @dataset.workflows.build %>
      <% @wf = @dataset.workflows.first %>
      <% @wf_id = nil %>
      <% @currentStatus = "Draft" %>
    <% end %>
    <%= f.fields_for :workflows, @wf do |f_wf| %>
      <% unless @wf_id.nil? %>
        <%= f_wf.hidden_field :id, :value => @wf_id, :id => "workflow_submit_id" %>
      <% end %>

      <!-- publication info -->
      <div class="padding-side-25 bottom-border">
        <%= render partial: 'shared/publication_activity/article_fields_short_edit', :locals => { :f => f, :publication => @article.publication } %>
      </div>

      <!-- apc info -->
      <div class="padding-side-25">
        <%= render partial: "/articles/_edit_short/admin_fields_edit", :locals => { :f => f, :article => @article } %>
      </div>

      <!-- Expander -->
      <div class="content-box padding-0" style="margin-top: 20px;">
        <div class="content-box-header expand-header">
          <div class="space-right">Add funder and other information to your article record</div>
        </div>
        <div class="expand-content">

          <!-- funder info -->
          <div class="padding-side-25">
            <%= render partial: 'shared/funding_activity_fields_edit', :locals => { :f => f, :funding => @article.funding, :required => false } %>
          </div>
          <div class="bottom-border padding-side-25"></div>

          <!-- creator info -->
          <%= render partial: 'shared/creation_activity_fields_edit', :locals => { :f => f, :creation => @article.creation, :label => "creator", :required => false } %>
          <div class="bottom-border padding-side-25"></div>

          <!-- Related item -->
          <%= render partial: 'shared/relation_fields_edit', :locals => { :f => f, :qualifiedRelation => @article.qualifiedRelation } %>

        </div>
      </div>

      <!-- Form save and submit -->
      <nav class="form-nav" style="margin-top: 20px;">
        <div class="form-nav-next" style="text-align: right">
          <%= f.submit "Save", class: "button light-blue", :onclick => "setStatus(\"workflow_submit_entries_status\", \"default\")", data: {"submit-without-validation" => true} %>
          <%= render partial: "shared/workflow_submit", :locals => {:f => f, :f_wf => f_wf, :wf => @wf, :wf_id => @wf_id, :currentStatus => @currentStatus, :validate => true} %>
        </div>
      </nav>

    <% end #fields_fow workflows %>
  <% end %>

</section>
