<article class="review-article">
  <div class="content">
    <%= render partial: "articles/worktype_label_show", :locals => { :worktypeLabel => document.worktypeLabel } %> 
    <%= render partial: "shared/status_label_show", :locals => { :status => document.submission_workflow_status } %> 
    <div><strong><%= link_to truncate(document.title_or_label, :length => 28, :separator => ' '), document_url(document.modelName, 'show', document.id), :title => document.title_or_label  %></strong></div>
    <% if !document.creators.nil? && !document.creators.empty? %>
      <div class="small">
        <strong>Creator: </strong>
        <%= document.creators.map { |author| author["name"] }.join "; " %>
      </div>
    <% end %>
    <% unless document.abstract.nil? %>
      <div class="small">
        <strong>Abstract: </strong>
        <%= truncate(document.abstract, :length => 170,  :separator => ' ') do "..." end %>
      </div>
    <% end %>
    <aside class="info">
      <div><strong>Depositor: </strong><%= document.depositor %></div>
      <% if !document.dateAccepted_s.nil? %>
          <div><strong>Date accepted: </strong><%= document.dateAccepted_s %></div>
      <% elsif !document.datePublished_s.nil? %>
          <div><strong>Date published: </strong><%= document.datePublished_s %></div>
      <% end %>
      <div><strong>Reviewer: </strong><%= document.submission_workflow_current_reviewer_id %> </div>
      <% if !document.submission_workflow_all_email_threads.nil? %>
        <div><strong>RT tickets: </strong>
        <% document.submission_workflow_all_email_threads.each do |email| %>
          <% link = "#{Sufia.config.rt_server}Ticket/Display.html?id=#{email}" %>
          <a href="<%=link%>"><%=email%></a>
        <% end %>
        </div>
      <% end %>
    </aside>
  </div>
  <div class="buttons">
    <a href="<%= document_url(document.modelName, 'show', document.id) %>" class="button button-small light-blue">Read<%= image_tag "ora/icons/read.svg", class: "icon icon-read" %></a>
    <a href="<%= document_url(document.modelName, 'edit', document.id) %>" class="button button-small light-blue">Edit<%= image_tag "ora/icons/edit.svg", class: "icon icon-read" %></a>
    <a href="<%= document_url(document.modelName, 'delete', document.id) %>" class="button button-small light-blue">Delete<%= image_tag "ora/icons/delete.svg", class: "icon icon-read" %></a>
  </div>
</article>
