<article class="review-article">
  <div class="content">
    <%= render partial: "articles/worktype_label_show", :locals => { :worktypeLabel => document.worktypeLabel } %> 

    <span class="small"><strong>Status:</strong> <%= document.submission_workflow_status %></span>
    
    <p><%= document.abstract %></p>
    <aside class="info">
      <div><strong>Depositor:</strong> <%= document.creators.map { |author| author["name"] }.join ", " %></div>
      <div><strong>Date submitted:</strong> </div>
      <div><strong>Date accepted:</strong> </div>
      <div><strong>Reviewer:</strong> </div>
      <div><strong>ORA ID:</strong> </div>
    </aside>
  </div>
  <div class="buttons">
    <a href="<%= document_url(document.modelName, 'show', document.id) %>" class="button button-small light-blue">Read<%= image_tag "ora/icons/read.svg", class: "icon icon-read" %></a>
    <a href="<%= document_url(document.modelName, 'edit', document.id) %>" class="button button-small light-blue">Edit<%= image_tag "ora/icons/edit.svg", class: "icon icon-read" %></a>
    <a href="<%= document_url(document.modelName, 'delete', document.id) %>" class="button button-small light-blue">Delete<%= image_tag "ora/icons/delete.svg", class: "icon icon-read" %></a>
  </div>
</article>
