<%#
Copyright © 2012 The Pennsylvania State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>

  <% @page_title = application_name + " Review Submissions" %>

  <div class="row">
    <%= render :partial => 'reviewer_dashboard/search_form' %>
    <h2 class="heading1">Review dashboard</h2>
  </div>

  <% extra_head_content << render_opensearch_response_metadata.html_safe %>
  <% if params.has_key?("q") %>
    <div class="alert alert-info"><i class="icon-search icon-large"></i> You searched for: <strong><%= params[:q] %></strong></div>
  <% end %>

  <%= render :partial => 'dashboard/did_you_mean' %>
  
  <% render_pagination_info @response, :entry_name=>'item' %>

  <div class="colfull" style="text-align: right; margin-bottom: 15px">
    <hr />
    <%= render 'sort_and_per_page' %>
    <%= render 'dashboard/results_pagination' %>
  </div>
  
  <%= render :partial=>'dashboard/facets' %>

  <div class="col col5of6">
    <% if params.has_key?("q") %>
      <div class="alert alert-info"><i class="icon-search icon-large"></i> You searched for: <strong><%= params[:q] %></strong></div>
    <% end %>

    <%= render :partial => 'dashboard/did_you_mean' %>

    <%= render :partial=>'reviewer_dashboard/document_list', :locals => {:docs => @response.docs.map { |x| SolrDocument.new(x) } } %>  

    <%= render 'dashboard/results_pagination' %>
  </div>

