<div class="actions">

 <% if can? :review, :all %>
   <div class="row">
     <div class="control-group">
       <a href="<%= reviewer_dashboard_index_path %>"><button class="btn btn-large"><h2><i class="icon-dashboard icon-large"></i>&nbsp;&nbsp; Review submissions</h2></button></a>
     </div>
   </div>
 <% end %>

  <div class="well">
    <div class="row">
      <div class="control-group">
        <h2><i class="icon-list icon-large"></i>&nbsp;&nbsp; Article</h2><hr/>
        <a href="<%= new_article_path %>"><button class="btn btn-primary btn-large"><i class="icon-edit"></i>&nbsp; Add an article</button></a>
        <a href="<%= articles_path %>"><button class="btn btn-inverse btn-large"><i class="icon-list"></i>&nbsp; My recent articles</button></a>
      </div>
    </div>
  </div>
  
  <div class="well">
    <div class="row">
      <div class="control-group">
        <h2><i class="icon-hdd icon-large"></i>&nbsp;&nbsp; Data 
        <div style="float: right; margin-right:50px;"><a href="<%= dataset_agreements_path %>"><h4><i class="icon-heart-empty icon-large"></i>&nbsp;Data storage MoU</a></h4></div>
        </h2>
        <hr/>
        <a href="<%= new_dataset_path %>"><button class="btn btn-primary btn-large"><i class="icon-upload-alt"></i>&nbsp; Upload your data</button></a>
        <a href="<%= datasets_path %>"><button class="btn btn-inverse btn-large"><i class="icon-hdd"></i>&nbsp; All my data</button></a>
      </div>
    </div>
  </div>



</div>
