<%# render :partial=>'search_form' %>
<%#= render :partial=>'home_text' %>
<%= render :partial=>'/catalog/home_text' %>
<% content_for :column1 do %>
	<h2><img src="/assets/ora/icons/details.svg" class="icon"/>Publications</h2>
  <%= render :partial=>'/catalog/_action_partials/add_publications' %>
  <%= render :partial=>'/catalog/recent_publications', :locals => {:recent_publications=>@recent_publications} %>
  <%= render :partial=>'/catalog/_action_partials/list_publications' %>
<% end %>
<% content_for :column2 do %>
	<h2><img src="/assets/ora/icons/data.svg" class="icon"/>Data</h2>
  <%= render :partial=>'/catalog/_action_partials/add_datasets' %>
  <%= render :partial=>'/catalog/recent_datasets', :locals => {:recent_datasets=>@recent_datasets} %>
  <%= render :partial=>'/catalog/_action_partials/list_datasets' %>
<% end %>
