<% content_for :local_js do %>
    // setting a fixed height so that the dialog does not hop around when you get to the last small page
    //$.ui.dialog.prototype.options["height"]=window.innerHeight  *0.75
<% end %>

<% unless has_search_parameters? %>
  <%# if there are no input/search related params, display the "home" partial -%>
  <%= render 'home' %>
<% else %>

  <% @page_title = application_name + " Search Results" %>
  <% extra_head_content << render_opensearch_response_metadata.html_safe %>

  <% content_for :top do %>
    <div class="col col1of2">
      <h2>Search Results</h2>
    </div>

    <%# render 'constraints', :localized_params=>params %>

    <div class="colfull" style="text-align: right; margin-bottom: 15px">
      <hr />
      <%= render 'sort_and_per_page' %>
      <%= render 'dashboard/results_pagination' %>
    </div>
  <% end %>

  <div class="col col5of6">
    <% if params.has_key?("q") %>
      <div class="alert alert-info"><i class="icon-search icon-large"></i> You searched for: <strong><%= render_constraints(params) %></strong></div>	
    <% end %>
    <%= render :partial => 'did_you_mean' %>
    
    <%= render :partial => 'document_list' %>

    <%= render 'dashboard/results_pagination' %>

  <% content_for :sidebar do %>
    <%= render :partial=>'dashboard/facets' %>
  <% end %>

<% end %>

