<div class="tab-pane" id="describetab">
  <%= form_for(@article) do |f| %>
    <%= hidden_field_tag(:pid, @pid) %>
    <%= hidden_field_tag('redirect_tab', 'describetab') %>
    <div class="well">
      <div class="row">
        <div class="control-group">
          <%= render partial: "shared/work_type_fields_edit", :locals => { :f => f, :worktype => @article.worktype } %>
          <%= render partial: "articles/_edit_detailed/describe_fields_edit", as: :article, :locals => { :f => f } %>
          <%= render partial: "shared/mads_language_fields_edit", :locals => { :f => f, :language => @article.language } %>
          <%= render partial: "shared/mads_subject_fields_edit", :locals => { :f => f, :subject => @article.subject } %>
          <div class="actions">
            <%= f.submit "Save article description", class: "btn btn-success" %>
          </div><!-- /.actions -->
        </div><!-- /.control-group -->
      </div> <!-- /.row -->
    </div> <!-- /.well -->
  <% end %>
</div>

<div class="tab-pane" id="creatorstab">
  <%= form_for(@article) do |f| %>
    <%= hidden_field_tag(:pid, @pid) %>
    <%= hidden_field_tag('redirect_tab', 'creatorstab') %>
    <div class="well">
      <div class="row">
        <div class="control-group">
          <%= render partial: 'shared/creation_activity_fields_edit', :locals => { :f => f, :creation => @article.creation, :label => "creator" } %>
          <div class="actions">
            <%= f.submit "Save creator information", class: "btn btn-success" %>
          </div><!-- /.actions -->
        </div><!-- /.control-group -->
      </div> <!-- /.row -->
    </div> <!-- /.well -->
  <% end %>
</div>

<div class="tab-pane" id="publicationtab">
  <%= form_for(@article) do |f| %>
    <%= hidden_field_tag(:pid, @pid) %>
    <%= hidden_field_tag('redirect_tab', 'publicationtab') %>
    <div class="well">
      <div class="row">
        <div class="control-group">
          <%= render partial: 'shared/publication_activity/article_fields_edit', :locals => { :f => f, :publication => @article.publication } %>
          <div class="actions">
            <%= f.submit "Save publication information", class: "btn btn-success" %>
          </div><!-- /.actions -->
        </div><!-- /.control-group -->
      </div> <!-- /.row -->
    </div> <!-- /.well -->
  <% end %>
</div>

<div class="tab-pane" id="funderstab">
  <%= form_for(@article) do |f| %>
    <%= hidden_field_tag(:pid, @pid) %>
    <%= hidden_field_tag('redirect_tab', 'funderstab') %>
    <div class="well">
      <div class="row">
        <div class="control-group">
          <%= render partial: 'shared/funding_activity_fields_edit', :locals => { :f => f, :funding => @article.funding } %>
          <div class="actions">
            <%= f.submit "Save funder information", class: "btn btn-success" %>
          </div><!-- /.actions -->
        </div><!-- /.control-group -->
      </div> <!-- /.row -->
    </div> <!-- /.well -->
  <% end %>
</div>

<div class="tab-pane" id="moreinfotab">
  <%= form_for(@article) do |f| %>
    <%= hidden_field_tag(:pid, @pid) %>
    <%= hidden_field_tag('redirect_tab', 'moreinfotab') %>
    <div class="well">
      <div class="row">
        <div class="control-group">
          <%= render partial: 'shared/relation_fields_edit', :locals => { :f => f, :qualifiedRelation => @article.qualifiedRelation } %>
          <div class="actions">
            <%= f.submit "Save information", class: "btn btn-success" %>
          </div><!-- /.actions -->
        </div><!-- /.control-group -->
      </div> <!-- /.row -->
    </div> <!-- /.well -->
  <% end %>
</div>

<div class="tab-pane" id="rightstab">
  <%= form_for(@article) do |f| %>
    <%= hidden_field_tag(:pid, @pid) %>
    <%= hidden_field_tag('redirect_tab', 'rightstab') %>
    <%= render partial: "shared/rights_activity_fields_edit", :locals => { :f => f, :article => @article } %>
    <%= render partial: "articles/_edit_detailed/admin_fields_edit", :locals => { :f => f, :article => @article } %>
    <%= render partial: 'shared/embargo/embargo_fields_edit', :locals => { :f => f, :accessRights => @article.accessRights, :embargo_type => "metadata" } %>
    <%= render partial: 'shared/file_info_fields_edit', :locals => { :f => f, :article => @article } %>
    <%= render partial: "shared/permissions_edit", :locals => {:f => f, :permissions => @article.permissions, :depositor => @article.workflowMetadata.depositor[0]} %>
    <div class="actions">
      <%= f.submit "Save rights and access", class: "btn btn-success" %>
    </div><!-- /.actions -->
  <% end %>
  <%= render partial: 'shared/permissions_delete', :locals => {:permissions => @article.permissions, :depositor => @article.workflowMetadata.depositor[0], :pid => @pid} %>
</div>

<div class="tab-pane" id="workflowtab">
  <%= form_for @article, :html => {:multipart => true, :class => 'form-horizontal', :id => 'workflow'} do |f| %>
    <%= hidden_field_tag(:pid, @pid) %>
    <%= hidden_field_tag('redirect_tab', 'workflowtab') %>
    <%= render partial: 'shared/workflow_edit', :locals => { :f => f, :article => @article } %>
    <% if can? :review, :all %>
      <% buttonText = 'Save review changes' %>
    <% else %>
      <% buttonText = 'Submit for Review' %>
    <% end %>
    <div class="row form-actions" id="workflow_submit">
      <% txt = '<i class="icon-save"></i> %s'% buttonText %>
      <%= button_tag txt.html_safe, :type => 'submit', :class => 'btn-primary btn-large', :onclick => "confirmation_needed = false;", :id => "upload_submit", :name => "update_workflow" %>
    </div>
  <% end %>
</div>

