    <!-- The file upload form used as target for the file upload widget -->
      <%= hidden_field_tag(:total_upload_size, 0) %>
      <%= hidden_field_tag(:relative_path) %>
      <%= hidden_field_tag(:batch_id, @batch_noid) %>
      <%= hidden_field_tag "file_coming_from", "local" %>
      <%= render partial: 'generic_files/upload/tos_checkbox' %>
        <!-- The table listing the files available for upload/download -->
        <table id="file-table" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>

