<% if @model == "dataset_agreement" %>
  <% label = "dataset agreement" %>
  <% plural = "dataset agreements" %>
<% elsif @model == 'article' || @model == 'thesis' %>
  <% label = @model %>
  <% plural = "publications" %>
<% else %>
  <% label = @model %>
  <% plural = @model.pluralize %>
<% end %>
<div class="actions" style="padding: 0px 10px 20px;">
  <a href="<%= path[:show] %>" class="button button-small light-blue">View <%=label%></a>
  <a href="<%= path[:show] %>" class="button button-small light-blue"data-method="delete" data-confirm="Are you sure?">Delete <%=label%></a>
  <a href="<%= path[:list] %>" class="button button-small light-blue">My <%=plural%></a>
</div>

