<% if @model == "dataset_agreement" %>
  <% label = "dataset agreement" %>
  <% plural = "dataset agreements" %>
<% else %>
  <% label = @model %>
  <% plural = @model.pluralize %>
<% end %>
<div class="actions">
  <a href="<%= path[:show] %>"><button class="btn btn-primary"><i class="icon-check"></i>&nbsp; View <%=label%></button></a>
  <a href="<%= path[:show] %>" data-method="delete" data-confirm="Are you sure?"><button class="btn btn-warning"><i class="icon-remove"></i>&nbsp; Delete <%=label%></button></a>
  <a href="<%= path[:list] %>"><button class="btn btn-inverse"><i class="icon-list"></i>&nbsp; My <%=plural%></button></a>
</div>

