<% if @model == "dataset_agreement" %>
  <% plural = "dataset agreements" %>
<% elsif @model == 'article' || @model == 'thesis' %>
  <% plural = "publications" %>
<% else %>
  <% plural = @model.pluralize %>
<% end %>
<a href="<%= path[:list] %>" class="button button-small light-blue">My <%=plural%> <img src="/assets/ora/icons/read.svg"/ class="icon icon-read"></a>
<% if can? :review, :all %>
  <% if Sufia.config.next_workflow_status.keys.include?(current_status) %>
    <a href="<%= path[:edit] %>" class="button button-small light-blue">Edit <img src="/assets/ora/icons/edit.svg" class="icon icon-edit"/></a>
    <a href="<%= path[:show] %>" data-method="delete" data-confirm="Are you sure?" class="button button-small light-blue">Delete <img src="/assets/ora/icons/delete.svg" class="icon icon-delete"/></a>
  <% end %>
<% elsif can? :edit, document_id %>
  <% if Sufia.config.user_edit_status.include? current_status %>
    <a href="<%= path[:edit] %>" class="button button-small light-blue">Edit <img src="/assets/ora/icons/edit.svg" class="icon icon-edit"/></a>
    <a href="<%= path[:show] %>" data-method="delete" data-confirm="Are you sure?" class="button button-small light-blue">Delete <img src="/assets/ora/icons/delete.svg" class="icon icon-delete"/></a>
  <% end %>
<% end %>
