<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => "layouts/head_tag_content"%>
  </head>

  <body> 
    <div class="wrapper">
      <%= render :partial => '/masthead', :formats => [:html] %>
      <%= render :partial => '/flash_msg' %>
      <section class="main-content">
        <div class="container">
          <header class="content-header">
            <a href="/"><%= image_tag "ora/core/logo-myora.svg", alt: "MyOra", class: "float-left" %></a>
            <%= render :partial=>'catalog/search_form' %>
          </header>
        </div>

